@use "../../global-variables";
@use "../../mq";
@use "../../bootstrap";

.pages-app .dock-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  > .logo {
    margin: 2.5rem auto;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    color: global-variables.$color-brand-700;
    font-size: bootstrap.$font-size-3xl;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
    padding: 0.625rem 0;
    border-radius: 1rem;
    border: solid 1px global-variables.$color-brand-700;
  }
  > .leading {
    font-size: bootstrap.$font-size-xl;
    font-weight: 700;
    letter-spacing: -0.25px;
    line-height: 2.375rem;
    max-width: 700px;
  }
  > .guide {
    margin-bottom: 4rem;
    font-size: bootstrap.$font-size-sm;
    line-height: bootstrap.$font-size-sm;
    color: global-variables.$color-gray-800;
    overflow-wrap: break-word;
    word-break: keep-all;
    padding: 0 2rem;
    text-align: center;
    line-height: 1.1rem;
  }
  > .go,
  > .groups-panel,
  > .nav-box {
    width: 37.5rem;
    max-width: 37.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    border-radius: 4px;
    @include mq.media("<=tablet") {
      width: calc(100% - 2rem);
    }
  }
  > .go {
    > .error {
      font-size: bootstrap.$font-size-sm;
      line-height: bootstrap.$font-size-sm;
      color: global-variables.$color-red-500;
      margin-top: .5rem;
    }
  }
}
