@use '../../global-variables';

.station-app .group-menu {
  padding: 0 1rem;
  background-color: global-variables.$color-magenta;
  border-bottom: 2px solid global-variables.$color-magenta-dark;
  cursor: pointer;
  > .title {
    font-weight: 900;
    color: #ffffff;
  }
}