@use "../../bootstrap";
@use "../station-variables";

.station-app .group-navitem {
  display: block;
  > .icon {
    border: 4px solid transparent;
    border-radius: 8px;
    width: 100% - (station-variables.$station-navbar-margin-x * 2);
    margin: 0 station-variables.$station-navbar-margin-x;
  }
  &.-active > .icon {
    border-color: #fff;
  }
}