@use "../station-variables";

.station-app .station-playground {
  padding-top: station-variables.$header-height;
  > .station-header {
    position: fixed;
    top: 0;
    left: station-variables.$station-navbar-width;
    height: station-variables.$header-height;
    width: 100%;
  }
  > .station-body {
    height: 100%;
  }
}