- folders.each do |folder|
  - has_children = folder.children_count > 0
  %li.line{ data: { controller: ('content-toggle' if has_children), 'content-toggle': { 'id': "folder-lines-parent-folder-#{folder.id}", 'force-collapsed': (folder.issue != current_folder&.issue ? 'hide' : false) }, 'group-sidebar-listener-folder-id': folder.id, target: 'group-sidebar-listener.folderCollapse', action: 'group-sidebar-collapse-show->content-toggle#show group-sidebar-collapse-hide->content-toggle#hide' } }
    = link_to front_channel_path(folder.issue, folder_id: folder.id), class: ['link', ('-active' if folder == current_folder)], data: { action: 'click->collection-activation#toggle group-sidebar-activation->collection-activation#toggle', target: 'collection-activation.item group-sidebar-listener.folderActivation', 'group-sidebar-listener-folder-id': folder.id }, style: "padding-left: #{1.25 * depth + 0.5}rem" do
      .icon{ class: ('-disabled' unless has_children), data: { action: ('click->content-toggle#toggle$' if has_children) } }
        %i.fa.fa-fw.-hide{ data: { target: ('content-toggle.content' if has_children) } }
      .title
        .content{ data: { controller: 'ellipsis-tooltip', action: 'mouseenter->ellipsis-tooltip#show' }, title: folder.title }= folder.title
    - if folder.children.any?
      %ul.folder-lines.-hide{ data: { target: 'content-toggle.content' } }
        = render 'front/pages/group_sidebar/folder_lines', current_folder: current_folder, folders: folder.children, depth: depth + 1
