.post-upvote-count{class: "#{dom_id(upvotable)}-upvote-counts"}
  - unless upvotable.class.name == "Comment"
    공감 #{upvotable.upvotes.count}
  - else
    - if upvotable.upvotes.count > 0
      %i.fa.fa-heart
      #{upvotable.upvotes.count}
