%span{class: "#{dom_id(upvotable)}-upvote"}
  - if !user_signed_in? or local_assigns[:unsigned]
    = link_to '#', data: { toggle: 'parti-login-overlay' }, class: 'upvote' do
      - unless upvotable.class.name == "Comment"
        %i.fa.fa-heart
      공감해요
  - elsif upvotable.upvoted_by? current_user
    = link_to [:cancel, upvotable, :upvotes], method: :delete, remote: true, class: 'upvote upvote-liked' do
      - unless upvotable.class.name == "Comment"
        %i.fa.fa-heart
        공감해요
      - else
        공감취소
  - else
    = link_to [upvotable, :upvotes], method: :post, remote: true, class: 'upvote' do
      - unless upvotable.class.name == "Comment"
        %i.fa.fa-heart
      공감해요
