- popover_placement = browser.device.mobile? ? 'auto' : 'right'
.post-upvote-count{class: "#{dom_id(upvotable)}-upvote-counts #{'post-upvote-count--any' if upvotable.upvotes_count > 0}", data: { action: 'parti-popover', type: 'async', url: polymorphic_path([:users, upvotable, :upvotes]), trigger: 'hover', placement: popover_placement } }
  - if upvotable.upvotes_count > 0
    %span.cursor-pointer{class: "#{'upvoted' if upvotable.upvoted_by? (current_user)}"}
      %i.fa.fa-heart
      #{upvotable.upvotes_count}


