%section.parti-watch-recommend--header
  .container
    %a#btn-continue.disabled
      빠띠 시작하기
    %h2.text-primary
      어떤 이슈의 빠띠를 키워 보시겠어요?
    %p
      평소에 관심을 가지던 이슈의 빠띠를 #{Issue.min_watched_issues_count(current_group)}개 이상 골라 보세요.

%section.parti-watch-recommend--issues
  .container
    .row
      - @issues.each do |issue|
        - unless issue.made_by?(current_user)
          .col-sm-3.col-xs-6
            .issue-card-wrapper
              = render 'issues/card_in_intro', issue: issue

.modal.fade.in.parti-watch-recommend--modal#parti-intro{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content(style="background: transparent; border: none; box-shadow: none; -webkit-box-shadow: none;")
      .modal-body.text-center
        %h2.text-primary
          @#{current_user.nickname}님 만나서 반가워요.
        %p
          빠띠는 내 관심사에 맞는 빠띠를 추천하고
          %br
          논의, 찬반토론, 링크, 자료, 응원한마디를
          %br.visible-xs
          업데이트 해줍니다.
          %br
          관심사를 알려주시면 설정을 도와드릴게요!

        %button.btn.btn-primary.btn-lg{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          시작해볼까요?

- content_for :script do
  :javascript
    $(function(){
      $('#parti-intro').modal();
    });
