#main.collapse
  %section.parti-member-recommend--header
    .container
      #header-before-select-tags
        .media
          .media-body
            %h2.text-primary
              %span
                먼저
              %b<>
                #{current_user.nickname}
              님이 관심있는 분야를 선택해보세요.
            %p.select-interest-title
              선택하신 관심분야를 기준으로 관련된 빠띠를 추천해드릴게요.
          .media-right
            %a.btn.btn-primary.btn-primary-dark#btn-go-select-parties{href: '#', data: {action: 'parti-select-parties', 'disable-with': '처리 중...'}}
              계속하기
      #header-after-select-tags

  #parti-cards

  %section.parti-member-recommend--select-interest
    .container
      %h3.parti-member-recommend-title
        내 관심사는 무엇인가요?
      .issue-tag-list
        - @issue_tag_names.each do |tag|
          .issue-tag.btn.btn-primary{data: {action: 'parti-select-interested-tag'}}
            = tag

.modal.fade.in.parti-member-recommend--modal#parti-intro{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content(style="background: transparent; border: none; box-shadow: none; -webkit-box-shadow: none;")
      .modal-body.text-center
        %h2.text-primary
          %b<>
            #{current_user.nickname}
          님 만나서 반가워요.
        %p
          민주적 일상 커뮤니티 '빠띠'!
          %br
          내가 관심있는 이슈로 파티하듯 수다를 떠는 곳입니다.
          %br
          관심사를 알려주시면 설정을 도와드릴게요!

        %button.btn.btn-primary.btn-lg{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          시작해볼까요?

- content_for :script do
  :javascript
    $(function(){
      $('#parti-intro').modal();
      $('#parti-intro').on('hide.bs.modal', function () {
        $('#main').show();
      });
    });
