%section.issue-header-section
  %section#issue.issue-header-txt
    %h3.text-primary
      아직 구독한 빠띠가 없네요. 어떤 빠띠를 키워 보시겠어요?
    %h4
      @#{current_user.nickname}님의 관심으로 빠띠를 키워보세요.
    %a.btn#btn-continue.disabled{href: '/'}
      내 홈으로 이동하기

%section.parties-all#issues
  .container
    / .nav-tabs.page-title
    /   %h4 내가 구독 중인 빠띠
    / - if current_user.watched_issues.count == 0
    /   %p.parties-text 아직 구독한 빠띠가 없네요, 아래에서 골라보세요!
    / - else
    /   %ul.issue-card-wrapper.list-unstyled.clearfix
    /     - current_user.watched_issues.each do |issue|
    /       = render 'issues/card', issue: issue
    /     %li.issue-card.issue-card--more
    /       %a{href: '#issues-all'}
    /         = image_tag 'icon_plus.png'

    %ul.issue-card-wrapper.issue-list--6.list-unstyled.clearfix
      - @unwatched_issues.each do |issue|
        = render 'issues/card', issue: issue
