%section.issue-header-section
  %section#issue.issue-header-txt
    %h3
      우선, 눈길이 가는 빠띠를 구독해보세요.
      %br
      내 빠띠에서 쉽게 새 글을 확인하고, 매일 아침 메일로 받아보는 빠띠 소식!
    %a#btn-continue{href: '/'}
      계속하기

%section.parties-all#issues
  .container
    / .nav-tabs.page-title
    /   %h4 내가 구독 중인 빠띠
    / - if current_user.watched_issues.count == 0
    /   %p.parties-text 아직 구독한 빠띠가 없네요, 아래에서 골라보세요!
    / - else
    /   %ul.issue-card-wrapper.list-unstyled.clearfix
    /     - current_user.watched_issues.each do |issue|
    /       = render 'issues/card', issue: issue
    /     %li.issue-card.issue-card--more
    /       %a{href: '#issues-all'}
    /         = image_tag 'icon_plus.png'

    %ul.issue-card-wrapper.issue-list--6.list-unstyled.clearfix
      - @unwatched_issues.each do |issue|
        = render 'issues/card', issue: issue