%section#posts
  .container
    .row
      - unless is_mobile?
        = render 'aside'
      .col-xs-9
        .nav-tabs.message-tab{ style: 'margin-bottom: 20px;' }
          %h4
            내 빠띠
            .count-label-wrapper
              .count-label
                = @issues.count

        .parties
          %ul.issue-card-wrapper.list-unstyled
            - if @issues.empty?
              .bg-default
                %i.fa.fa-info-circle
                참여한 빠띠가 없습니다.
            - else
              - @issues.each do |issue|
                = render 'issues/card', issue: issue
