%section#posts
  .container
    .row
      - unless is_mobile?
        = render 'aside'
      .col-xs-9
        = render 'posts/new_form', issue: Issue::OF_ALL
        - if @posts.first.present?
          = render 'comments/new_comments_count', new_comments_count_url: new_dashboard_comments_count_path(first_id: @last_comment.id)
        .posts.bg-line{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              아직 글이 없습니다.
          - else
            = render 'dashboard/posts_page'
        .page_waypoint.text-center{'data-target': '.posts.bg-line', 'data-url': dashboard_path(format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
