@import "variables_xs";
@import "groups/syp/variables_syp";
@import "groups/syp/syp";

#site-header .navbar-header .navbar-brand img {
  width: 30px;
}

section#home {
  margin-top: 30px;
}

#group-home-submenu{
  margin-top:0px !important;
}
