%span
  #{comment.post.specific.class.model_name.human}
%span
  %strong>= link_to excerpt(comment.post.specific_desc, length: 100), comment.post.specific
  의
%span
  - if comment.mentioned?(message.user)
    댓글에서 나를 언급했습니다
  - else
    댓글을 작성했습니다.
  \:
%span
  = link_to excerpt(comment.body, length: 100), comment.post.specific
