%span
  #{comment.post.specific.class.model_name.human}
%span
  %strong>= link_to truncate(strip_tags(comment.post.specific_desc), length: 100), comment.post.specific
  의
%span
  - if comment.mentioned?(message.user)
    댓글에서
    %strong @멘션
    했습니다."
  - else
    댓글을 작성했습니다.
%span
  "#{link_to("#{truncate(strip_tags(comment.body), length: 100)}", comment.post.specific)}"
