%span
  #{comment.post.specific.class.model_name.human}
%span
  %strong>= link_to excerpt(comment.post.specific_desc, length: 100), comment.post.specific
  의
%span
  - if comment.mentioned?(message.user)
    수다에서
    %strong 댓글
    보냈습니다.
  - else
    수다를 작성했습니다.
%span
  = link_to excerpt(comment.body, length: 100), comment.post.specific
