.nav-tabs.message-tab
  %h4
    알림
    .count-label-wrapper
      .count-label
        = @user.messages.count
        - if @user.messages.latest.any?
          %small.text-primary
            +#{@user.messages.latest.count}

