%div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_issue_home_url(invitation.issue) } }
  %span
    #{invitation.user.nickname}님이
    %strong
      #{invitation.issue.title}
      채널에 초대했습니다.
    = render 'messages/go'
