%div{id: "#{dom_id(message)}-url-source", data: { url: issue_home_url(member.issue) } }
  %strong
    #{member.user.nickname}님이
    = link_to member.issue.title, issue_home_url(member.issue)
    빠띠에 가입합니다.
