%section#messages-header-section
  .container
    .jumbotron.jumbotron-transparent
      %h4
        %i.fa.fa-at>
        = current_user.nickname
        %span{ style: 'font-weight: 100'}
          님의 알람
      %p
        빠띠에서 보내는 알람입니다.
