%section#messages-header-section
  .container
    .jumbotron.jumbotron-transparent
      %h4
        %i.fa.fa-at>
        = current_user.nickname
        %span{ style: 'font-weight: 100'}
          님의 알람
      %p
        업데이트된 빠띠 활동 내역을 알려드립니다.
