- survey = message.messagable
- post = survey.post
%div{id: "#{dom_id(message)}-url-source", data: { 'link-url': smart_post_url(post, format: :js, assigns: to_json_primitive_only(show_issue: true, show_group: true), dom_id: splited_post_dom_id), 'link-type': 'remote', 'link-parti-remote-loading': "##{splited_post_dom_id}" } }
  %strong
    %span
      #{post.user.nickname}님이 올린 설문의 결과가 나왔습니다.
  %br
    = post.specific_desc_striped_tags(100)
