%section.contents-page
  .container
    .row
      = main_column_tag do
        = render 'application/my_home_tab'

        .message-list
          = render partial: 'messages/message', collection: @messages, locals: { mention_only_page: (params[:action] == 'mentions')}
        = paginate @messages, theme: 'catan'
