%section#posts
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          = render 'content_tabs'
        .message-list
          = render @messages
        = paginate @messages, theme: 'catan'
      = render 'dashboard/aside'

