%section#posts
  .container
    .row
      .hidden-xs
        = render 'dashboard/aside'
      .col-xs-9
        %section#content-tab-section
          = render 'messages/content_tabs'
        .message-list
          = render @messages
        = paginate @messages, theme: 'catan'
