%section.posts-page#posts
  .container
    .row
      .col-xs-12.col-sm-8
        = render 'application/my_home_tab'

        .message-list
          = render @messages
        = paginate @messages, theme: 'catan'
      .hidden-xs
        = render 'application/aside'
