- content_for(:header) do
  %div{:style => "font-size: 20px; color: rgb(249, 249, 249);"}
    %strong #{@user.nickname}님의 빠띠 새소식
  %div{:style => "color: rgb(249, 249, 249);"}
    #{@post_day}

- @yesterday_data.each do |issue, posts|
  - next if posts.empty?

  %div{:style => "overflow: hidden; margin: 0px auto; padding: 0px; max-width: 620px; clear: both;"}

    %div{:style => "padding: 5px 0px; text-align: left; line-height: 1.8; border-style: solid; border-width: 0px;"}
      %div{:style => "padding: 0px 5px;"}
        %div{:style => "padding: 0 10px;"}
          %div{:style => "font-size: 14px; font-family: AppleSDGothic, \"apple sd gothic neo\", \"noto sans korean\", \"noto sans korean regular\", \"noto sans cjk kr\", \"noto sans cjk\", \"nanum gothic\", \"malgun gothic\", dotum, sans-serif; color: rgb(51, 51, 51); padding: 0px; margin: 0px; text-align: left;"}
            %span{:style => "color: rgb(99, 60, 163); font-size: 16px;"}
              #{issue.title} 빠띠

  = render customize_partial_path(posts, 'post_in_email'), hide_parti_button: true, hide_issue_title: true

