.posts
  .row.masonry-container
    - if user_signed_in?
      .col-sm-4
        = render 'notes/new_form', issue: @issue

    - postables.each do |postable|
      = render postable, show_issue: local_assigns[:show_issue]
