.posts
  .row.masonry-container{data: {last_id: @notes.last.try(:id), is_last: @is_last_page.to_s}}
    - if user_signed_in?
      .col-sm-4.col-xs-12.card
        = render 'notes/new_form', issue: @issue

    - postables.each do |postable|
      = render postable, show_issue: local_assigns[:show_issue]

  - if !user_signed_in? and postables.empty?
    .bg-default.text-center
      %i.fa.fa-info-circle
      가장 먼저 한마디 남겨보세요.
