- has_blinds = false
- @posts.each do |post|
  - unless post.blinded?(current_user) or post.private_blocked?(current_user)
    .col-xs-12.col-sm-4.card.card--hover-grow
      - if post.poll.present?
        = render 'polls/poll', local_assigns.merge(poll: post.poll)
      - elsif post.survey.present?
        = render 'surveys/survey', local_assigns.merge(survey: post.survey, post: post)
  - else
    - has_blinds = true
