- has_blinds = false
- posts.each do |post|
  - unless post.blinded?(current_user) or post.private_blocked?(current_user)
    .col-xs-12.col-sm-4.col-md-4.card.card--hover-grow
      - if post.poll.present?
        = render 'polls/poll', local_assigns.merge(poll: post.poll, post: post)
      - elsif post.survey.present?
        = render 'surveys/survey', local_assigns.merge(survey: post.survey, post: post)
  - else
    - has_blinds = true
- if has_blinds
  .card.col-xs-12.col-sm-4
    .reference-card
      .caption
        .info-body
          %i.fa.fa-info-circle
          = t('labels.blind_info')
