- sm_columns_count = local_assigns[:sm_columns_count] || 3
- col_sm = "col-sm-#{12/sm_columns_count}"
- has_blinds = false
- posts.each do |post|
  - unless post.blinded?(current_user) or post.private_blocked?(current_user)
    .col-xs-12.card.card--hover-grow{ class: col_sm }
      - if post.poll.present?
        = render 'polls/poll', local_assigns.merge(poll: post.poll, post: post, show_decision: true)
      - elsif post.survey.present?
        = render 'surveys/survey', local_assigns.merge(survey: post.survey, post: post, show_decision: true)
  - else
    - has_blinds = true
- if has_blinds
  .card.col-xs-12{ class: col_sm }
    .reference-card
      .caption
        .info-body
          %i.fa.fa-info-circle
          = t('labels.blind_info')
