= render 'top_banner'

%section#opinions
  .container
    %h4
      = t('activerecord.models.opinion')
      %small 모든 빠띠의 최근 #{t('activerecord.models.opinion')}입니다.
    .row.masonry-container{data: {last_id: @opinions.last.try(:id), is_last: @is_last_page.to_s}}
      = render 'issues/slug_opinions_page', show_issue: true
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': opinions_path(format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse
