@import "variables";
@import "groups/eduhope/variables_eduhope";
@import "groups/eduhope/eduhope";

section#home {
  margin-top: 24px;
}
.key-page{
  padding-top: 100px;
  small{
    color: white;
  }
  button{
    margin-top: 10px;
  }
}
