@import "variables_xs";
@import "groups/eduhope/variables_eduhope";
@import "groups/eduhope/eduhope";

#site-header .navbar-header .navbar-brand img {
  width: 30px;
}

section#home {
  margin-top: 0;
}

.key-page{
  height: 200px;
  background-image: none !important;
  background-color: darken($brand-primary, 30%);
  h2{
    margin-bottom: 20px;
    line-height: 40px;
  }
  small{
    color: white;
  }
  button{
    margin-top: 10px;
  }
  .container{
    height: 100%;
  }
}
