@import "variables_xs";
@import "groups/eduhope/variables_eduhope";
@import "groups/eduhope/eduhope";

#site-header .navbar-header .navbar-brand img {
  width: 30px;
}

section#home {
  margin-top: 30px;
}
.key-page{
  h2{
    margin-bottom: 20px;
    line-height: 40px;
  }
  small{
    display: none;
  }
  button{
    margin-top: 10px;
  }
  .container{
    padding-top: 50px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
  }
}
