@import "variables";
@import "groups/eduhope/variables_eduhope";
@import "groups/eduhope/eduhope";

.key-page{
  background-size: contain;
  background-position: center;
  background-color: #2b2a2a;
  background-repeat: no-repeat;
  padding-top: 100px;
  small{
    color: white;
  }
  button{
    margin-top: 5px;
  }
  .button-area{
    text-align: center;
    margin-left: 20px;
    margin-top: 130px;
  }
}
