@import "variables";
@import "groups/eduhope/variables_eduhope";
@import "groups/eduhope/eduhope";

section#home {
  margin-top: 24px;
}

#site-header .navbar-header .navbar-brand img {
  height: 20px;
  width: auto;
}

