%section.text-center
  %h3
    %i.fa.fa-user
    #{@user.nickname} 프로필

.simple-box
  .card
    .card-body.clean-p-parent
      - if @member.present?
        != simple_format h(@member.description)
      - else
        %i.fa.fa-info-circle
        손님입니다.

    .card-footer.text-muted
      = link_to smart_user_gallery_url(@user), target: '_blank', class: 'card-link' do
        %i.fa.fa-external-link
        빠띠 프로필 보기



