.member-user
  .title
    %span.usernickname #{@user.nickname}
    %span.memberrole #{@member&.role}
  .main
    - if @member.present?
      - if @member.description.present?
        = simple_format h(@member.description)
      - else
        %p #{@user.nickname}입니다.
    - else
      %i.fa.fa-info-circle
      손님입니다.


