@import "variables";
@import "groups/cairos/variables_cairos";
@import "groups/cairos/cairos";

section#home {
  margin-top: 24px;
}

#site-header .navbar-header .navbar-brand img {
  height: 20px;
  width: auto;
}

