- bookmark ||= local_assigns[:bookmark].presence || bookmarkable.current_user_bookmark
- if can?(:bookmark, bookmarkable)
  .reaction{ data: { controller: 'content-replacement' } }
    - if bookmark.present? && bookmark.persisted?
      = link_to front_bookmark_path(bookmark, for: 'reaction'), method: :delete, remote: true, data: { disable_with: "...", target: 'content-replacement.link' }, class: 'link -active' do
        북마크
        %i.fa.fa-bookmark
    - else
      = link_to front_bookmarks_path(bookmark: { bookmarkable_id: bookmarkable.id, bookmarkable_type: bookmarkable.class.to_s }, for: 'reaction'), method: :post, remote: true, data: { disable_with: "...", target: 'content-replacement.link' }, class: 'link' do
        북마크
        %i.fa.fa-bookmark-o