.key-page
  .key-page-desc
    .key-page-subtitle
      원이슈 프로젝트 정당 - 일인당
    .key-page-title
      1인가구의 권리와 삶의 질을 위한
      %br
      커뮤니티 공간을 만든당

    .key-page-buttons
      %button.btn.btn-primary{onclick:"location.href='https://alone.parti.xyz/posts/26925'"}
        당원 가입 안내
      %button.btn.btn-danger{onclick:"location.href='https://alone.parti.xyz/posts/26785'"}
        강령 살펴보기
      .more
        %a(href="https://alone.parti.xyz/posts/25106")
          더 자세한 내용이 궁금하세요?
          %u 살펴보기

    .key-page-footer
      %span.visible-xs-block
      %ul.list-unstyled.list-inline
        %li
          %a(href="https://alone.parti.xyz/posts/24613")
            = image_tag 'groups/alone/logo_black.png', style: 'height: 1.2em; vertical-align: middle;'
            %span.small 일인당이란?
        %li.cursor-pointer
          %a(href="https://www.facebook.com/aloneparti/" target="_blank")
            %i.fa.fa-facebook
        / %li.cursor-pointer{onclick:"window.open('https://facebook.com/PartiUnion')"}
        /   %i.fa.fa-instagram
        %li
          %a(href='mailto:contact@parti.xyz')
            %i.fa.fa-envelope
