.key-page
  .key-page-desc
    .key-page-subtitle
      일인당 첫 모임 
    .key-page-title
      내가 그리는 1인가구 공동공간

    .key-page-subject.text-basic-wrap
      %p
        내가 만들고 싶은 1인가구 공동공간은?
        %br
        일인당에 대한 아이디어를 나누는 첫 모임에 초대합니다! 

      %ul.list-unstyled.text-left{ style: 'display: inline-block;' }
        %li
          %span{ style: 'width: 6em; white-space: nowrap; display: inline-block;' }
            * 언제요?
          %span 11/30 금요일 저녁 7시
        %li
          %span{ style: 'width: 6em; white-space: nowrap; display: inline-block;' }
            * 어디서요?
          %span
            %a(href="http://dmaps.kr/degq2" target="_blank")
              아시티스 (관악구 쑥고개로 122) 
              %i.fa.fa-map-o

    .key-page-buttons
      %button.btn.btn-primary{onclick:"location.href='https://alone.parti.xyz/posts/24557'"}
        %span.hidden-xs 지금
        참가신청하기
      - if user_signed_in?
        = link_to new_post_path(issue_id: 890), remote: true, data: { 'disable-with': '작성 창 여는 중...' }, class: 'btn btn-danger' do
          아이디어 작성하기
      - else
        %button.btn.btn-danger{ data: { toggle: 'parti-login-overlay' } }
          아이디어 작성하기
      .more
        %a(href="https://alone.parti.xyz/posts/24613")
          더 자세한 내용이 궁금하세요?
          %u 살펴보기

    .key-page-footer
      %span.visible-xs-block
      %ul.list-unstyled.list-inline
        %li
          %a(href="https://alone.parti.xyz/posts/24613")
            = image_tag 'groups/alone/logo_black.png', style: 'height: 1.2em; vertical-align: middle;'
            %span.small 일인당이란?
        %li.cursor-pointer
          %a(href="https://www.facebook.com/aloneparti/" target="_blank")
            %i.fa.fa-facebook
        / %li.cursor-pointer{onclick:"window.open('https://facebook.com/PartiUnion')"}
        /   %i.fa.fa-instagram
        %li
          %a(href='mailto:contact@parti.xyz')
            %i.fa.fa-envelope
