$brand-primary:         #53B136
$brand-light:           mix(white,$brand-primary, 10%)
$brand-primary-light:   mix(white,$brand-primary, 75%)
$brand-primary-lighter: mix(white, $brand-primary, 90%)
$brand-primary-dark:    darken($brand-primary, 15%)
$brand-primary-darker:  darken($brand-primary, 40%)
