.message-configuration-form{ data: { controller: 'content-replacement' } }
  - issue_observation = MessageConfiguration::IssueObservation.of(current_user, current_issue)
  - if issue_observation.persisted?
    = render 'front/message_configurations/observation/form', observation: issue_observation
    %hr
    채널 알림 설정을 지우고 그룹 알림 설정을 따릅니다.
    = link_to '채널 알림 설정 삭제', front_message_configuration_issue_observation_path(issue_observation, issue_id: current_issue.id), method: :delete, remote: true, data: { disable_with: '삭제 중...', confirm: '정말 삭제하시겠습니까?', target: 'content-replacement.link' }, class: 'btn btn-white btn-block btn-sm'
  - else
    그룹 알림 설정에 따라 알림을 받고 있습니다.
    = link_to '그룹 알림 설정으로 이동', front_messages_path(anchor: :message_configuration), class: 'btn btn-white btn-block btn-sm'
    %hr
    이 채널에 맞춘 알림을 설정합니다.
    = link_to '채널 알림 설정 만들기', front_message_configuration_issue_observations_path(issue_id: current_issue.id), remote: true, method: :post, class: 'btn btn-white btn-block btn-sm', data: { disable_with: '생성 중...', target: 'content-replacement.link' }