- content_for(:head) do
  %strong
    안녕하세요. #{@user.nickname}님!
    %br
    함께 만드는 온라인 광장
    %br
    빠띠에서 보내드리는 소식입니다.

- if @hottest_posts.any?
  %table(width="100%" style="text-align: left;")
    %tbody
      %tr
        %td
          %h3 따끈한 글
      %tr
        %td
          = render customize_partial_path(@hottest_posts, 'post_in_email')
