%section.text-center
  .container
    %h3.text-keepall
      \#
      채널 만들기

    .simple-box.mb-3
      .card.mb-4
        .card-body
          = render 'form', current_issue: Issue.new(category: @current_category)
