- modal_data = local_assigns[:in_modal] ? {} : { toggle: "parti-post-modal", target: '#post-modal', url: polymorphic_url(post.specific) }
- if post.comments_count > 2 and !local_assigns[:in_modal]
  .more{data: modal_data}
    %b>
      %i.fa.fa-comment-o
      총
      %span.post-card-with-comments__count__value #{post.comments_count}
      개의 댓글
    - unless local_assigns[:in_modal]
      \|
      %span.text-primary 이전 댓글 더보기...
