.comments
  - if comments.empty?
    .bg-default
      %i.fa.fa-info-circle
      아직 참여한 글이 없습니다.
  - else
    = render 'comments/comments_per_page', comments: comments, show_issue: local_assigns[:show_issue]

#post-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body.post__partial-content

