#new-comments{data: {action: 'parti-polling', 'polling-url': new_comments_count_url, 'polling-interval': 30000}}
  새로운 댓글
  %span.new-comments__count>
  개가 있습니다.
  = link_to '새로고침', @list_url || request.original_url
