#new-comments{data: {action: 'parti-polling', 'polling-url': new_comments_count_url, 'polling-interval': 30000}}
  확인하지 않은 타임라인이
  %span.text-primary +
  %span.new-comments__count>
  개 입니다.
  = link_to '새로고침', @list_url || request.original_url
