#aside.col-xs-3
  .aside_hottest_posts
    %h4.aside_title 인기글
    - issue = (@issue || Issue::OF_ALL)
    - issue.hottest_posts(10).each do |post|
      = render 'posts/card', card: post, show_issue: issue.is_all?
  .aside_issue
    %h4.aside_title 추천빠띠
    %ul.list-unstyled.clearfix
      = render customize_partial_path((@issue || Issue::OF_ALL).recommends, 'card')
  = render 'application/footer'
