.issue-calendar
  .container
    .row
      .col-xs-2
        %h2
          오늘의
          %br
          %b 빠띠
        = link_to '전체 빠띠', issues_path, class: 'btn btn-primary'
      .col-xs-5
        = link_to slug_issue_path('20th-assembly') do
          .calendar-box
            %h1 20대 국회
            %p
              20대 국회가 꼭 해야할 일,
              %br.mobile
              앞으로의 일.
              %br
              빠띠에서 확인하세요.
      .col-xs-5
        = link_to slug_issue_path('basic-income') do
          .calendar-box.last
            %h1 기본소득
            %p
              기본소득이 되면 무엇을 하고 싶은지,
              %br
              혹은 가능하려면 어떤 준비가 필요할까요?

