%section.parti-member-recommend--issues
  .container
    - grouping_issues = issues.group_by { |i| i.group }
    - grouping_issues.sort_by { |group,_| group.id }.each do |group, issues|
      .row
        .col-sm-12.col-xs-12
          - unless group.indie?
            .group-heading
              %h4
                #{group.head_title}
              - unless group.site_description.nil?
                .group-desc
                  #{group.site_description}
          .row
            - issues.each do |issue|
              .col-sm-3.col-xs-6#groups-all
                .issue-card-wrapper
                  = render 'issues/card_in_intro', issue: issue
