- if issue.relateds.any? or can?(:create, Related)
  %section#issue--relateds
    %h4
      %i.fa.fa-code-fork
      관련 빠띠
      %small
        - if can?(:create, Related)
          = link_to new_related_path(issue_id: issue) do
            %i.fa.fa-plus
    %div(style='margin-bottom: 10px;')
      - issue.relateds.each do |related|
        = render related

