.threaded-folders-body.background{ id: dom_id }
  .folders-root.js-folder-children.js-draggable-slug-folder-container.js-draggable-slug-folder-container-root{ class: ('js-draggable-slug-folder' if can?(:manage_folders, issue)), 'data-draggable-slug-folder-acceptable-type': 'folder', 'data-url': sort_folders_path(dom_id: dom_id), 'data-issue-id': issue.id, 'data-folder-depth': 1 }
    - Folder.threaded(folders).each do |folder|
      = render 'issues/slug_folders_item', issue: issue, parent_folder: folder, child_folders: folder.smart_children, depth: 1, dom_id: dom_id
- if folders.blank?
  .bg-default.text-center
    %i.fa.fa-info-circle
    폴더를 만들어 보세요.

  %p.help-text.text-center.text-muted
    폴더별로 게시글을 정리해 보세요.
    %br
    폴더를 먼저 만들고 나면 게시글을 작성할 수 있습니다.
