= render 'issues/issue_header', issue: @issue

%section.contents-page
  %section
    .container.container-xs-full-width
      .contents-header.xs-horizontal-padding
        %h4.contents-header__title 채널 수정
      = render 'form'

  - if can? :destroy, @issue
    %section
      .container.container-xs-full-width
        .contents-header.xs-horizontal-padding
          %h4.contents-header__title 채널 삭제
        .well
          .help-block 채널을 삭제합니다. 이 작업은 되돌릴 수 없습니다.
          = link_to '삭제하기', destroy_form_issue_path(@issue), class: 'btn btn-danger'
