%section#home
  .container
    %h4.posts-header__title{style:"display:block;width:100%;clear:both;"}
      빠띠
      %small
        그룹 내 모든 빠띠입니다.
    .parties-all-list
      = render 'issues/page', issues: @issues
