

%section.parties-all#issues
  .container
    .parties-all
      %h4
        모든 빠띠
        .count-label-wrapper
          .count-label= @issues.count
      %ul.issue-card-wrapper.list-unstyled.clearfix
        - @issues.each do |issue|
          = render 'issues/card', issue: issue
