%section#parti-organizing
  .container
    .row
      .col-sm-7.col-xs-12
        %h1
          빠띠,
          %br
          민주적 협력 커뮤니티 플랫폼
        .description
          %p.lead
            %u
              더 나은 민주주의, 기본소득, 시민 교육, 미니멀 라이프 ...
            %br
            함께 공감하며 이야기를 나누고 싶으신가요?
          %p.lead
            내가 관심있는 이슈로 파티하듯 수다를 떠는 곳
            %br
            %span
              %strong.text-primary<> 빠띠
              를
            만들고 함께 할 사람들을 초대해보세요.
            = link_to '빠띠란?', 'https://github.com/parti-xyz/catan-web/wiki/%EB%B9%A0%EB%9D%A0-%ED%99%9C%EC%9A%A9-%EA%B0%80%EC%9D%B4%EB%93%9C', target: "_blank", class: 'text-primary', style: 'font-weight: bold; text-decoration: underline;'
        %button.btn.btn-primary.btn-lg.btn-start-organizing{"data-target" => "#parti-organizemodal", "data-toggle" => "modal", :type => "button"}
          시작하기
      .col-sm-5.hidden-xs
        = image_tag 'img_about_1.png', class: 'key-visual'

  #parti-organizemodal.modal.fade{"aria-labelledby" => "parti-organizeModalLabel", :role => "dialog", :tabindex => "-1", data: {action: 'parti-organizing-parti-intro', 'modal-checkbox': "#parti-organizemodal input:checkbox", 'modal_checked_checkbox': "input:checked", 'modal_submit_btn': ".parti-organizesubmit .btn"}}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} x
          .media
            .media-left
              %i.fa.fa-check-square-o
            .media-body
              %h4#parti-organizeModalLabel.modal-title
                민주적 협력 커뮤니티 플랫폼, 빠띠는 다른 회원들에게 공개된 공간입니다.
                %br
                빠띠만의 특징을 알려드릴게요. 내가 만드려는 공간과 성격이 맞는지 확인하고 계속해주세요.
        .modal-body
          #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default
              #headingTwo.panel-heading{:role => "tab"}
                %h4.panel-title
                  %input{type: "checkbox"}
                    %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", class: 'accordion-toggle'}
                      %p 구독하지 않은 회원도 검색, 글 열람, 작성을 할 수 있어요.
              #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                .panel-body
                  %p 빠띠는 기본적으로 공개되어 있기 때문에 구독하지 않은 회원도 활동에 제약이 없습니다. 대신 구독하기를 하면 새로운 글, 활동이 업데이트될 때마다 빠띠에서 바로 확인할 수 있으니 회원님이 만든 빠띠에 놀러온 회원에게 구독하기를 추천해보세요.
                  %p 공개를 원하지 않는다면 빠띠를 만드실때 꼭 비공개 빠띠를 선택하세요.
            .panel.panel-default
              #headingThree.panel-heading{:role => "tab"}
                %h4.panel-title
                  %input{type: "checkbox"}
                    %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", class: 'accordion-toggle'}
                      %p 글이 하나라도 등록된 빠띠는 오거나이저라도 삭제할 수 없어요.
              #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                .panel-body
                  빠띠는 빠띠를 만든 사람인 오거나이저 뿐만 아니라 빠띠를 구독하는 사람들과 공동으로 가꾸는 공간이에요. 그래서 오거나이저가 독단적으로 빠띠를 삭제할 수 없답니다. 다만 글이 하나도 없는 빠띠는 삭제할 수 있어요.
            .panel.panel-default
              #headingThree.panel-heading{:role => "tab"}
                %h4.panel-title
                  %input{type: "checkbox"}
                    %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", class: 'accordion-toggle'}
                      %p 내가 만들고 싶은 빠띠와 같은 이슈를 다루는 빠띠가 이미 있더라도 만들 수 있어요.
              #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
                .panel-body
                  주제가 같고, 그에 대한 입장이 비슷하더라도 이야기하는 사람에 따라 내용은 다르기 마련이지요. 주제가 같다고 해서 모두 한 빠띠에 모일 필요는 없어요. 큰 물고기가 아니라 작은 물고기들이 떼를 지어 자유롭게 움직이는 모습을 상상해 보세요. 우리는 빠띠가 이런 작은 물고기 같기를 바랍니다. 작은 수의 회원이 모인 빠띠라도 나와 함께하는 사람들의 정체성을 유지하면서 자유롭게 시작해보세요.
          .help-block
            %span.help-description
              내가 만들고 싶은 빠띠가 적합한지 궁금하세요? 지금 바로 빠흐띠 메신저로 물어보세요.
            %span.parti-mail
              = link_to 'http://m.me/parti.xyz', target: '_blank', style: 'text-decoration: underline' do
                메신저 열기
        .modal-footer
          .aside_issue_btn.parti-organizesubmit
            = link_to '계속하기', new_issue_path, class: 'btn btn-primary btn-lg btn-shadow disabled'
