= render 'issues/issue_header', active_tab: :folders

- if @folders.blank?
  - @force_body_classes = "app-issues-slug_folders-no-folder"
  %section
    .container
      .bg-default.text-center
        %i.fa.fa-info-circle
        폴더로 게시글을 정리해 보세요.
        %br
          각 게시글
          "상세 메뉴
          %i.fa.fa-ellipsis-v
          "에서 폴더를 만들 수 있습니다.

- else
  %section.page-folders.contents-page
    .container
      .row
        .col-xs-12
          .threaded-folders
            .header
              .header-cell.title 제목
              .header-cell.updated-at 업데이트
            .body.background
              - Folder.threaded(@folders).each do |parent_folder, child_folders|
                = render 'issues/slug_folders_item', parent_folder: parent_folder, child_folders: child_folders, depth: 0
= render 'issues/bottom_banner', issue: @issue
