= render 'issues/issue_header', active_tab: :articles

%section#articles
  .container
    .row.masonry-container{data: {last_id: @articles.last.try(:id), is_last: @is_last_page.to_s}}
      - if @articles.empty?
        .bg-default
          %i.fa.fa-info-circle
          해당되는 글이 없습니다.
      - else
        = render 'issues/slug_articles_page'
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': issue_home_path(@issue, format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse
