= render 'issues/issue_header', active_tab: :home, blocked: true

%section#polls.polls--issue
  .container
    .editors-panel
      .media
        .media-body.hidden-xs
          %h4
            비밀빠띠입니다.
            %small
              비밀빠띠를 보시려면 먼저 가입신청을 해주세요.
            %span(class="#{dom_id(@issue)}-member")
              - if user_signed_in?
                = link_to issue_members_path(@issue), method: :post, class: 'btn btn-md btn-primary' do
                  가입하기
              - else
                = link_to '가입하기', '#', data: { toggle: 'parti-login-overlay', label: '가입', 'after-login': h({action: :issue_member, id: @issue.id}.to_json) }, class: 'btn btn-md btn-primary'
