= render 'issues/issue_header', active_tab: :references

%section#references
  .container
    - if @posts.empty?
      .bg-default.text-center
        %i.fa.fa-info-circle
        가장 먼저 자료를 올려보세요.
    - else
      .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
        .grid-sizer.col-sm-4.col-xs-6
        = render 'references/slug_references_page'
      .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': smart_issue_references_path(@issue, format: :js)}
        .page_waypoint__loading
          %i.fa.fa-3x.fa-spinner.fa-pulse
