= render 'issues/issue_header', active_tab: :talks

%section#talks
  .container
    = render 'talks/list', postables: @talks, issue: @issue, show_issue: @issue.is_all?
    = paginate @talks, theme: 'catan', params: @paginate_params
