= render 'issues/issue_header', active_tab: ''
%section#issue-users
  .container
    .row
      .col-sm-8.col-xs-12
        %section#content-tab-section
          .nav-tabs.message-tab
            %h4
              가입멤버
              .count-label-wrapper
                .count-label= @issue.members.count

        %ul.user-card-wrapper.list-unstyled.clearfix
          - @issue.member_users.recent.each do |user|
            = render user, issue: @issue
      .col-sm-4= render 'footer'
