= render 'issues/issue_header', issue: @issue

%section.contents-page#posts
  .container
    .row
      = main_column_tag do
        .posts{data: {last_id: -1, is_last: 'false'}}
          .contents-header.content-header-margin-bottom.xs-horizontal-padding
            %h4.contents-header__title.vertical-shrinking
              \##{@hashtag}
              %small
                해시태그된 게시물입니다.
          #no-data.text-center.alert{ style: 'display: none;' }
            %i.fa.fa-info-circle
              게시글이 없습니다.
        .page-waypoint.js-page-waypoint.text-center{'data-target': '.posts', 'data-list-url': smart_issue_hashtag_url(@issue, @hashtag, format: :js)}
          .page-waypoint-loading.js-page-waypoint-loading
            %i.fa.fa-2x.fa-spinner.fa-pulse
      = render 'issues/aside', issue: @issue