= render 'issues/issue_header', active_tab: :folders

- partial_dom_id = "issue-selector-#{SecureRandom.uuid}"
%section.page-folders.contents-page
  .container
    .row
      .col-xs-12
        .threaded-message.js-slug-folder-autosave
          #{date_f(DateTime.now)} 로딩됨
        .threaded-folders
          .threaded-folders-header
            .header-cell.title 제목
            .header-cell.updated-at 업데이트
          .threaded-folders-body.background.js-lazy-partal-load{ id: partial_dom_id, data: { url: smart_issue_folders_url(@issue, dom_id: partial_dom_id, format: :js) } }
            - 8.times do
              .skeletons
                .skeleton-title{ style: "width: #{[30, 40, 50].sample}%;"}
