= render 'issues/issue_header', active_tab: :notes

%section#notes
  .container
    %div{ style: 'margin-top: 30px' }
      = render 'notes/list', postables: @notes, issue: @issue, show_issue: @issue.blank?
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': issue_notes_path(@issue, format: :js)}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse

