= render 'issues/issue_header', active_tab: :polls

%section#polls.polls--issue
  .container
    .editors-panel
      .media
        .media-body.hidden-xs
          %h4
            #{t('activerecord.models.poll')}을 여세요
            %small #{t('activerecord.models.poll')}을 통해 서로의 생각을 확인해 보세요.
    - if @posts.empty?
      .posts
        .bg-default.text-center
          %i.fa.fa-info-circle
          가장 먼저 쟁점을 꺼내보세요.
    - else
      .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
        = render 'polls/slug_polls_page'
      .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': smart_issue_polls_path(@issue, format: :js)}
        .page_waypoint__loading
          %i.fa.fa-3x.fa-spinner.fa-pulse

