= render 'issues/issue_header', active_tab: :notes

%section#notes
  .container
    .hidden-xs
      %h3 한마디 남겨주세요

    = render 'notes/list', postables: @notes, issue: @issue, show_issue: @issue.blank?

