= render 'issues/issue_header'

%section#articles
  .container
    .row.masonry-container
      - if @articles.empty?
        .bg-default
          %i.fa.fa-info-circle
          해당되는 글이 없습니다.
      - else
        - @articles.each do |postable|
          = render postable
    = paginate @articles, theme: 'catan', params: @paginate_params

