= render 'issues/issue_header', active_tab: :notes

%section#notes
  .container
    %div{ style: 'margin-top: 30px' }
      = render 'notes/list', postables: @notes, issue: @issue, show_issue: @issue.blank?

