= render 'issues/issue_header', active_tab: :home

%section#posts
  .container
    .row
      .col-xs-9
        - if @last_post.present?
          = render 'posts/new_posts_count', new_posts_count_url: new_issue_posts_count_url(slug: @issue.slug, first_id: @last_post.id)
        .posts{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s}}
          - if @posts.empty?
            .bg-default
              %i.fa.fa-info-circle
              아직 글이 없습니다.
          - else
            = render 'posts/page', show_issue: false
        .page_waypoint.text-center{'data-target': '.posts', 'data-url': issue_home_path_or_url(@issue, format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
      - unless is_small_screen?
        = render 'issues/aside'
