= render 'issues/issue_header'
%section#issue-users
  .container
    .row
      .col-xs-9
        %section#content-tab-section
          .nav-tabs.message-tab
            .nav-tabs__count
              %small= @issue.watches.count
            %h4 구독회원
        %ul.user-card-wrapper.list-unstyled.clearfix
          - @issue.watched_users.each do |user|
            = render user, issue: @issue
      .col-xs-3= render 'footer'

