%section
  .container
    .well
      %h4.text-center
        아래 멤버들이
        %span.text-primary
          #{@target_group.title}
        그룹빠띠에
        소속되지 않아 빠띠를 이동할 수 없습니다.
        %button.btn.btn-default{onclick:"window.open('#{@issue_url}/members')"}
          멤버 페이지로 이동
          %i.fa.fa-arrow
      %div{style:"width:400px;margin:0 auto;"}
        - @issue_url = smart_issue_home_url(@origin_issue)
        %table.table
          %tr
            %th.text-center
              닉네임
            %th.text-center
              이메일
          - @out_of_member_users.each_with_index do |user, idx|
            %tr
              %td.text= user.nickname
              %td.text= user.email
