- if local_assigns[:issue].present? and local_assigns[:issue].organized_by?(current_user)
  = link_to accept_issue_member_requests_path(issue_id: local_assigns[:issue].id, user_id: user.id), method: :post, class: 'btn btn-sm btn-primary btn-block-xs', "data-disable-with": '처리 중...' do
    가입승인
  .small-margin-xs
  %span.hidden-xs
    &nbsp;
  = link_to reject_form_issue_member_requests_path(issue_id: local_assigns[:issue].id, user_id: user.id), remote: true, class: 'btn btn-sm btn-default btn-block-xs' do
    요청거절
