.playground-header.-nosticky
  .channel-menu.-simple
    .title
      .node
        = link_to front_channel_path(current_issue), class: 'link' do
          \#
          = current_issue.title
        = meta_icons(current_issue)