- article = article_as_footnote
- post = article.acting_as
.post-inline.post-inline--article.media[post]{data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) }}
  .media-body
    %h4.media-heading.post-inline__title
      = screenable_article_title(article)
    %p= excerpt(article.body)
  - if (article.has_image?)
    .media-right
      .thumb{style: "background-image: url(#{article.image.md.url})"}

