- article = article_as_footnote
- post = article.acting_as
.post-inline.post-inline--article[post]{data: { toggle: "parti-post-modal", target: '#post-modal', url: article_path(article) }}
  %h4.post-inline__title= screenable_article_title(article)
  .media
    .media-body
      = excerpt(article.body)
    - if (article.has_image?)
      .media-right
        .thumb{style: "background-image: url(#{article.image.md.url})"}

