- article = article_as_featured
- post = article.acting_as
%li.col-xs-4
  = link_to '#' do
    .thumb{style: "background-image: url(#{article.image.sm.url})"}
  .body= article.title
  .user= byline article.user
