- has_blinds = false
- @articles.each do |postable|
  - unless postable.blinded?(current_user)
    = render postable, local_assigns
  - else
    - has_blinds = true
- if has_blinds
  .card.col-sm-4.col-xs-12
    .article-card
      .caption
        .body= t('labels.blind_info')
