.container{style: 'width: auto;'}
  %section.post-section.article-section
    %h2.post__title.article__title= screenable_article_title(@article)

    = render 'posts/post_header', post: @article.acting_as, only_buttons: true
    = render 'body'

  %section.post-comments-section
    = render 'comments/comments', postable: @article, style: :media
