= render file: 'issues/slug_articles'
#post-modal-permalink.modal.fade{role: "dialog", tabindex: "-1", data: {"list-title": @list_title, "list-url": issue_articles_path(@issue)}}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body.post__partial-content
        = render file: 'articles/partial'
