%section#featured_contents
  %h2.page-title 모든빠띠 상단 운영
  %section#featured_issues
    %h3 추천빠띠
    - @featured_issues.each_with_index do |featured_issue, index|
      = render featured_issue, index: index
    = render FeaturedIssue.new

  %section#featured_campaigns
    %h3 추천캠페인
    - @featured_campaigns.each do |featured_campaign|
      = render featured_campaign
    = render FeaturedCampaign.new
