@use '../../global-variables';
@use '../../bootstrap';

.ProseMirror-link-tooltip-plugin {
  position: absolute;
  z-index: 20;
  background-color: white;
  border: 1px solid global-variables.$color-gray-500;
  border-radius: 2px;
  padding: .25rem .5rem;
  font-size: bootstrap.$font-size-xs;
  color: global-variables.$color-gray-600;

  transform: translateX(-50%);
  &:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    margin-left: calc(50% - 0.5rem);
    border: calc(0.5rem + 1px) solid transparent;
  }
  &:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    margin-left: calc(50% - 0.5rem + 1px);
    border: 0.5rem solid transparent;
  }

  &.-bottom {
    margin-bottom: 0.5rem;
    &:before {
      top: 100%;
      border-bottom-width: 0;
      border-top-color: global-variables.$color-gray-600;
    }
    &:after {
      top: 100%;
      border-bottom-width: 0;
      border-top-color: white;
    }
  }
  &.-top {
    margin-top: 0.5rem;
    &:before {
      bottom: 100%;
      border-top-width: 0;
      border-bottom-color: global-variables.$color-gray-600;
    }
    &:after {
      bottom: 100%;
      border-top-width: 0;
      border-bottom-color: white;
    }
  }
}
