@import "variables";
@import "groups/techdesign/extended_variables";
@import "groups/techdesign/base";

.key-page{
  background-position: center;
  background-size: cover;
  height: 252px;
  .key-page-desc{
    width:500px;
    padding:0 50px 20px;
    .key-page-title{
      color: white;
      padding: 50px 20px;
      margin: 0;
      h1 {
        font-size: 26px;
        font-weight: 200;
        line-height: 32px;
      }
    }
  }
}
