- content_for :playground_header_content do
  = render 'front/playground_header_content/channel_menu/simple', current_issue: @current_issue, current_post: @current_post, list_nav_params: @list_nav_params

- content_for :playground_sidebar_content do
  .supplementary-boxes
    = render partial: 'front/channels/supplementary', locals: @supplementary_locals

- back_path = list_nav_back_path(@list_nav_params, front_channel_path(@current_post.issue))

= render 'front/pages/back', back_path: back_path

.alert-box.my-3
  .alert.alert-secondary.font-size-sm
    %i.fa.fa-check
    해당 게시글이 삭제되었습니다.
    .mt-4
    = link_to '뒤로 돌아가기', 'javascript:history.back()', class: 'btn btn-secondary font-size-sm p-2'