.modal-header
  %h6.modal-title 필독 요청하기
  %button.close.-sm{ "aria-label": "Close", data: { action: 'click->modal#close' } }
    %span{ "aria-hidden": 'true' } ×
.modal-body
  = form_with model: @current_post, url: announcement_front_post_path(@current_post), method: :patch, local: false do |f|
    = render 'front/posts/form/announcement/form', f: f
    .pull-right
      = f.submit '요청하기', class: 'submit btn btn-primary btn-sm'


