.key-page{style:"background-image:url(#{asset_url('groups/meetshare/key_page_bg.png')});"}
  .key-page-desc
    .key-page-title
      %h1
        Meet & Share
      더 나은 세상을 만들기 위한
      %span.visible-xs-block
      작은 활동들을 응원합니다
      %br
      서로의 활동을 위해
      %span.visible-xs-block
      필요한 것들을 서로 공유해요.
