- upvote = message.messagable
- if upvote.upvotable.is_a? Comment
  - comment = upvote.upvotable
  != comment_format(comment.issue, comment.body, length: 300)
- elsif upvote.upvotable.is_a? Post
  - post = upvote.upvotable
  != smart_truncate_html(post_body_format(post.issue, post.specific_desc), length: 300, ellipsis: '...')
- else
  = upvote.upvotable.specific_desc_striped_tags(200)
