$brand-primary:         #f05a22
$brand-light:           mix(white,$brand-primary, 10%)
$brand-primary-light:   mix(white,$brand-primary, 60%)
$brand-primary-lighter: mix(white, $brand-primary, 80%)
$brand-primary-dark:    mix(black, $brand-primary, 15%)
$brand-primary-darker:  mix(black, $brand-primary, 40%)
