

%section
  .container
    %a{id: "anchor-recent-posts"}
      %h4{ style: "margin: 20px 0px; "}
        최근 빠띠 게시글 (사진 + 텍스트)
    .row.masonry-container{data: {last_id: @recent_posts.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
      - @recent_posts.each do |post|
        .grid-sizer.col-sm-6
          = render 'posts/admin_post', post: post, show_issue: true

%section
  .container
    %a{id: "anchor-polls-or-surveys"}
      %h4{ style: "margin: 20px 0px; "}
        토론
    .row.masonry-container{data: {last_id: @polls_or_surveys.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
      - @polls_or_surveys.each do |discussion|
        .grid-sizer.col-sm-6
          = render 'posts/admin_post', post: discussion, show_issue: true


%section
  .container
    %a{id: "anchor-wikis"}
      %h4{ style: "margin: 20px 0px; "}
        위키
    .row.masonry-container{data: {last_id: @wikis.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
      - @wikis.each do |wiki|
        .grid-sizer.col-sm-6
          = render 'posts/admin_post', post: wiki, show_issue: true

  - content_for(:sidebar) do
    &nbsp;
