- talk = talk_as_footnote
- post = talk.acting_as
.post-inline.post-inline--article[post]{data: { toggle: "parti-post-modal", target: '#post-modal', url: talk_path(talk) }}
  %h5.post-inline__title
    = talk.title
  .post-inline__comment.pull-right
    = image_tag 'icon_comment.png'
    %b= post.comments_count
