= render 'top_banner'
%section#talks
  .container
    %h3.page-title
      논의
      %small 모든 빠띠의 최근 논의입니다.
    .talks-list
      - @talks.each do |talk|
        = render talk, show_issue: true
    = paginate @talks, theme: 'catan', params: @paginate_params

