%section.post-section.talk-section
  .container
    %h2.post__title.talk__title= @talk.title

    = render 'posts/post_header', post: @talk.acting_as, only_buttons: true

%section.post-comments-section
  .container
    = render 'comments/comments', postable: @talk, style: :talk

= render 'posts/recommends', issue: @talk.issue, exclude: @talk.acting_as
