= render file: 'issues/slug_talks'
#post-modal-permalink.modal.fade{role: "dialog", tabindex: "-1", data: {"list-title": @list_title, "list-url": @list_url}}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body.post__partial-content
        = render file: 'talks/partial'
