%section#facebook-like
  .container
    .fb-like{"data-action": "like", "data-href": "https://www.facebook.com/PartiUnion/", "data-layout": "standard", "data-share": "false", "data-show-faces": "false"}
%section#home
  .container
    .row
      .col-xs-12.col-sm-8
        %h4 그룹 찾기
        %section#groups-all
          = render Group.all.where.not(slug: 'indie')
      - unless is_small_screen?
        = render 'application/aside'
