= aside_column_tag do
  #aside
    %section.aside-relate-issues
      - Group.comprehensive_joined_by(@user).sort_by_name.each do |group|
        - next if group.private_blocked? current_user
        - issues = @user.member_issues.of_group(group).reject { |issue| issue.private_blocked?(current_user) }
        - next if issues.empty?
        %h5.aside-title
          = link_to group.title_basic_format, smart_group_url(group)
        %ul.list-unstyled.aside-issues
          = render customize_partial_path(issues, 'issue_line')
