= link_to user_gallery_path(user), class: 'text-nowrap' do
  - unless local_assigns[:hide_image]
    = image_tag user.image.sm.url, { class: 'circle-30 img-circle', "data-placement" => "top", "data-toggle" => "tooltip", :title => "#{user.nickname}", :type => "button"}


