%ul.nav.nav-tabs{role: 'tablist'}

  %li{role: 'presentation', class: ('active' if active_tab == :parties)}
    = link_to smart_user_gallery_path(@user) do
      %h4
        %span.hidden-xs 가입한
        빠띠

  %li{role: 'presentation', class: ('active' if active_tab == :posts)}
    = link_to slug_user_posts_path(slug: @user.slug) do
      %h4
        %span.hidden-xs 작성한
        = t('activerecord.models.post')







