%section#user-header-section.text-center
  .profile-box
    .thumb.img-circle{style: "background-image: url(#{@user.image.md.url});"}
    %h2 #{@user.nickname}
    - if user_signed_in? && (current_user.id == @user.id)
      = link_to edit_user_registration_path, class: 'btn btn-profile' do
        = image_tag 'icon_profile.png'
        %span 프로필 수정
