@import "variables_xs";
@import "groups/alone/group_variables";
@import "groups/alone/group_application";

.key-ad-image {
  background-image: asset_url('groups/alone/key_page_bg.png');
  height:350px;
  background-position: center;
  background-size: cover;
}
.key-page{
  background-color: #34b475;
  color: white;
  .key-page-desc{
    padding:50px 20px 10px;
    text-align: left;
    font-weight: 200;
    .key-page-title{
      font-size: 20px;
      margin-bottom: 38px;
    }
    .key-page-subtitle{
      font-size: 16px;
    }
    button{
      margin: 5px 0 10px 0;
      background-color: #2F3282;
      border-color: #2F3282;
    }
    p {
      margin-bottom: 14px;
    }
    .key-page-footer {
      color: white;
      margin-top: 38px;
      font-size: $font-size-base;
      .small {
        font-size: $font-size-small;
        line-height: 24px;
      }
    }
    .key-page-buttons {
      color: white;
    }
    .key-page-buttons {
      .more,
      .more a {
        color: white;
        font-size: $font-size-small;
      }
    }
    .key-where a {
      color: white
    }
  }
}
