@mixin hover-grow() {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.02);
  }
}

@mixin hover-shadow() {
  border-top: 1px solid $gray-less-lighter;
  border-right: 1px solid $gray-less-lighter;
  border-bottom: 1px solid $gray-less-lighter;
  border-left: 1px solid $gray-less-lighter;
  -webkit-box-shadow: 4px 4px 4px 0px #deddda;
  -moz-box-shadow: 4px 4px 4px 0px #deddda;
  box-shadow: 4px 4px 4px 0px #deddda;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: keep-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


@mixin form-advanced-option {
  .advanced-option{
    margin:20px 0px;
  }
  .toggle-option{
    display:inline-block;
    width:80px;
    padding: 6px;
    border: 1px solid $gray-light;
    margin-bottom: 12px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    background-color: $gray-light;
    border-radius: $border-radius-base;
    white-space: nowrap;
  }
}

@mixin form-file-sources {
  margin-bottom: 12px;
  .add-form-group-btn,
  .form-groups {
    background-color: $gray-more-lightest;
    padding-bottom: 12px;
  }
  .add-form-group-btn {
    color: $brand-primary;
    a {
      color: $brand-primary;
    }
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .form-groups {
    input[type=file] {
      display: none;
    }
  }
  .form-groups {
    padding: 12px 18px;
    border-top: 1px solid $gray-less-lighter;
    .form-group {
      position: relative;
      margin-bottom: 0;
      &.form-group-margin-bottom {
        margin-bottom: 15px;
      }
      &.form-group-margin-top {
        margin-top: 15px;
      }
      a.remove-upload-btn {
        color: white;
        background: $gray;
        padding: 0 5px;
        text-decoration:  none;
      }
    }
    .form-group:last-child {
      margin-bottom: 0;
    }

    .upload-doc,
    .upload-image {
      cursor: move;
    }
    .upload-image {
      img {
        max-height: 100px;
        max-width: 100%;
      }
    }
    .upload-doc {
      display: inline-block;
      &.collapse {
        display: none;
      }
      padding-right: 12px;
      .size {
        color: $gray-light;
      }
    }

    .form-group-images.js-any + .form-group-files.js-any {
      padding-top: 15px;
    }
    .form-group-images .form-group {
      display: inline-block;
      &.collapse {
        display: none;
      }
      margin-right: 3px;
      max-width: 100%;
      overflow: hidden;
    }
    .form-group-images a.remove-upload-btn {
      position: absolute;
      top: 0;
      right: 0;
    }

    label {
      font-weight: normal;
      color: $gray;
    }
  }
}

@mixin skeletons($base-gray) {
  .skeletons {
    margin: 1em 0;
    .skeleton-user {
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      margin-bottom: 12px;
      .skeleton-user-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        float: left;
      }
      .skeleton-user-meta {
        float: left;
        margin-left: 12px;
        .skeleton-user-nickname {
          width: 105px;
        }
        .skeleton-post-date {
          width: 40px;
        }
      }
    }
    .skeleton-title {
      width: 50%;
    }
    .skeleton-user-nickname,
    .skeleton-post-date,
    .skeleton-item {
      margin: 3px 0;
    }
    .skeleton-user-icon,
    .skeleton-user-nickname,
    .skeleton-post-date,
    .skeleton-title,
    .skeleton-item {
      height: 1em;
      background-color: $base-gray;
      animation-name: shimmer-animate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, mix(white,$base-gray,70%)), color-stop(18%, mix(white,$base-gray,35%)), color-stop(33%, mix(white,$base-gray,70%)));
      background: -webkit-linear-gradient(left, mix(white,$base-gray,70%) 8%, mix(white,$base-gray,35%) 18%, mix(white,$base-gray,70%) 33%);
      background: linear-gradient(to right, mix(white,$base-gray,70%) 8%, mix(white,$base-gray,35%) 18%, mix(white,$base-gray,70%) 33%);
      -webkit-background-size: 800px 104px;
    }
  }
}

@keyframes shimmer-animate {
     0% {
     background-position: -468px 0
   }
   100% {
     background-position: 468px 0
   }
}
