* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

html {
  height: 100%;
  position: relative;
}

body {
  padding-top: $header-menu-height;
  background-color: $background-color;
  width: 100%;
  min-width: 970px;
  height: 100%;
}

@media (max-width: $screen-xs-max) {
  body {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

@media (max-width: $screen-xs-max) {
  body {
    padding-top: $header-menu-height-mobile;
    &.view-with-ios-virtual-keyboard {
      padding-top: 0;
    }
  }
  body, .container, #aside {
    width: 100% !important;
    min-width: 100%;
  }
}

main {
  background-color: $background-color;
}

// bottom-banner
.bottom-banner-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  @include word-wrap();
  &.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}

.brand {
  margin-bottom: 1em;
  #logo {
    width: 60px;
    margin: 0 1em 1em 0;
  }
  h2 {
    margin-top: 10px;
  }
}

.panel {
  border-radius: 3px;
  transition: all 0.1s;
  &:hover {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.20);
  }
}

.form-control {
  color: $gray-darker;
}

.text-basic-wrap {
  word-break: keep-all;
  overflow-wrap: break-word;
}

@media (max-width: $screen-xs-max) {
  .margin-top-xs {
    margin-top: 12px;
  }
  .container-xs-no-padding {
    padding: 0;
  }
}

body .webui-popover {
  z-index: $zindex-webui-popover;
}

body .webui-popover-backdrop {
  z-index: $zindex-webui-popover - 1;
}

@media (max-width: $screen-xs-max) {
  .container.container-xs-full-width {
    padding: 0;
    > .row {
      margin-left: 0;
      margin-right: 0;
      > .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.text-primary-dark {
  color: $brand-primary-dark;
}
