* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '돋움', dotum, Arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 50px;
  background-color: $gray-lightest;
  width: 100%;
  min-width: 970px;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  @include word-wrap();
  &.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}

.brand {
  margin-bottom: 1em;
  #logo {
    width: 60px;
    margin: 0 1em 1em 0;
  }
  h2 {
    margin-top: 10px;
  }
}

.container {
  max-width: 970px !important;
  width: 970px !important;
}

.panel {
  border-radius: 3px;
  transition: all 0.1s;
  &:hover {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.20);
  }
}
.page-title {
  border-bottom: 1px solid #d2d2d2;
}

.form-control {
  color: $gray-darker;
}
