* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: $header-menu-height;
  background-color: $background-color;
  width: 100%;
  min-width: 970px;
  height: 100%;
}

.container {
  max-width: 970px !important;
  width: 970px !important;
}

@media (max-width: $screen-xs-max) {
  body {
    padding-top: $header-menu-height-mobile;
  }
  body, .container, #aside {
    width: 100% !important;
    min-width: 100%;
  }
}

main {
  background-color: $background-color;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  @include word-wrap();
  &.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}

.brand {
  margin-bottom: 1em;
  #logo {
    width: 60px;
    margin: 0 1em 1em 0;
  }
  h2 {
    margin-top: 10px;
  }
}

.panel {
  border-radius: 3px;
  transition: all 0.1s;
  &:hover {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.20);
  }
}

.form-control {
  color: $gray-darker;
}

// focusable

body.editor-spotlight {
  overflow-y: initial !important;
  padding-top: 0 !important;

  .navbar-fixed-top {
    position: inherit !important;
    margin-bottom: 0 !important;
  }

  .unified-editor {
    &:hover {
      border: 1px solid #fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.text-basic-wrap {
  word-break: keep-all;
  overflow-wrap: break-word;
}

@media (max-width: $screen-xs-max) {
  .margin-top-xs {
    margin-top: 12px;
  }
  .container-xs-no-padding {
    padding: 0;
  }
}
