.key-page{style:"background-image:url(#{asset_url('groups/organizer/bg_img2.png')});"}
  .container
    .messege-box
      지금 빠띠 오거나이저
      %span.visible-xs-block
      커뮤니티에서는
      %br
      %span
        2017 올해 뭐했어요? 이벤트
      가 진행 중입니다:)
      %br
      %br
      = link_to '이벤트 보러가기', 'https://organizer.parti.xyz/posts/17736/wiki', class: 'btn btn-danger'

