%section.contents-page#posts
  .container
    .row
      = main_column_tag do
        .contents-header.content-header-margin-bottom.xs-horizontal-padding
          %h4.contents-header__title.vertical-shrinking
            \##{@hashtag}
            %br.visible-xs
            %small
              해시태그된
              - if current_group.present?
                #{current_group.title_basic_format}이 오거나징하는
              - else
                모든
              그룹의 게시글입니다.
        .posts{ data: {'previous-post-last-stroked-at-timestamp': '', is_last: 'false'} }
          #no-data.text-center.alert{ style: 'display: none;' }
            %i.fa.fa-info-circle
            해당 게시글이 없습니다.

        .page-waypoint.js-page-waypoint.text-center{'data-target': '.posts', 'data-list-url': hashtag_url(format: :js, hashtag: @hashtag)}
          .page-waypoint-loading.js-page-waypoint-loading
            %i.fa.fa-2x.fa-spinner.fa-pulse
      = render 'application/aside'