.upvoted-users
  - upvotable.upvote_users.each do |user|
    %span.user{ data: { controller: 'content-popover', 'content-popover': { url: user_front_members_path(user), options: h({ container: '.front-app' }.to_json) } } }
      .userimagebg{ style: "background-image: url(#{user.image.sm.url})" }
      .usernickname= user.nickname