.key-page
  .key-page-desc
    .key-page-title
      해결해보고 싶은 나만의 _______ 가 있나요?
      %br
      망설이지말고, 고!
    %button.btn.btn-warning{onclick:"window.open('https://youthmango.parti.xyz/posts/17661')"}
      유쓰망고 마켓 사용법
    %span.visible-xs-block
    %button.btn.btn-facebook{onclick:"window.open('http://www.facebook.com/YouthMango')"}
      %i.fa.fa-facebook
      유쓰망고 페이스북
