%section.text-center
%h3
  %i.fa.fa-cube
  #{current_group.title} 그룹은 비공개 그룹입니다.

.box{ style: 'padding: 2rem 0'}
  %p
    어서오세요. 환영합니다!
  - if current_group.member_requested? current_user
    %p
      이 그룹에서 활동하려면 먼저 가입승인을 받아야 합니다.
      %p
        %strong 그룹 오거나이저의 가입승인을 기다려주세요.
  - else
    - if user_signed_in?
      %p
        비공개 그룹에서 활동하려면 먼저 가입신청을 해주세요.
      %p.pt-3
        = link_to new_front_member_request_path, class: 'btn btn-md btn-primary' do
          가입 신청하기
    - else
      %p
        비공개 그룹에서 활동하려면 먼저 로그인 후에 가입 신청을 해주세요.
      %p.pt-3
        = link_to new_user_session_path, class: 'btn btn-md btn-primary' do
          로그인 하기
