@import "application";

#site-header.navbar {
  box-shadow: inset 2000px 0 0 0 rgba(25,173,94, 0.9);
  background-color: $brand-primary;
}
.key-page{
  height:350px;
  text-align:center;
  .social-icon{
    width:50px;
    height:50px;
    color:#ffffff;
    text-align:center;
    padding-top:12px;
    font-size:20px;
    border-radius:25px;
    display:inline-block;
    cursor:pointer;
  }
  button{
    box-shadow: 3px 3px 0px 0px #c5c5c5;
    border-radius:0px !important;
  }
  .key-page-desc{
    margin: 0 auto;
  }
  .key-page-title{
    font-weight: 200;
    margin: 10px;
    span{
      font-weight:bold;
    }
  }
}
