@import "variables";
@import "groups/meetshare/variables_meetshare";
@import "groups/meetshare/meetshare";

section#home {
  margin-top: 24px;
}

#site-header .navbar-header .navbar-brand img {
  height: 20px;
  width: auto;
}

body.in-group #group-key-visual-bg {
  height: 345px;
  background-position: bottom;
  @media (max-width: $screen-md-max) {
    height: 270px;
  }
  @media (max-width: $screen-xs-max) {
    height: 0;
  }
}
.key-page{
  .social{
    text-align:right;
    .social-icon{
      margin:10px 5px;
    }
  }
  button{
    margin:10px;
  }
  .key-page-desc{
    width:500px;
    padding:50px 20px;
    .key-page-title{
      font-size: 22px;
    }
  }
}

.group-home-subtitle{
  color:darken($brand-primary,10%);
  a{
    color:darken($brand-primary,10%);
  }
  border-color:darken($brand-primary,10%) !important;
}
