@import "variables_xs";
@import "groups/meetshare/variables_meetshare";
@import "groups/meetshare/meetshare";

.key-page{
  margin-bottom:-10px;
  .social{
    text-align:center;
    .social-icon{
      margin:30px 5px 0px 5px
    }
  }
  button{
    margin:5px;
  }
  .key-page-desc{
    width:300px;
    padding:60px 0px 0px 0px;
    .key-page-title{
      font-size: 18px;
    }
  }
}
