.key-page{style:"background-image:url(#{asset_url('groups/meetshare/key_page_bg.png')});"}
  test
  .social
    .social-icon
      %i.fa.fa-home
    .social-icon
      %i.fa.fa-facebook
    .social-icon
      %i.fa.fa-medium
    .social-icon
      %i.fa.fa-envelope
