.key-page{style:"background-image:url(#{asset_url('groups/meetshare/key_page_bg.png')});"}
  .social
    .social-icon#link_home{style:'background-color:#a353a5',onclick:"window.open('http://www.meetshare.kr');"}
      %i.fa.fa-home
    .social-icon#link_fb{style:'background-color:#3B5998',onclick:"window.open('http://www.facebook.com/meetshare');"}
      %i.fa.fa-facebook
    .social-icon#link_md{style:'background-color:#1c9963',onclick:"window.open('https://medium.com/작지만-멋진-일-미트쉐어/')"}
      %i.fa.fa-medium
    .social-icon#link_mail{style:'background-color:#f0646d',onclick:"location.href='mailto:meetshare@seoulnpocenter.kr'"}
      %i.fa.fa-envelope
  .key-page-desc
    .key-page-title
      관심있는
      %span
        사회적 이슈
      가 있나요?<br/>
      한번 해보고 싶은
      %span
        프로젝트
      가 있나요?<br/>
    %button.btn.btn-success{onclick:"window.open('https://medium.com/%EC%9E%91%EC%A7%80%EB%A7%8C-%EB%A9%8B%EC%A7%84-%EC%9D%BC-%EB%AF%B8%ED%8A%B8%EC%89%90%EC%96%B4/%EB%AF%B8%ED%8A%B8%EC%89%90%EC%96%B4%EC%9D%98-%ED%83%95%EB%B9%84%EC%8B%A4-%EA%B8%B0%EB%B3%B8%EB%B9%A0%EB%9D%A0-%EC%86%8C%EA%B0%9C-14ce93ad09f7')"}
      미트쉐어 커뮤니티 소개
    %button.btn.btn-warning{onclick:"window.open('https://parti-xyz.gitbooks.io/issue-guide/content/')"}
      이슈 커뮤니티 가이드
