.key-page{style:"background-image:url(#{asset_url('groups/meetshare/key_page_bg.png')});"}
  .social
    .social-icon{style:'background-color:#a353a5'}
      %i.fa.fa-home
    .social-icon{style:'background-color:#3B5998'}
      %i.fa.fa-facebook
    .social-icon{style:'background-color:#1c9963'}
      %i.fa.fa-medium
    .social-icon{style:'background-color:#f0646d'}
      %i.fa.fa-envelope
  .key-page-desc
    .key-page-title
      관심있는
      %span
        사회적 이슈
      가 있나요?<br/>
      한번 해보고 싶은
      %span
        프로젝트
      가 있나요?<br/>
    %button.btn.btn-success
      미트쉐어 커뮤니티 소개
    %button.btn.btn-warning
      이슈 커뮤니티 가이드
