$color-group-brand: #ffd529; //  rgb(255, 213, 41)
$color-group-secondary: #214166; // rgb(33, 65, 102)
$color-group-important: #fc7327; // rgb(252, 115, 39)

$color-group-brand-a30: rgb(255, 213, 41, .3);
$color-group-secondary-a30: rgb(33, 65, 102, .3);
$color-group-important-a30: rgb(252, 115, 39, .3);