%h3
  %i.fa.fa-user
  #{current_group.title} π¤™μ μ¤ν€μΉ μ»¤λ®¤λ‹ν‹° μ•½μ†

.box{ style: 'padding: 3rem 0; max-width: 600px; text-align: left' }
  %p
    μ„λ΅λ¥Ό ν•™λ ¥μ΄λ‚ μ„±λ³„, λ‚μ΄ λ“± μ–΄λ–¤ μ΅°κ±΄μΌλ΅λ„ μ°¨λ³„ν•μ§€ μ•μµλ‹λ‹¤. λ”λ¶μ–΄ λ‹¤λ¥Έ μ‚¬λμ—κ² λ¶μΎκ°μ„ μ£Όλ” ν–‰λ™μ„ ν•μ§€ μ•μµλ‹λ‹¤.
  %p
    μ»¤λ®¤λ‹ν‹°μ— ν•¨κ»ν•λ” κµ¬μ„±μ› λ¨λ‘κ°€ ν•¨κ» ν‰λ“±ν•κ³  μ•μ „ν•κ² λ§λ“¤μ–΄κ°€λ” κ³µκ°„μ…λ‹λ‹¤.