= render layout: 'layouts/simplebar' do
  = render 'front/pages/group_sidebar_content', categorised_issues: @categorised_issues, current_issue: @current_issue, current_folder: @current_folder, need_to_notice_count: @need_to_notice_count, unread_mentions_count: @unread_mentions_count