%section#key-visuals
  %ul.owl-carousel.owl-theme(data-action='parti-carousel' data-carousel-items='1' data-carousel-items-mobile='1' data-carousel-margin='7' data-carousel-dots='true' data-carousel-dots-each='true')
    - @featured_contents.each do |featured_content|
      = render featured_content

