%section#components
  %section#colors
    .container
      %h2 Colors
      .row
        .col-xs-1.color-brand-primary
          $brand-primary
        .col-xs-1.color-brand-light
          $brand-light
        .col-xs-1.color-brand-success
          $brand-success
        .col-xs-1.color-brand-info
          $brand-info
        .col-xs-1.color-brand-warning
          $brand-warning
        .col-xs-1.color-brand-danger
          $brand-danger
        .col-xs-1.color-gray-base
          $gray-base
        .col-xs-1.color-gray-darker
          $gray-darker
        .col-xs-1.color-gray-dark
          $gray-dark
        .col-xs-1.color-gray
          $gray
        .col-xs-1.color-gray-light
          $gray-light
        .col-xs-1.color-gray-lighter
          $gray-lighter
  %section#typo
    .container
      %h2 Typography
      %h3 Headings
      .well
        %h1 이것은 h1입니다 36px
        %h2 이것은 h2입니다 30px
        %h3 이것은 h3입니다 24px
        %h4 이것은 h4입니다 18px
        %h5 이것은 h5입니다 14px
        %h6 이것은 h6입니다 12px
      %h2 Text
      .well
        %p.font-size-base 기본 폰트입니다 14px
        %p.font-size-large 큰 폰트입니다 18px
        %p.font-size-small 작은 폰트입니다 12px
  %section#buttons
    .container
      %h2 buttons
