%section.page-bg
  .container
    .page-wrapper
      %h3.page-wrapper__title
        가격 정책
      %p.service-info
        • 빠띠에서는 사용하고자 하는 목적에 따라 '그룹'을 생성할 수 있습니다.<br/>
        • '그룹' 안에 다양한 빠띠를 운영하여 구성원 간의 소통 도구로 사용할 수 있습니다.<br/>
        • '그룹'은 공개그룹, 비공개그룹으로 구분됩니다.
      .page-wrapper__txt.text-center
        .service-card
          .price-header
            공개그룹
          .price-desc
            • 누구나 자유롭게 가입할 수 있습니다.<br/>
            • 그룹의 모든 컨텐츠가 공개됩니다.
          %hr
          %span.title
            사용료
          %p
            무료<br/><br/>
          %hr
          %span.title
            커스터마이징 테마
          %p
            200,000원
        .service-card
          .price-header
            비공개그룹
          .price-desc
            • 승인된 사용자만 가입할 수 있습니다.<br/>
            • 가입한 사람들만 컨텐츠를 볼 수 있습니다.
          %hr
          %span.title
            사용료
          %p
            인당 1,000원 / 월<br/>
            %small
              (최초 2개월 무료 사용)
          %hr
          %span.title
            커스터마이징 테마
          %p
            분기별 1회 무료
        %br
        %br
        = link_to '그룹 개설을 신청합니다', 'https://goo.gl/forms/ldIKoqbRkUefqpgU2', class: 'btn btn-primary btn-lg', target: '_blank'
        = link_to '그룹 찾기', '/groups', class: 'btn btn-default btn-lg', target: '_blank'
