%section#issue-users
  .container
    .row
      .col-sm-8.col-xs-12
        %section#content-tab-section
          .nav-tabs.message-tab
            %h4
              가입멤버
              .count-label-wrapper
                .count-label= current_group.members.count
        %ul.user-card-wrapper.list-unstyled.clearfix{data: {last_id: @current_last.try(:id), is_last: @is_last_page.to_s}}
          = render 'users/slug_users_page', users: @users
        .page_waypoint.text-center{'data-target': '.user-card-wrapper', 'data-url': group_members_path(format: :js)}
          .page_waypoint__loading
            %i.fa.fa-3x.fa-spinner.fa-pulse
