%section#form
  .container
    %h2.page-header 초대합니다.

    .well.clearfix
      %p
        %strong #{current_group.title}
        그룹에
        #{current_user.nickname}님을 초대합니다.

      %p
        = link_to magic_join_group_members_url(key: params[:key]), method: :post, class: 'btn btn-primary'do
          초대를 허락합니다


