@import "variables";
@import "groups/variables_meetshare";
@import "groups/meetshare";

section#home {
  margin-top: 24px;
}

#site-header .navbar-header .navbar-brand img {
  height: 20px;
  width: auto;
}

body.in-group #group-key-visual-bg {
  height: 345px;
  background-position: bottom;
  @media (max-width: $screen-md-max) {
    height: 270px;
  }
  @media (max-width: $screen-xs-max) {
    height: 0;
  }
}
.key-page{
  height:350px;
  text-align:center;

  .social{
    text-align:right;
  }
  .social-icon{
    width:50px;
    height:50px;
    margin:10px 5px;
    color:#ffffff;
    text-align:center;
    padding-top:12px;
    font-size:20px;
    border-radius:25px;
    display:inline-block;
    cursor:pointer;
  }
  button{
    box-shadow: 3px 3px 0px 0px #c5c5c5;
    border-radius:0px !important;
    margin:10px;
  }
  .key-page-desc{
    width: 500px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  .key-page-title{
    font-weight: 200;
    font-size: 22px;
    margin: 10px;
    span{
      font-weight:bold;
    }
  }
}
