@import "variables";
@import "groups/variables_meetshare";
@import "groups/meetshare";

section#home {
  margin-top: 24px;
}

#site-header .navbar-header .navbar-brand img {
  height: 20px;
  width: auto;
}

body.in-group #group-key-visual-bg {
  height: 345px;
  background-position: bottom;
  @media (max-width: $screen-md-max) {
    height: 270px;
  }
  @media (max-width: $screen-xs-max) {
    height: 0;
  }
}
.key-page{
  height:400px;
  .social-icon{
    width:50px;
    height:50px;
    background-color:red;
    text-align:center;
    padding-top:12px;
    font-size:20px;
    border-radius:25px;
    display:inline-block;
  }
}
