@import "variables";
@import "groups/variables_meetshare";
@import "groups/meetshare";

section#home {
  margin-top: 24px;
}

#site-header .navbar-header .navbar-brand img {
  height: 20px;
  width: auto;
}
