%section.text-center
  .container
    %h1.text-center.sign-up__txt
      가입이 거의 완료되었습니다!

    %p.text-center
      = image_tag 'tada.png'

    %p.text-center
      잠시 후 가입 확인 링크가 담긴 이메일을 보내드립니다.
      %br
      %span{ style: 'text-decoration: underline; font-weight: bold;'}<>
        이메일의 링크를 클릭하면 가입이 완료됩니다.