.channel-listing
  .title 채널
  %ul.channel-lines
    - @issues.each do |issue|
      %li.channel-line{ class: ('-active' if issue == @current_issue) }
        = link_to station_path(issue_id: issue) do
          - if issue.unread_post?(current_user)
            %span.unread new
          .title # #{issue.title}
