.station-app
  .station-navbar.data-turbolinks-permanent{ data: { controller: 'content-loader', 'content-loader-url': station_navbar_path } }
  .station-playground
    .station-header
      .group-menu
        .title
          = current_group.title
      .channel-menu
        - if @current_issue.present?
          .title # #{@current_issue.title}
    .station-body
      .channel-listings{ data: { controller: 'content-loader', 'content-loader-url': station_channel_listings_path(issue_id: @current_issue) } }



