.key-page{style:"background-image:url(#{asset_url('groups/organizer/background.png')});"}
  .container
    .messege-box
      “2018년 안 할래요”
      %br
      이벤트에 참여하세요!
      %br
      %br
      = link_to '참여하기', 'https://organizer.parti.xyz/posts/18734', class: 'btn btn-danger'
      %br
      %span.illust-copyright
        illustrated by BERRY

