.key-page{style:"background-image:url(#{asset_url('groups/eduhope/key_page_bg.jpg')});"}
  .container.text-center
    %h2.key-page-title
      교육과 세상을
      %span.visible-xs-block
      바꾸는
      %span.visible-xs-block
      전교조
      %br
      %small
        직접민주주의의 온라인 토론방
    %button.btn.btn-danger{onclick:"window.open('https://eduhope.parti.xyz/posts/16910/wiki')"}
      토론방 운영규칙 보기
    %br
    %button.btn.btn-warning{onclick:"window.open('http://eduhope.govcraft.org')"}
      캠페인 사이트 바로가기
