.key-page{style:"background-image:url(#{asset_url('groups/eduhope/key_page_bg.jpg')});"}
  .container
    %h3.visible-xs
      %small
        학교와 세상을 바꾸는
      %br
      전교조
    .button-area
      %button.btn.btn-danger{onclick:"window.open('https://eduhope.parti.xyz/posts/16910/wiki')"}
        토론방 운영규칙 보기
      %br
      %button.btn.btn-warning{onclick:"window.open('http://eduhope.govcraft.org')"}
        캠페인 사이트 바로가기
