.key-page{style:"background-image:url(#{asset_url('groups/syp/background-image.png')});"}
  .button-area
    %button.btn{onclick:"window.open('http://seoulyg.net')"}
      청정넷이 궁금해요
    %button.btn{onclick:"window.open('https://docs.google.com/forms/d/e/1FAIpQLSdqzurAyDgdnSi1fMwtWXhh8oXv4rYjUMlfehWmS04BTJ7y-A/viewform')"}
      본회의 참관신청
