.key-page{style:"background-image:url(#{asset_url('groups/syp/background-image.png')});"}
  .button-area
    %button.btn{onclick:"window.open('')"}
      청정넷이 궁금해요
    %button.btn{onclick:"window.open('')"}
      본회의 참관신청
