- content_for :playground_header_content do
  .playground-header
    .channel-menu
      .nav
        .title.form-inline{ data: { controller: 'select-link' } }
          .node
            %i.fa.fa-at
            멘션

- content_for :playground_sidebar_content do
  = render 'front/share/base_playground_sidebar_content'

.messages-box
  .pagination-header
    .pages
      = render 'front/share/pagination_header/mentions_page', posts: @mention_clusters, need_to_read_count: @need_to_read_count, permited_params: @permited_params, all_posts_total_count: @all_mentions_total_count, read_all_path: read_all_mentions_front_messages_path

  - if @mention_clusters.any?
    - @mention_clusters.each do |cluster, messages|
      = render 'front/messages/cluster', messages: messages, cluster_owner: cluster.cluster_owner, cluster_messages_count: cluster.messages_count, cluster_unread_messages_count: cluster.unread_messages_count, mention_only_page: true, permited_params: @permited_params

    .mt-4
      = paginate @mention_clusters, theme: 'catan'
  - else
    .alert-box.my-3
      .alert.alert-secondary.font-size-sm.d-flex.align-items-center.justify-content-between
        아직 받은 멘션이 없습니다.
