.notifications{ data: { toggle: 'dropdown', target: 'message-dropdown.toggle' } }
  %i.fa.fa-bell.fa-fw
  - if @important_messages_count > 0
    %i.fa.fa-circle.circle{ data: { target: 'message-dropdown.circle', 'last-message-id': @messages&.first&.id } }
.dropdown-menu.dropdown-menu-right.messages{ data: { target: 'message-dropdown.menu' } }
  .dropdown-header.front-navbar-message-header
    알림
    .btn.btn-link.btn-sm{ data: { 'disable-with': '<i class="fa fa-spinner fa-pulse"></i> 로딩 중...', action: 'click->message-dropdown#stopPropagation click->content-loader#reload' } }
      새로고침
  - if @messages.any?
    - @messages.each do |message|
      .dropdown-item.front-navbar-message-item{ class: ('unread' if message.unread?) }
        = render message
  - else
    .dropdown-item
      %i.fa.fa-info-circle
      아직 알림이 없습니다.
