.notifications{ data: { toggle: 'dropdown', target: 'message-dropdown.toggle' } }
  %i.fa.fa-bell.fa-fw
  - if @messages.first.present? && (current_user.last_noticed_message_id.blank? || @messages.first.id > current_user.last_noticed_message_id)
    %i.fa.fa-circle.circle{ data: { target: 'message-dropdown.circle', 'last-message-id': @messages&.first&.id } }
.dropdown-menu.dropdown-menu-right.messages{ data: { target: 'message-dropdown.menu' } }
  .dropdown-header.front-navbar-message-header
    알림
    .btn.btn-link.btn-sm{ data: { 'disable-with': '<i class="fa fa-spinner fa-pulse"></i> 로딩 중...', action: 'click->content-loader#reload', target: 'message-dropdown.reloadButton', 'message-dropdown-keep-open': true } }
      새로고침
  - if @messages.any?
    .scrollable{ data: { target: 'message-dropdown.messagesContainer' } }
      - @messages.each do |message|
        = render message
    .dropdown-header.front-navbar-message-footer
      = link_to '더 많은 알림 보기', front_messages_path, class: 'btn btn-link btn-sm px-0'
  - if @messages.empty?
    .dropdown-item
      %i.fa.fa-info-circle
      아직 알림이 없습니다.
