!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %link{href: "http://fonts.googleapis.com/earlyaccess/notosanskr.css", rel: "stylesheet"}
  %body(style="background-color: transparent; padding-left: 12px; padding-right: 12px; font-family: 'Noto Sans KR'; font-weight: normal")
    %div(style="max-height: 400px; width: 1000px; overflow: hidden;")
      != body
