- if can? :update, post.wiki
  .wiki-form{ class: ('js-wiki-conflict' if post.wiki.conflict?), style: 'margin-bottom: 0' }
    - if post.wiki.conflict?
      .alert.alert-danger.alert-wiki-conflict
        %p
          %strong 저장을 계속하기 전에 검토가 필요합니다.
        %p
          = date_f(post.wiki.latest_history.created_at)
          에 @#{post.wiki.last_history.user.nickname}님이 위키를 먼저 업데이트했습니다.
          부딪히는 내용은 없는지 변경된 사항을 검토한 후에 다시 저장해 주세요.
          두 버전의 다른 점은 아래와 같이 표시해 두었습니다.
        %p
          %br
          .wiki-conflict-legend
            예시)
            %span.diff-added @#{post.wiki.last_history.user.nickname}님이 저장한 위키 내용
            %i.fa.fa-arrows-h
            %span.diff-removed 내가 편집 중이던 위키 내용
    = render 'wikis/form', post: post, remote_post_form: local_assigns[:remote_post_form], wiki_card_dom_id: local_assigns[:wiki_card_dom_id]
