- has_blinds = false
- @posts.each do |post|
  - if !post.blinded?(current_user) and !post.private_blocked?(current_user)
    = render 'wikis/wiki', local_assigns.merge(post: post)
  - has_blinds = post.blinded?(current_user)
- if has_blinds
  .card.col-xs-12.col-sm-4
    .reference-card
      .caption
        .info-body
          %i.fa.fa-info-circle
          = t('labels.blind_info')
