.key-page
  .container
    = link_to 'http://urimanna.govcraft.org' do
      .banner.pull-left{style:"background-image:url(#{asset_url('groups/kdemo/urimanna_keyvisual.png')});"}
        우리가 만드는 나라
        %br
        캠페인 사이트
        %i.fa.fa-chevron-right

    .desc.pull-left
      전국적인 온라인 만민공동회 구축을 통해<br/>
      깨어있는 시민들의 자발적 네트워크를 <br/>
      구축해 나가는 것을 지향합니다
