- if current_wiki.active?
  .body.-full{ data: { controller: 'content-replacement' } }
    .article
      .brightness
        != current_wiki.body
    .buttons
      = render 'front/wikis/controls', current_wiki: current_wiki, list_nav_params: local_assigns[:list_nav_params]

  .authors
    .label 작성
    - current_wiki.authors.each do |user|
      %span.user{ data: { controller: 'content-popover', 'content-popover': { url: user_front_members_path(user), options: h({ container: '.front-app' }.to_json) } } }
        .image{ style: "background-image: url(#{user.image.sm.url});", title: user.nickname, data: { toggle: 'tooltip', placement: 'right', boundary: 'viewport' } }
- elsif current_wiki.purged?
  .alert-box.my-3
    .alert.alert-secondary
      %i.fa.fa-fa-info-circle
      숨겨진 위키입니다.
- else
  .alert-box.my-3
    .alert.alert-secondary
      %i.fa.fa-fa-info-circle
      아카이브된 위키입니다.
