$color-brand-primary: #966fd6;

$color-voodoo-500: #3e313c;
$color-voodoo-400: #655A63;
$color-voodoo-300: #ab9ba9;
$color-gray-500: #808080;
$color-gray-400: #bbb;
$color-gray-300: #eee;
$color-gray-200: #f8f7fe;
$color-gray-100: #fafafa;
$color-white-a20: rgba(255, 255, 255, .2);