@use './bootstrap';
@use './global-variables';

.btn-white {
  @include bootstrap.button-variant(#ffffff, #cccccc, #ffffff, #adadad, #ffffff, #adadad);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

legend.legend-default {
  margin-bottom: 1rem;
  font-size: bootstrap.$font-size-lg;
  color: global-variables.$color-gray-500;
  font-weight: 600;
  margin-top: 3rem;
}

.simple-box {
  padding: 3rem 0;
  max-width: 600px;
  min-width: 400px;
  text-align: left;
}

.small.fa {
  font-size: 80%;
  font-weight: 400;
}

.clean-p-parent > p:last-child {
  margin-bottom: 0;
}