@use './bootstrap';
@use './global-variables';
@use './mq';

.btn-white {
  @include bootstrap.button-variant(#ffffff, #cccccc, #ffffff, #adadad, #ffffff, #adadad);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

legend.legend-default {
  margin-bottom: 1rem;
  font-size: bootstrap.$font-size-lg;
  color: global-variables.$color-gray-500;
  font-weight: 600;
  margin-top: 3rem;
}

.simple-box {
  word-break: keep-all;
  padding: 3rem 0;
  max-width: 600px;
  min-width: 300px;
  text-align: left;
}
.simple-box p {
  word-break: keep-all;
}

.small.fa {
  font-size: 80%;
  font-weight: 400;
}

.clean-p-parent > p:last-child {
  margin-bottom: 0;
}

.btn-important {
  @include bootstrap.button-variant(global-variables.$color-gray-500, global-variables.$color-gray-500);
  color: white;
}

.texet-nowrap {
  white-space: nowrap;
}

.text-keepall {
  word-break: keep-all;
  white-space: normal;
}

@include mq.media('<=phone') {
  .font-size-base-phone {
    font-size: 1rem;
  }
  .font-size-lg-phone {
    font-size: bootstrap.$font-size-lg;
  }
}
