@use './global-variables';
@use './bootstrap';

@mixin word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: normal;
  word-break: normal;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin box-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@mixin simplebar_x {
  > .simplebar-layout
    > .simplebar-wrapper
    > .simplebar-mask
    > .simplebar-offset
    > .simplebar-content-wrapper
    > .simplebar-content {
    @content;
  }
  @content;
}

@mixin editor-content {
  font-size: 0.95rem;
  line-height: 1.5;

  *:first-child {
    margin-top: 0 !important;
  }
  *:last-child {
    margin-bottom: 0 !important;
  }

  /* Add space around the hr to make clicking it easier */
  hr {
    position: relative;
    height: 1rem;
    border: none;
  }

  hr:after {
    content: "";
    position: absolute;
    top: 0.25rem;
    border-top: 2px solid global-variables.$color-gray-500;
    width: 100%;
  }

  ul,
  ol {
    padding-left: 1.25rem;
    cursor: default;
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 2rem;
    margin-top: 0;
  }

  li > p {
    margin: 0;
  }

  li {
    position: relative;
    pointer-events: none; /* Don't do weird stuff with marker clicks */
  }

  li > * {
    pointer-events: auto;
  }

  pre {
    white-space: pre-wrap;
  }

  img {
    cursor: default;
  }

  table {
    border-collapse: collapse;
  }

  td {
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 3px 5px;
  }

  a,
  .mention {
    color: global-variables.$color-brand-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.25;
  }
  h1 {
    font-size: 1.5rem;
    padding-bottom: 0.3em;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.25rem;
    padding-bottom: 0.3em;
    margin-bottom: .75rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1.125rem - 0.125rem;
    color: global-variables.$color-gray-500;
  }
  h5 {
    font-size: 1.125rem - 0.125rem * 2;
    color: global-variables.$color-gray-500;
  }
  h6 {
    font-size: 1.125rem - 0.125rem * 2;
    font-style: italic;
    color: global-variables.$color-gray-500;
  }

  img {
    max-width: 100%;
  }
  // legacy for tinymce - start
  p.d277bc4d-a73e-4b2e-94ed-bbe7c1934b74 {
    margin: 0;
  }
  .tinymce-placeholder {
    color: global-variables.$color-gray-500;
  }
  .tinymce-content-image {
    max-width: 100%;
  }
  // legacy for tinymce - end

  blockquote {
    border: none;
    margin: 1.25rem 0;
    padding: 1.25rem;
    background-color: global-variables.$color-gray-200;
    p:first-child,
    ul:first-child,
    ol:first-child {
      margin-top: 0;
    }
    p:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }
  }
  & > ul:first-child,
  & > ol:first-child {
    margin-top: 1.25rem;
  }
  .mce-item-table,
  .mce-item-table td,
  .mce-item-table th,
  .mce-item-table caption {
    border: 1px solid global-variables.$color-gray-500;
    padding: 0.5rem;
  }

  em {
    font-style: italic;
  }

  .conflict-insertion > .btn {
    font-size: 0.5rem;
    margin: 0 0.25rem;
    height: 1rem;
    padding: 0rem .25rem;
    white-space: nowrap;
  }
  .version-insertion,
  .version-deletion,
  .conflict-insertion,
  .conflict-deletion {
    padding: .25rem 0;
    margin: .125rem 0;
    display: inline-flex;
    align-items: center;
  }
  .version-insertion {
    border: 2px dashed rgba(128, 0, 0, .7);
    opacity: 0.4;
  }
  .conflict-insertion {
    border: 2px dashed rgba(128, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .version-deletion,
  .conflict-deletion {
    background-color: rgba(0, 128, 0, .3);
    border: 1px solid rgba(0, 128, 0, .5);
  }
  .version-insertion > .content {
    color: rgba(128, 0, 0, .7);
  }
  .conflict-insertion > .content {
    cursor: cell;
    color: rgba(128, 0, 0, .5);
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}