@use 'global-variables';
@use 'mq';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-break: break-word;
}

*, body {
  font-family: system, -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Hiragino Sans, "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", Apple SD Gothic Neo, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

html {
  height: 100%;
  position: relative;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

body.-pack a:hover:not(.btn) {
  text-decoration: none;
}

body.-pack .hover\:text-primary:hover {
  color: global-variables.$color-brand-primary;
}

