- upvote = message.messagable
- if upvote.upvotable.is_a? Comment
  %strong
    #{message.sender.nickname}님이 내 댓글에 공감합니다
  %br
    = excerpt(upvote.upvotable.body, length: 100)
- else
  %strong
    #{message.sender.nickname}님이 내 게시글을 공감합니다
  %br
    = upvote.upvotable.specific_desc_striped_tags
