@use '../global-variables';
@use '../mq';

$global-sidebar-width: 75px;
$front-sidebar-width: 15rem;
$color-sidebar-background: global-variables.$color-gray-000;
$global-sidebar-space-x: 18%;
$playground-sidebar-space-x: .75rem;


$_navbar-height-default: 2.75rem;
$_navbar-height-phone: 3rem;
$_joinbar-height-default: 10rem;
$_joinbar-height-phone: 13.5rem;

@mixin navbar-height($property) {
  #{$property}: $_navbar-height-default;
  @include mq.media("<=phone") {
    #{$property}: $_navbar-height-phone;
  }
}

@mixin navbar-and-joinbar-height($property) {
  #{$property}: $_joinbar-height-default + $_navbar-height-default;
  @include mq.media("<=phone") {
    #{$property}: $_joinbar-height-phone + $_navbar-height-phone;
  }
}

@mixin joinbar-height($property) {
  #{$property}: $_joinbar-height-default;
  @include mq.media("<=phone") {
    #{$property}: $_joinbar-height-phone;
  }
}

@mixin playground-body-space-x($properties...) {
  @each $property in $properties {
    #{$property}: 1.75rem;
    @include mq.media("<=phone") {
      #{$property}: .75rem;
    }
  }
}

$chosens:
  agree #367264,
  neutral global-variables.$color-brand-primary,
  disagree #f0646d;

