@use "./front-variables";

@forward "./front-app/category-card";
@forward "./front-app/channel-box";
@forward "./front-app/channel-line";
@forward "./front-app/channel-lines";
@forward "./front-app/channel-listing";
@forward "./front-app/channel-listings";
@forward "./front-app/channel-menu";
@forward "./front-app/comment-filesource-image-listing";
@forward "./front-app/comment-filesource-doc-listing";
@forward "./front-app/comment-filesource-listings";
@forward "./front-app/comment-form";
@forward "./front-app/coc-box";
@forward "./front-app/file-source-field";
@forward "./front-app/folder-lines";
@forward "./front-app/front-body";
@forward "./front-app/front-navbar";
@forward "./front-app/front-navbar-message-item";
@forward "./front-app/front-playground";
@forward "./front-app/front-simple";
@forward "./front-app/join-banner";
@forward "./front-app/global-sidebar";
@forward "./front-app/group-menu";
@forward "./front-app/group-navitem";
@forward "./front-app/group-navitems";
@forward "./front-app/group-sidebar";
@forward "./front-app/pinned-post-line";
@forward "./front-app/playground-body";
@forward "./front-app/playground-header";
@forward "./front-app/popover-post-poll-votings-users";
@forward "./front-app/post-body";
@forward "./front-app/post-box";
@forward "./front-app/post-comment-main";
@forward "./front-app/post-comment";
@forward "./front-app/post-comments";
@forward "./front-app/post-content";
@forward "./front-app/post-file-sources-only-doc";
@forward "./front-app/post-file-sources-only-image";
@forward "./front-app/post-form";
@forward './front-app/post-form-box';
@forward "./front-app/post-header";
@forward "./front-app/post-line";
@forward "./front-app/post-lines-box";
@forward "./front-app/post-lines-header";
@forward "./front-app/post-lines";
@forward "./front-app/post-link-source";
@forward "./front-app/post-main";
@forward "./front-app/post-meta";
@forward "./front-app/post-poll-votings-users";
@forward "./front-app/post-poll";
@forward "./front-app/post-survey";
@forward "./front-app/post-video-source";
@forward "./front-app/post-wiki";
@forward "./front-app/supplementary-box";
@forward "./front-app/supplementary-boxes";
@forward "./front-app/upvoted-users";
@forward "./front-app/user-navitem";
@forward "./front-app/upvoted-users";

// reset front body
body.app-front,
body.-pack.-simple.app-users {
  height: 100%;
  width: 100%;
  margin: 0;
}

.front-app {
  height: 100%;
  > .front-navbar {
    height: front-variables.$navbar-height;
    position: fixed;
    width: 100%;
    top: 0;
  }
  > .front-body {
    flex: 1;
    height: 100%;
    padding-top: front-variables.$navbar-height;
  }
}

body.-simple .front-app {
  padding-top: front-variables.$navbar-height;
  display: flex;
  flex-direction: column;
}
