@use '../global-variables';

$global-sidebar-width: 75px;
$front-sidebar-width: 15rem;
$color-sidebar-background: global-variables.$color-gray-100;
$global-sidebar-space-x: 18%;
$navbar-height: 2.75rem;
$front-body-space-left: 1.75rem;
$front-body-space-right: 1rem;
$playground-header-height-lg: 4.7rem;
$playground-header-height-sm: 3rem;
$playground-sidebar-width: 24rem;

$chosens:
  agree #367264,
  neutral global-variables.$color-brand-primary,
  disagree #f0646d;

