@use "./front-variables";

@forward "./front-app/*.scss";

// reset front body
body.app-front {
  height: 100%;
  width: 100%;
  margin: 0;
}

.front-app {
  height: 100%;
  display: flex;
  > .global-sidebar {
    flex: none;
    width: front-variables.$global-sidebar-width;
    height: 100%;
  }
  > .group-sidebar {
    flex: none;
    width: front-variables.$group-sidebar-width;
    height: 100%;
  }
  > .front-playground {
    flex: 1;
    height: 100%;
  }
}