@use '../global-variables';

$global-sidebar-width: 75px;
$group-sidebar-width: 220px;
$color-sidebar-background: global-variables.$color-voodoo-500;
$global-sidebar-space-x: 18%;
$header-height: 53px;
$front-playground-space-x: 24px; //1.5rem

$chosens:
  agree #367264,
  neutral global-variables.$color-brand-primary,
  disagree #f0646d;

