@use "./main-variables";

@forward "./main/*.scss";

// reset main body
body.app-pages-main {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-app {
  height: 100%;
  display: flex;
  > .main-navbar {
    flex: none;
    width: main-variables.$main-navbar-width;
    height: 100%;
  }
  > .main-playground {
    flex: 1;
    height: 100%;
  }
}