- content_for(:head) do
  %div{:style => "text-align: center;"}
    %span{:style => "color: rgb(255, 255, 255); font-size: 14px;"}
      안녕하세요. #{@recipient.nickname}님!
      %span{:style => "color: rgb(255, 255, 255);"} 새 댓글을 확인하세요. 
  %div{:style => "text-align: center;"}
    %span{:style => "color: rgb(255, 255, 255);"}
      = l(@subject.created_at.to_date, format: :email)


= render customize_partial_path(@subject, 'comment_in_email')




