- content_for(:head) do
  %div{:style => "text-align: center;"}
    %span{:style => "color: rgb(255, 255, 255); font-size: 14px;"}
      안녕하세요. #{@recipient.nickname}님!

= render customize_partial_path(@subject, 'post_in_email')

