- has_blinds = false
- @posts.each do |post|
  - unless post.blinded?(current_user) or post.private_blocked?(current_user)
    = render 'references/reference', local_assigns.merge(post: post)
  - else
    - has_blinds = true
- if has_blinds
  .card.col-sm-4.col-xs-12
    .reference-card
      .caption
        .body= t('labels.blind_info')
