- has_blinds = false
- @posts.each do |post|
  - if !post.blinded?(current_user) and !post.private_blocked?(current_user)
    = render 'references/reference', local_assigns.merge(post: post)
  - has_blinds = post.blinded?(current_user)
- if has_blinds
  .card.col-sm-4.col-xs-12
    .reference-card
      .caption
        .body= t('labels.blind_info')
