@use '../../bootstrap';
@use '../../global-variables';
@use '../../mq';

.front-app .channel-line {
  line-height: 1.25rem;
  > .link {
    display: inline-block;
    padding: .125rem 1rem;
  }
  > .link:hover {
    background: global-variables.$color-gray-200;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  > .link.-active {
    background-color: global-variables.$color-gray-200;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-weight: 600;
  }

  @include mq.media('>phone') {
    > .link.-active:hover {
      background-color: global-variables.$color-gray-300;
    }
  }

  > .link > .title {
    display: inline-flex;
    color: global-variables.$color-gray-700;
    margin-left: 0;
    margin-right: 0.25rem;
    font-size: bootstrap.$font-size-sm;
  }
  > .link > .title > .hash {
    display: inline-block;
    margin-right: 0.25rem;
    color: global-variables.$color-gray-500;
    font-size: bootstrap.$font-size-sm;
    font-weight: 200;
  }
  > .link.-active > .title > .hash {
    color: global-variables.$color-gray-800;
  }
  > .link > .title > .content {
    position: relative;
  }
  > .link > .title > .content > .unread {
    display: none;
  }
  > .link > .title > .content > .unread.-active {
    display: inline-block;
    background: #e02020;
    border-radius: 9999px;
    width: .25rem;
    height: .25rem;
    top: 0;
    right: -.375rem;
    position: absolute;
  }
  > .link > .title > .content > .meta > .fa {
    opacity: 0.5;
    margin-left: .25rem;
  }
  > .link > .title > .badge,
  > .link > .badge {
    line-height: .8rem;
    &:hover {
      box-shadow: 0 0 0 0.2rem global-variables.$color-gray-500;
    }
  }
}
