@use '../../mixin';

.front-app .channel-listings {
  overflow-y: auto;
  overflow-x: hidden;
  @include mixin.simplebar_x {
    > .channel-listing {
      margin-top: .75rem;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
      border-bottom: 1px solid #e9ecf0;
    }
    .channel-listing.-end {
      padding-top: .75rem;
    }
  }
}