@use '../../global-variables';
@use '../front-variables';
@use '../../bootstrap';
@use '../../mq';

.front-app .channel-menu {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid global-variables.$color-gray-200;

  > .title {
    flex: 1;
    display: flex;
    color: global-variables.$color-gray-900;
    font-weight: bold;
  }
  > .title > .node + .node {
    margin-left: 0.75rem;
  }
  > .title > .node {
    flex: none;
    display: inline-block;
    font-size: bootstrap.$font-size-lg;
  }
  > .title > .node > .category {
    position: absolute;
    bottom: 2.2rem;
    font-size: 0.75rem;
    line-height: 1.33;
    font-weight: normal;
    @include mq.media('<=phone') {
      display: none;
    }
  }
  > .title > .node.form-control {
    border-color: global-variables.$color-gray-300;
    font-size: bootstrap.$font-size-sm;
  }
  > .title > .node.form-control + .node.form-control {
    margin-left: 0.375rem;
  }
  > .title > .node:last-child:not(.fix) {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .title > .node.post {
    display: none;
  }
  > .title > .node.post.-active {
    display: inline-block;
    margin-right: 4rem;
    color: global-variables.$color-brand-primary;
  }
  > .title > .node > .meta {
    color: global-variables.$color-gray-400;
  }

  &.-simple > .title > .node > .link,
  &.-simple > .title > .node > .meta {
    font-size: 0.75rem;
    color: global-variables.$color-gray-400;
  }

  &.-simple > .title > .node + .node {
    margin-left: 0.25rem;
  }

  &.-simple > .title > .node > .delimiter {
    font-size: 0.75rem;
    display: inline-block;
    color: global-variables.$color-gray-400;
  }

  > .control {
    flex: none;
  }

  @include mq.media("<=phone") {
    flex-direction: column;
    align-items: flex-start;

    > .title {
      margin-top: 2.5rem;
      width: 100%;
    }

    &.-simple > .title {
      margin-top: 0;
    }

    > .title > .node {
      max-width: 100%;
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .title > .select2.select2-container {
      max-width: 100%;
      margin-left: 0;
      margin-top: .5rem;
      margin-bottom: 1rem;
      font-weight: normal;
    }

    > .control {
      flex: none;
      margin-top: .5rem;
      display: flex;
      width: 100%;
    }

    > .control > .btn {
      flex: 1;
    }

    > .title > .node.-dismiss {
     font-size: bootstrap.$font-size-xs
    }

    > .title > .node.-search {
      margin-left: 0;
    }

    > .title > .node:last-child:not(.fix) {
      flex: none;
    }
  }
}