@use '../../mixin';

.front-app .channel-listings {
  overflow-y: auto;
  overflow-x: hidden;
  @include mixin.simplebar {
    > .channel-listing {
      margin-top: .75rem;
      margin-bottom: .75rem;
    }
    > .channel-listing.-starter {
      margin-bottom: .25rem;
      margin-top: 0.75rem;
    }
  }
}