@use '../../bootstrap';
@use '../../global-variables';

.front-app .channel-line {
  > .link {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  > .link:hover {
    background: global-variables.$color-voodoo-400;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  > .link.-active,
  > .link.-active:hover {
    background-color: #4c9689;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  > .link.-active:hover {
    color: global-variables.$color-gray-400;
  }
  > .link > .title {
    display: inline-block;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0.25rem;
  }
  > .link > .title > .hash {
    display: inline-block;
    margin-right: 0.25rem;
    color: global-variables.$color-voodoo-200;
  }
  > .link > .unread {
    display: none;
  }
  > .link > .unread.-active {
    display: inline-block;
    color: #ffffff;
    background: #eb4d5c;
    border-radius: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-size: bootstrap.$font-size-xs;
    line-height: 0.75rem;
    font-weight: 700;
    white-space: nowrap;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
  }
  > .link > .title > .content > .meta > .fa {
    opacity: 0.5;
  }
}
