@use '../../global-variables';
@use '../front-variables';
@use '../../bootstrap';
@use '../../mq';

.front-app .channel-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 1px solid global-variables.$color-gray-200;

  > .title {
    flex: 1;
    display: flex;
    color: global-variables.$color-gray-900;
    font-weight: bold;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: .75rem;
    align-items: flex-end;
  }
  > .title.-lg {
    width: 100%;
    flex: none;
    position: relative;
  }
  > .title > .node + .node {
    margin-left: 0.75rem;
  }
  > .title > .node {
    flex: none;
    display: inline-block;
    font-size: bootstrap.$font-size-lg;
  }
  > .title > .node > .category {
    font-size: 0.75rem;
    line-height: 1.33;
    font-weight: normal;
    @include mq.media('<=phone') {
      display: none;
    }
  }
  > .title > .node.form-control {
    border-color: global-variables.$color-gray-300;
    font-size: bootstrap.$font-size-sm;
  }
  > .title > .node.form-control + .node.form-control {
    margin-left: 0.375rem;
  }
  > .title > .node.post {
    display: none;
  }
  > .title > .node.post.-active {
    display: inline-block;
    margin-right: 4rem;
    color: global-variables.$color-brand-primary;
  }
  > .title > .node > .meta {
    color: global-variables.$color-gray-400;
  }

  &.-simple > .title > .node > .link,
  &.-simple > .title > .node > .meta {
    font-size: 0.75rem;
    color: global-variables.$color-gray-400;
  }
  &.-simple > .title > .node + .node {
    margin-left: 0.25rem;
  }
  &.-simple > .title > .node > .delimiter {
    font-size: 0.75rem;
    display: inline-block;
    color: global-variables.$color-gray-400;
  }

  > .control {
    flex: none;
    text-align: right;
  }

  > .folders {
    flex: 1;
    min-width: 0;
    margin-right: .75rem;
  }

  > .folders > .select2 {
    max-width: 20rem;
  }

  > .folders > .select2 > .selection > .select2-selection {
    height: 1.85rem;
    font-size: bootstrap.$font-size-xs;
  }

  > .folders > .select2 > .selection > .select2-selection > .select2-selection__rendered {
    direction: rtl;
  }


  @include mq.media("<=phone") {
    flex-direction: column;
    align-items: flex-start;

    > .title {
      width: 100%;
    }

    &.-simple > .title {
      margin-top: 0;
    }

    > .title > .node {
      max-width: 100%;
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .title > .select2.select2-container {
      max-width: 100%;
      margin-left: 0;
      margin-top: .5rem;
      margin-bottom: 1rem;
      font-weight: normal;
    }

    > .control {
      flex: none;
      margin-top: .75rem;
      display: flex;
      width: 100%;
    }

    > .control > .btn {
      flex: 1;
    }

    > .title > .node.-search {
      margin-left: 0;
    }

    > .folders {
      width: 100%;
      margin-top: .5rem;
    }

    > .folders > .select2 {
      max-width: none;
    }
  }
}