@use '../../global-variables';
@use '../../bootstrap';

.front-app .channel-box-header {
  display: flex;

  > .pages {
    flex: 1;
    display: inline-block;
    line-height: 2rem;
    font-size: bootstrap.$font-size-xs;
    padding-left: .5rem;
  }
}
