@use '../../global-variables';
@use '../../bootstrap';
@use '../../mq';

.front-app .channel-box-header {
  display: flex;

  > .pages {
    flex: 1;
    margin-left: .5rem;
  }

  > .pages > .all,
  > .pages > .needtoread {
    margin-right: .5rem;
    display: inline-block;
  }

  > .pages > .all.-active,
  > .pages > .needtoread.-active,
  > .pages > .readall.-active {
    font-weight: bold;
  }

  > .pages,
  > .control {
    display: inline-block;
    line-height: 2rem;
    font-size: bootstrap.$font-size-xs;
  }

  > .control {
    margin-right: .5rem
  }

  @include mq.media('<=phone') {
    > .pages > .all > .link > .page {
      display: none
    }

    > .pages > .readall {
      display: block;
    }

    > .pages,
    > .control {
      line-height: 1.5rem;
    }

    > .control {
      margin-right: 1.25rem
    }

    > .control:last-child {
      margin-right: .5rem
    }
  }
}
