@use '../../global-variables';
@use '../front-variables';

.front-app .channel-menu {
  > .title {
    display: inline-block;
    color: global-variables.$color-voodoo-400;
    font-weight: 900;
    line-height: front-variables.$header-height;
  }
  > .title > .link:hover {
    text-decoration: underline;
  }
}