@use '../../global-variables';
@use '../../bootstrap';

.front-app .folder-lines {
  list-style: none;
  &.-hide {
    display: none;
  }
  > .line {
    padding-right: .75rem;
    margin: 0.25rem 0;
  }
  > .line > .link {
    display: inline-flex;
    padding: 0.125rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  > .line > .link:hover {
    background: global-variables.$color-gray-200;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  > .line > .link.-active {
    background-color: global-variables.$color-gray-200;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-weight: 600;
  }
  > .line > .link.-active:hover {
    background-color: global-variables.$color-gray-300;
  }
  > .line > .link > .title {
    display: inline-block;
    color: global-variables.$color-gray-900;
    flex: 1;
    margin-left: 0;
    margin-right: 0.25rem;
    overflow: hidden;
    font-size: bootstrap.$font-size-sm;
  }
  > .line > .link > .title > .content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .line > .link > .icon {
    display: inline;
    flex: none;
    margin-right: .25rem;
  }
  > .line > .link > .icon.-disabled {
    opacity: 0;
  }
  > .line > .link > .icon:not(.-disabled):hover > .fa {
    background-color: global-variables.$color-gray-400;
  }
  > .line > .link.-active > .icon:not(.-disabled):hover > .fa {
    background-color: global-variables.$color-gray-400;
  }
  > .line > .link > .icon > .fa.-show:before {
    content: "\f0d7";
  }
  > .line > .link > .icon > .fa.-hide:before {
    content: "\f0da";
  }
}