@use '../../global-variables';
@use "../front-variables";

.front-app .front-playground {
  padding-top: front-variables.$header-height;
  overflow: hidden;
  position: relative;
  > .playground-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  > .playground-body {
    height: 100%;
    width: 100%;
  }
}