@use '../../global-variables';
@use '../../bootstrap';
@use '../../mq';

.app-front--pages--coc .front-app .front-navbar > .centermenu > .dropdown > .queryinput {
  border-color: global-variables.$color-gray-400-a30;
}

.front-app .front-navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 3;
  justify-content: space-between;

  > .centermenu {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 23rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  > .centermenu > .dropdown {
    max-width: 34rem;
    width: 100%;
  }

  > .centermenu > .dropdown > .queryinput {
    background-color: white;
    border: 1px solid transparent;
    height: 1.75rem;
    line-height: 1.75rem;
    outline: none;
    width: 100%;
    padding: .25rem .5rem;
    border-radius: 2px;
  }

  > .centermenu > .dropdown > .queryinput::placeholder {
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color: global-variables.$color-gray-500;
    font-size: bootstrap.$font-size-sm;
    opacity: .4;
  }

  > .centermenu > .dropdown > .dropdown-menu {
    width: 100%;
  }

  > .centermenu > .dropdown > .dropdown-menu > .dropdown-item {
    position: relative;
    cursor: pointer;
  }

  > .centermenu > .dropdown > .dropdown-menu > .dropdown-item.-active {
    color: #fff;
    text-decoration: none;
    background-color: global-variables.$color-brand-primary;
  }

  > .centermenu > .dropdown > .dropdown-menu > .dropdown-item > .text {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  > .centermenu > .dropdown > .dropdown-menu > .dropdown-item > .scope {
    font-size: bootstrap.$font-size-xs;
    background: global-variables.$color-gray-300;
    padding: .125rem .25rem;
    color: global-variables.$color-gray-700;
    position: relative;
    right: 0;
    top: 0;
  }

  > .profilemenus {
    flex: none;
    display: flex;
  }
  > .profilemenus > .dropdown > .userimage,
  .menugroup > .menuitem.dropdown > .userimage {
    flex: none;
    vertical-align: bottom;
    cursor: pointer;
  }
  > .profilemenus > .dropdown > .userimage > .userimagebg,
  > .menugroup > .menuitem.dropdown > .userimage > .userimagebg {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 9999px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    background-color: white;
  }
  > .profilemenus > .dropdown > .usermenu {
    max-height: 300px;
    overflow: auto;
  }
  > .profilemenus > .menuitem {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  > .profilemenus > .menuitem.-powered-by {
    border-left: 1px solid rgba(255, 255, 255, .7);
    padding-left: 1rem;
    display: flex;
    font-size: bootstrap.$font-size-xs;
    align-self: center;
    align-items: flex-end;
    margin-left: 0;
  }
  > .profilemenus > .menuitem.-powered-by > .parti {
  height: 1.25rem;
    margin-left: .5rem;
  }
  > .profilemenus > .menuitem > .staticpopover {
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  > .profilemenus > .dropdown > .notifications {
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    font-size: 1.25rem;
    opacity: 1;
    position: relative;
    cursor: pointer;
  }

  > .profilemenus > .dropdown > .notifications > .circle {
    position: absolute;
    font-size: 1px;
    right: 4px;
    top: 3px;
    color: red;
  }

  > .profilemenus > .dropdown > .messages {
    max-height: 350px;
    max-width: 600px;
    min-width: 400px;
    overflow: auto;
    padding: 0;
  }

  @include mq.media('<=phone') {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .centermenu {
      width: 35%;
    }

    > .centermenu > .link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > .centermenu > .meta {
      opacity: .4;
      margin-left: .25rem;
    }

    > .menugroup {
      display: flex;
      align-items: center;
    }

    > .menugroup > .menuitem + .menuitem {
      margin-left: 1rem;
    }

    > .menugroup > .menuitem.dropdown > .notifications > .circle {
      position: absolute;
      font-size: 1px;
      right: 0;
      top: 3px;
      color: red;
    }

    > .menugroup > .menuitem.dropdown > .messages {
      overflow: auto;
    }

    > .menugroup > .menuitem.dropdown > .userimage > .userimagebg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}