@use '../../global-variables';
@use "../../mixin";
@use "../front-variables";

.front-app .front-body {
  overflow: hidden;
  display: flex;

  &.-no-header {
    padding-top: 0;
  }

  > .playground-main {
    flex: 1;
  }

  > .playground-sidebar {
    flex: none;
    width: front-variables.$playground-sidebar-width + (front-variables.$playground-sidebar-space-x * 2);
  }
}




