@use '../../global-variables';
@use '../../bootstrap';

.front-app .front-navbar {
  background: global-variables.$color-voodoo-500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;

  .groupmenu {
    flex: none;
    color: white;
  }

  > .groupmenu > .link {
    color: white;
  }

  > .groupmenu:hover > .link {
    color: global-variables.$color-gray-300;
  }

  > .groupmenu > .moremenu > .dropdown > .title > .meta {
    opacity: .4;
  }

  > .searchform {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  > .searchform > .dropdown {
    max-width: 34rem;
    width: 100%;
  }

  > .searchform > .dropdown > .queryinput {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 1.5rem;
    padding: .25rem;
    outline: none;
    vertical-align: bottom;
    width: 100%;
    padding: .25rem 1.5rem;
  }

  > .searchform > .dropdown > .queryinput.-empty {
    background-color: rgba(255, 255, 255, 0.2);
  }

  > .searchform > .dropdown > .queryinput:active,
  > .searchform > .dropdown > .queryinput:focus,
  > .searchform > .dropdown > .queryinput.-active {
    background: rgba(255, 255, 255, 0.8);
    outline: none;
    vertical-align: bottom;
  }

  > .searchform > .dropdown > .queryinput::placeholder {
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color: global-variables.$color-voodoo-200;
    font-size: bootstrap.$font-size-sm;
    text-align: center;
  }

  > .searchform > .dropdown > .dropdown-menu {
    width: 100%;
  }

  > .searchform > .dropdown > .dropdown-menu > .dropdown-item {
    position: relative;
    cursor: pointer;
  }

  > .searchform > .dropdown > .dropdown-menu > .dropdown-item.-active {
    color: #fff;
    text-decoration: none;
    background-color: global-variables.$color-brand-primary;
  }

  > .searchform > .dropdown > .dropdown-menu > .dropdown-item > .text {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  > .searchform > .dropdown > .dropdown-menu > .dropdown-item > .scope {
    font-size: bootstrap.$font-size-xs;
    background: global-variables.$color-gray-300;
    padding: .125rem .25rem;
    color: global-variables.$color-gray-700;
    position: relative;
    right: 0;
    top: 0;
  }

  > .profilemenus {
    flex: none;
    display: flex;
    color: white;
  }
  > .profilemenus > .dropdown > .userimage {
    flex: none;
    vertical-align: bottom;
    cursor: pointer;
  }
  > .profilemenus > .dropdown > .userimage > .userimagebg {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 9999px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
  }
  > .profilemenus > .dropdown > .usermenu {
    max-height: 300px;
    overflow: auto;
  }
  > .profilemenus > .menuitem {
    position: relative;
    opacity: .8;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  > .profilemenus > .menuitem.-powered-by {
    border-left: 1px solid rgba(255, 255, 255, .7);
    padding-left: 1rem;
    display: flex;
    font-size: bootstrap.$font-size-xs;
    align-self: center;
    align-items: flex-end;
    margin-left: 0;
  }
  > .profilemenus > .menuitem.-powered-by > .parti {
  height: 1.25rem;
    margin-left: .5rem;
  }
  > .profilemenus > .menuitem > .staticpopover {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  > .profilemenus > .menuitem > .link {
    color: white;
  }
  > .profilemenus > .menuitem:hover > .link {
    color: global-variables.$color-gray-200;
  }


  > .profilemenus > .dropdown > .notifications {
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    font-size: 1.25rem;
    opacity: 1;
    position: relative;
    cursor: pointer;
  }

  > .profilemenus > .dropdown > .notifications > .circle {
    position: absolute;
    font-size: 1px;
    right: 4px;
    top: 3px;
    color: red;
  }

  > .profilemenus > .dropdown > .messages {
    max-height: 350px;
    max-width: 600px;
    min-width: 400px;
    overflow: auto;
    padding: 0;
  }
}