@use '../../global-variables';
@use '../../bootstrap';

.front-app .front-navbar-message-header {
  background-color: global-variables.$color-gray-000;
  border-bottom: 1px solid global-variables.$color-gray-300;
  font-size: bootstrap.$font-size-sm;
  font-weight: bold;
  color: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front-app .front-navbar-message-footer {
  background-color: global-variables.$color-gray-000;
  border-top: 1px solid global-variables.$color-gray-300;
}