@use "../front-variables";
@use "../../mq";

.front-app .front-main {
  display: flex;

  > .front-sidebar {
    flex: none;
    width: front-variables.$front-sidebar-width;
    height: 100%;
  }
  > .front-body {
    flex: 1;
    height: 100%;
  }

  &.-need-to-join > .front-joinbar {
    position: fixed;
    padding: 1.25rem;
    @include front-variables.joinbar-height(height);
    width: 100%;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  @include mq.media('<=phone') {
    > .front-sidebar,
    > .front-body {
      height: auto;
    }
  }
}