@use '../../global-variables';
@use "../../mixin";
@use "../front-variables";
@use "../../mq";

.front-app .front-body {
  overflow: hidden;
  display: flex;

  &.-no-header {
    padding-top: 0;
  }

  > .playground-main {
    flex: 1;
    min-width: 0;
  }

  > .playground-sidebar {
    flex: none;
    width: 21rem + (front-variables.$playground-sidebar-space-x * 2);
  }

  @include mq.media('<=wide-desktop') {
    > .playground-sidebar {
      width: 14rem + (front-variables.$playground-sidebar-space-x * 2);
    }
  }
}




