@use '../front-variables';
@use '../../global-variables';

.front-app .front-sidebar {
  background-color: front-variables.$color-sidebar-background;
  position: relative;

  // deprecated
  > .group-menu {
    width: 100%;
    @include front-variables.navbar-height(height);
    @include front-variables.navbar-height(line-height);
    position: absolute;
    top: 0;
  }

  > .channel-listings {
    height: 100%;
    border-right: 1px solid global-variables.$color-gray-300;
  }
}