@use '../../global-variables';

// deprecated
.front-app .group-menu {
  padding: 0 1rem;
  border-bottom: 1px solid global-variables.$color-white-a20;
  cursor: pointer;
  > .title {
    font-weight: 900;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}