@use "../../bootstrap";
@use "../front-variables";

.front-app .group-navitem {
  display: block;
  > .icon {
    border: 4px solid transparent;
    border-radius: 8px;
    width: 100% - (front-variables.$global-sidebar-space-x * 2);
    margin: 0 front-variables.$global-sidebar-space-x;
  }
  &.-active > .icon {
    border-color: #fff;
  }
}