@use '../front-variables';

.front-app .group-sidebar {
  background-color: front-variables.$color-sidebar-background;
  position: relative;

  // deprecated
  > .group-menu {
    width: 100%;
    height: front-variables.$header-height;
    line-height: front-variables.$header-height;
    position: absolute;
    top: 0;
  }

  > .channel-listings {
    height: 100%;
  }
}