@use '../../global-variables';

.front-app .navbar-group-menu {
  flex: none;
  text-align: center;

   > .link {
    font-weight: bold;
  }

  > .moremenu > .dropdown > .title {
    font-weight: bold;
  }

  > .moremenu > .dropdown > .title > .meta {
    opacity: .4;
  }
}