@use '../../global-variables';

.front-app .new-post-box {
  display: flex;

  > .post-form {
    flex: 1;
  }

  > .supplementary-boxes {
    flex: none;
    width: 400px;
    margin-left: 1.5rem;
  }
}