@use '../../global-variables';
@use '../../bootstrap';
@use '../../mixin';

.front-app .organizer-member {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  > .usernickname {
    flex: none;
    margin-left: .5rem;
    font-weight: 600;
  }
  > .memberrole {
    color: global-variables.$color-gray-600;
    font-weight: normal;
    font-size: bootstrap.$font-size-xs;
    margin-left: .5rem;
  }
  > .userimagebg {
    flex: none;
    border: 1px solid white;
    background-color: white;
    @include mixin.background-image-round(1.25rem);
  }
}