@use "../front-variables";
@use "../../mixin";

.front-app .playground-main {
  @include mixin.simplebar_x {
    > .playground-header {
      position: sticky;
      top: 0;
      left: 0;
      flex: 1;
      z-index: 1;
      @include front-variables.playground-body-space-x(padding-right, padding-left);
    }
    > .playground-header.-nosticky {
      position: static;
    }
  }
}