@use '../front-variables';
@use '../../global-variables';

.front-app .playground-header {
  padding-left: front-variables.$front-playground-space-x;
  padding-right: front-variables.$front-playground-space-x;
  white-space: nowrap;
  border-bottom: 1px solid global-variables.$color-gray-300;
}