@use '../front-variables';
@use '../../global-variables';

.front-app .playground-header {
  padding-left: front-variables.$front-body-space-left;
  padding-right: front-variables.$front-body-space-right;
  white-space: nowrap;
  height: front-variables.$playground-header-height;
  background-color: white;

  > .channel-menu {
    height: 100%;
    padding-bottom: 0.5rem;
  }
}