@use '../front-variables';
@use '../../global-variables';

.front-app .playground-header {
  white-space: nowrap;
  background-color: white;

  > .channel-menu {
    height: front-variables.$playground-header-height-lg;
    padding-bottom: 0.5rem;
  }

  > .channel-menu.-simple {
    height: front-variables.$playground-header-height-sm;
    padding-bottom: 0;
  }
}