@use "../front-variables";
@use "../../mixin";

.front-app .playground-body {
  overflow-y: auto;
  overflow-x: hidden;
  @include mixin.simplebar {
    > .channel-box,
    > .post-box,
    > .new-post-box {
      padding: 1rem front-variables.$front-playground-space-x 1.5rem;
    }
  }
}