@use "../front-variables";
@use "../../mixin";

.front-app .playground-main {
  @include mixin.simplebar {
    > .playground-header {
      position: sticky;
      top: 0;
      left: 0;
      flex: 1;
      z-index: 1;
      padding-right: front-variables.$playground-body-space-x;
      padding-left: front-variables.$playground-body-space-x;
    }
    > .playground-header.-nosticky {
      position: static;
    }
  }
}