@use "../front-variables";

.front-app .playground-header:not(.-nosticky) + .playground-body {
  overflow: visible;
}
.front-app .playground-body {
  overflow-y: auto;
  overflow-x: hidden;
  > .channel-box,
  > .messages-box,
  > .channel-form-box,
  > .group-form-box,
  > .post-form-box,
  > .alert-box {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    @include front-variables.playground-body-space-x(padding-right, padding-left);
  }
  > .post-box {
    padding-top: 0;
    padding-bottom: 1.5rem;
    @include front-variables.playground-body-space-x(padding-right, padding-left);
  }
  > .channel-box {
    padding-top: 0;
  }
  > .messages-box {
    padding-top: 0;
  }
}