@use "../front-variables";
@use "../../mixin";

.front-app .playground-sidebar {
  position: relative;

  @include mixin.simplebar_x {
    > .supplementary-boxes {
      padding-top: 2.125rem;
      padding-bottom: 2.125rem;
      padding-left: front-variables.$playground-sidebar-space-x;
      padding-right: front-variables.$playground-sidebar-space-x;
      border-radius: 2px;
    }
  }
}