@use '../../bootstrap';
@use '../../global-variables';
@use '../../mq';

.front-app .post-header {
  display: flex;
  border-bottom: 1px solid global-variables.$color-gray-200;
  position: relative;
  &.-wiki {
    padding-bottom: 0;
    border-bottom: none;
  }
  > .title {
    flex: 1;
    margin-bottom: 0;
    font-size: bootstrap.$font-size-xl;
  }
  &.-form > .title {
    display: flex;
  }
  &.-form > .title > .control {
    flex: 1;
    margin-right: .25rem;
    @extend .form-control;
    font-size: inherit;
    width: auto;
    height: 2.434rem;
  }
  > .title > .editor {
    font-size: bootstrap.$font-size-sm;
    color: global-variables.$color-gray-600;
    font-weight: normal;
    white-space: nowrap;
  }
  > .title + .moremenu {
    margin-left: .5rem;
  }
  > .meta {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-600;
  }
  > .meta > .icon {
    display: inline-block;
    border: 1px solid #d1d4da;
    background-color: #f5f7fa;
    padding: 0 2px;
    margin-right: 0.5rem;
  }
  > .metabox {
    // display: none;
    background-color: global-variables.$color-gray-200;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0;
  }
  > .metabox,
  > .metabox a {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-600;
  }
  > .moremenu {
    flex: none;
  }
  > .moremenu > .dropdown > .btn {
    padding: 0 .5rem;
    color: global-variables.$color-gray-500;
  }

  @include mq.media('<=phone') {
    align-items: center;
    > .title {
      font-size: bootstrap.$font-size-lg;
      margin-bottom: 0;
    }
  }
}