@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-comment-main {
  position: relative;
  // elements
  > .view.collapse:not(.show) {
    display: none;
  }

  > .view > .usernickname {
    font-weight: bold;
    font-size: bootstrap.$font-size-sm;
  }
  > .view > .datetime {
    display: inline-block;
    font-size: bootstrap.$font-size-xs;
    margin-left: 0 .5rem;
    color: global-variables.$color-gray-500;
  }
  > .view > .body {
    font-size: bootstrap.$font-size-sm;
  }
  > .view > .body.-mine {
    max-width: 95%;
    vertical-align: top;
  }
  > .view > .body > .screened {
    opacity: 0.4;
  }
  > .view > .body > .bodyline a {
    color: global-variables.$color-brand-primary;
  }

  > .view > .moremenu {
    position: absolute;
    top: 0;
    right: 0;
  }
  > .view > .moremenu > .dropdown > .btn {
    padding: 0 0.5rem;
    color: global-variables.$color-gray-500;
  }

  > .view > .reactions > .reaction {
    display: inline-block;
  }
  > .view > .reactions > .reaction + .reaction {
    margin-left: 1.25rem
  }
  > .view > .reactions > .reaction > .link {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-500;
  }
  > .view > .reactions > .reaction > .link.-active {
    font-weight: bold;
    color: global-variables.$color-brand-primary;
  }

  > .view > .reactions > .reaction > .upvotes {
    display: inline-block;
    font-size: bootstrap.$font-size-xs;
    margin-left: .125rem;
    color: global-variables.$color-gray-600;
    cursor: pointer;
  }

  > .view > .reactions > .reaction > .upvotes.-active {
    color: global-variables.$color-brand-primary;
  }

  // components
  > .view > .comment-filesource-listings {
    margin-bottom: .5rem;
  }

  > .form.collapse:not(.show) {
    display: none;
  }
}
