@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-lines-header {
  display: flex;

  > .pages {
    flex: 1;
    display: inline-block;
    line-height: 2rem;
    color: global-variables.$color-gray-600;
  }

  > .edit {
    flex: none;
  }
}
