@use '../../global-variables';

.front-app .post-comment {
  display: flex;
  border-bottom: 1px solid global-variables.$color-gray-200;
  padding-bottom: .625rem;

  &.collapse:not(.show) {
    display: none;
  }

  &.-form {
    margin-top: 1rem;
    border-top: 1px solid global-variables.$color-gray-200;
    padding-top: 1rem;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  &.-child:first-child {
    border-top: 1px solid global-variables.$color-gray-200;
    padding-top: 0.625rem;
  }

  // elements
  > .userimage {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    flex: none;
    vertical-align: bottom;
  }
  > .userimage > .userimagebg {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
  }
  // components
  > .post-comment-main {
    flex: 1;
  }
}
