@use '../../global-variables';
@use '../../bootstrap';
@use '../../mq';

.front-app .post-content {
  > .reactions {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid global-variables.$color-gray-200;
  }
  > .reactions > .reaction {
    display: inline-block;
  }
  > .reactions > .reaction + .reaction {
    margin-left: 1.5rem
  }
  > .reactions > .reaction > .link {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-500;
  }
  > .reactions > .reaction > .link.-active {
    font-weight: bold;
    color: global-variables.$color-brand-primary;
  }

  > .reactions > .reaction > .upvotes,
  > .reactions > .reaction > .comments {
    display: inline-block;
    font-size: bootstrap.$font-size-xs;
    margin-left: .125rem;
    color: global-variables.$color-gray-600;
    cursor: pointer;
  }

  > .reactions > .reaction > .upvotes.-active,
  > .reactions > .reaction > .comments.-active {
    color: global-variables.$color-brand-primary;
  }

  > .post-body,
  > .post-file-sources-only-image,
  > .post-file-sources-only-doc,
  > .post-video-source,
  > .post-poll,
  > .post-survey {
    margin-top: .75rem;
  }

  > .post-survey {
    padding: 2.25rem;
  }

  > .post-link-source:last-child {
    margin-bottom: -0.75rem;
  }

  > .comments > .post-comment.-form:not(:first-child){
    margin-top: .625rem;
    padding-top: 1rem;
  }

  @include mq.media('<=phone') {
    > .post-survey {
      padding: 1.5rem;
    }
  }
}