@use '../../bootstrap';
@use '../../global-variables';

.front-app .post-header {
  display: flex;
  > .main {
    flex: 1;
  }
  > .main > .title {
    margin-bottom: 0;
  }
  > .main  > .meta {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-600;
  }
  > .moremenu {
    flex: none;
  }
}