@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-line {
  $boder-width: 1px;

  padding: 0.6em;
  display: flex;
  border-top: $boder-width solid global-variables.$color-gray-300;
  border-bottom: $boder-width solid global-variables.$color-gray-300;
  & + .post-line {
    border-top-width: 0;
  }
  &:hover {
    background-color: global-variables.$color-gray-100;
    > .body > .title {
      color: global-variables.$color-brand-primary;
    }
  }
  &.-active {
    background-color: global-variables.$color-gray-100;
    > .icon,
    > .body > .title {
      color: global-variables.$color-brand-primary;
    }
  }
  &.-unread {
    position: relative;
  }
  &.-unread::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: $boder-width * -1;
    width: 2px;
    height: 100%;
    background-color: blue;
  }
  > .body {
    flex: 1;
    overflow: hidden;
  }
  > .body > .title {
    white-space: nowrap;
  }
  > .body > .title > .link {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    display: inline-block;
    max-width: 95%;
  }
  > .body > .title > .unread {
    font-size: 8px;
    display: none;
    background-color: red;
    color: white;
    padding: 2px;
    vertical-align: top;
  }
  > .body > .title > .unread.-active {
    display: inline-block;
  }
  > .body > .title.-blind {
    color: global-variables.$color-gray-400;
  }
  > .body > .meta {
    color: global-variables.$color-gray-600;
    font-size: bootstrap.$font-size-xs;
  }
  > .body > .meta > .icon {
    display: inline-block;
    border: 1px solid global-variables.$color-gray-300;
    padding: 0 2px;
    margin-right: .5rem;
  }
  > .body > .meta > time {
    margin-left: .5rem
  }

  > .footer {
    flex: none;
    min-width: 20%;
    margin-left: 2em;
  }

  > .footer > .counts {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-600;
  }
  > .footer > .counts > .upvotes {
    display: inline-block;
    width: 4em;
    margin-right: 1em;
    text-align: left;
  }
  > .footer > .counts > .comments {
    display: inline-block;
    width: 4em;
    text-align: left;
  }
  > .footer > .counts > .upvotes > .fa,
  > .footer > .counts > .comments > .fa {
    margin-right: 0.25em;
  }
  > .footer > .counts > .upvotes.-active {
    color: global-variables.$color-brand-primary;
  }
  > .footer > .counts > .comments.-active {
    color: global-variables.$color-brand-primary;
  }

  > .footer > .strokedusers > .userimage {
    flex: none;
    vertical-align: bottom;
    display: inline-block;
  }
  > .footer > .strokedusers > .userimage > .userimagebg {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
  }
}