@use '../../global-variables';
@use '../../mixin';

.front-app .post-comment {
  display: flex;
  border-bottom: 1px solid global-variables.$color-gray-200;
  overflow: hidden;

  &.-form:not(:first-child) {
    border-top: 1px solid global-variables.$color-gray-200;
  }
  &:last-child {
    border-bottom: none;
  }
  &.-child:first-child {
    border-top: 1px solid global-variables.$color-gray-200;
  }

  &.collapse:not(.show) {
    display: none;
  }

  // elements
  > .userimage {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    flex: none;
    vertical-align: bottom;
  }
  > .userimage > .userimagebg {
    border: 1px solid white;
    background-color: white;
    @include mixin.background-image-round(1.5rem);
  }
  // components
  > .post-comment-main {
    flex: 1;
    min-width: 0;
  }
}
