@use "../../global-variables";
@use "../front-variables";

.front-app .post-menu {
  display: flex;
  > .back {
    flex: none;
    color: global-variables.$color-voodoo-400;
    line-height: front-variables.$header-height;
    margin-right: front-variables.$front-playground-space-x;
    width: front-variables.$front-playground-space-x;
  }
  > .title {
    display: inline-block;
    flex: 1;
    overflow: hidden;
    text-align: center;
    margin-right: front-variables.$front-playground-space-x * 2;
  }
  > .title > .page,
  > .title > .post {
    display: none;
    line-height: front-variables.$header-height;
    font-weight: 900;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .title > .page.-active,
  > .title > .post.-active {
    display: inline-block;
  }
  > .title > .page {
    color: global-variables.$color-voodoo-400;
  }
  > .title > .post {
    color: global-variables.$color-brand-primary;
  }

}