@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-line {
  $boder-width: 1px;
  padding: 1em .5rem;
  display: flex;
  border-top: $boder-width solid global-variables.$color-gray-200;
  border-bottom: $boder-width solid global-variables.$color-gray-200;
  & + .post-line {
    border-top-width: 0;
  }
  &:hover {
    background-color: global-variables.$color-gray-100;
    > .body > .title {
      color: global-variables.$color-brand-primary;
    }
  }
  &.-active {
    background-color: global-variables.$color-gray-100;
    > .icon,
    > .body > .title {
      color: global-variables.$color-brand-primary;
    }
  }
  &.-active:hover {
    background-color: global-variables.$color-gray-200;
    > .body > .title {
      color: global-variables.$color-brand-primary;
    }
  }
  &.-unread {
    position: relative;
  }
  &.-unread::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: $boder-width * -1;
    width: 2px;
    height: 100%;
    background-color: blue;
  }
  > .body {
    flex: 1;
    overflow: hidden;
  }
  > .body > .title {
    white-space: nowrap;
    line-height: 1.25rem;
  }
  > .body > .title > .link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 95%;
  }
  > .body > .title > .unread {
    font-size: 8px;
    display: none;
    background-color: red;
    color: white;
    padding: 2px;
    vertical-align: top;
  }
  > .body > .title > .unread.-active {
    display: inline-block;
  }
  > .body > .title.-blind {
    color: global-variables.$color-gray-400;
  }
  > .body > .meta,
  > .body > .meta a {
    color: global-variables.$color-gray-500;
    font-size: bootstrap.$font-size-xs;
  }
  > .body > .meta > .icon {
    display: inline-block;
    border: 1px solid global-variables.$color-gray-300;
    background-color: global-variables.$color-gray-100;
    padding: 0 2px;
    margin-right: .5rem;
  }
  > .body > .meta > time {
    margin-left: .5rem
  }

  > .footer {
    flex: none;
    margin-left: 1.25em;
    display: flex;
    align-items: center;
  }
  > .footer > .strokedusers {
    display: flex;
    white-space: nowrap;
    width: 6rem;
    align-items: center;
  }
  > .footer > .strokedusers > .userimage {
    flex: none;
    display: inline-block;
    width: 1rem;
  }
  > .footer > .strokedusers > .userimage > .userimagebg {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 1px solid global-variables.$color-gray-300;
    background-position: center;
    background-size: cover;
  }
  > .footer > .strokedusers > .morecount {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-500;
    display: inline-block;
    margin-left: .625rem;
    font-weight: bold;
  }
  > .footer > .counts {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-600;
    display: inline-block;
    white-space: nowrap;
  }
  > .footer > .counts > .upvotes,
  > .footer > .counts > .comments {
    display: inline-block;
    width: 3.25em;
    margin-left: .75rem;
  }
  > .footer > .counts > .upvotes > .fa,
  > .footer > .counts > .comments > .fa {
    margin-right: 0.125em;
  }
}