@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-form {
  overflow-x: hidden;

  > .post-meta {
    margin-bottom: 1rem;
  }

  .filesourcesfield,
  .pollfield {
    display: none;
    background-color: global-variables.$color-gray-200;
    padding: 1rem;
  }

  .filesourcesfield.-active,
  .pollfield.-active {
    display: block;
  }

  .filesourcesfield > .main > .images,
  .filesourcesfield > .main > .docs {
    margin-bottom: .5rem;
  }

  .filesourcesfield > .footer > .counter {
    font-size: bootstrap.$font-size-sm;
  }

  .filesourcesfield > .footer > .template {
    display: none;
  }

  .filesourcesfield > .helper {
    font-size: bootstrap.$font-size-sm;
    margin-top: 1rem;
  }

  > .folderfield > .link {
    cursor: pointer;
  }

  > .folderfield > .link:hover {
    text-decoration: underline;
  }
}