@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-content {
  > .reactions {
    margin-top: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-top: 1px solid global-variables.$color-gray-300;
    border-bottom: 1px solid global-variables.$color-gray-300;
  }

  > .reactions > .btn {
    font-size: bootstrap.$font-size-sm;
  }

  > .reactions > .btn.-active {
    font-weight: bold;
  }

  > .reactions > .upvotes {
    display: inline-block;
    font-size: bootstrap.$font-size-sm;
    margin: 0 .5rem;
    color: global-variables.$color-gray-600;
    cursor: pointer;
  }

  > .reactions > .upvotes.-active {
    color: global-variables.$color-brand-primary;
  }

  > .post-body,
  > .post-comments,
  > .post-file-sources-only-image,
  > .post-file-sources-only-doc,
  > .post-video-source,
  > .post-poll {
    margin-top: .75rem;
  }

  > .post-link-source:last-child {
    margin-bottom: -0.75rem;
  }
}