@use '../../bootstrap';
@use '../../global-variables';

.front-app .post-link-source {
  display: flex;
  margin-top: 0.75rem;
  border-top: 1px solid global-variables.$color-gray-300;
  border-bottom: 1px solid global-variables.$color-gray-300;
  background-color: global-variables.$color-gray-100;
  > .thumbnail {
    max-width: 300px;
    min-width: 200px;
    width: 30%;
    background-position: center;
    background-size: cover;
  }
  > .content {
    padding: 0.75rem;
  }
  > .content > .title {
    font-size: bootstrap.$font-size-lg;
    margin-bottom: 0.25rem;
  }
  > .content > .body,
  > .content > .site {
    color: global-variables.$color-gray-600;
    font-size: bootstrap.$font-size-sm;
  }
  > .content > .body {
    margin-bottom: 0.25rem;
  }
  > .content > .site {
    font-size: bootstrap.$font-size-xs;
  }
}