@use '../../global-variables';
@use '../../mixin';

.front-app .post-comment {
  display: flex;
  border-bottom: 1px solid global-variables.$color-gray-200;
  overflow: hidden;

  &.-form:not(:first-child) {
    border-top: 1px solid global-variables.$color-gray-200;
  }
  &:last-child {
    border-bottom: none;
  }
  &.-child:first-child {
    border-top: 1px solid global-variables.$color-gray-200;
  }

  &.collapse:not(.show) {
    display: none;
  }

  $margin-right-space: 0.25rem;
  // elements
  > .userimage {
    margin-top: 0.25rem;
    margin-right: $margin-right-space;
    flex: none;
    vertical-align: bottom;
  }

  $userimage-width: 1.5rem;
  > .userimage > .userimagebg {
    border: 1px solid white;
    background-color: white;
    @include mixin.background-image-round($userimage-width);
  }
  > .decision {
    $decision-width: 0.25rem;
    width: $decision-width;
    background: global-variables.$color-brand-primary;
    margin-right: $userimage-width + $margin-right-space - $decision-width;
    text-align: center;
    font-size: 14px;
  }
  // components
  > .post-comment-main {
    flex: 1;
    min-width: 0;
  }
}
