@use "../../bootstrap";
@use "../../global-variables";

.front-app .post-meta {
  display: flex;
  > .userimage {
    flex: none;
    margin-right: .25rem;
  }
  > .userimage > .userimagebg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
  }
  > .desc {
    flex: 1;
  }
  > .desc > .usernickname {
    font-weight: 600;
  }
  > .desc > .createdat {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-600;
  }
  > .moremenu {
    flex: none;
  }
}