@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-main {
  background-color: white;
  padding-top: .75rem;
  padding-bottom: .75rem;
  > .post-body,
  > .post-comments,
  > .post-images,
  > .post-docs {
    margin-top: .75rem;
  }
  > .post-images,
  > .post-docs {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}