@use '../../global-variables';

.front-app .post-comments {
  padding-left: .75rem;
  padding-right: .75rem;
  border-top: 1px solid global-variables.$color-gray-300;
  > .post-comment {
    margin-top: .75rem;
  }
}