@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-comment-main {
  position: relative;
  // elements
  > .view.collapse:not(.show) {
    display: none;
  }

  > .view > .user > .usernickname {
    font-weight: bold;
    font-size: bootstrap.$font-size-sm;
  }
  > .view > .user > .memberrole {
    font-weight: normal;
    color: global-variables.$color-gray-600;
    font-size: bootstrap.$font-size-xs;
  }
  > .view > .datetime {
    display: inline-block;
    font-size: bootstrap.$font-size-xs;
    margin-left: .25rem;
    color: global-variables.$color-gray-500;
  }
  > .view > .voting {
    display: inline-block;
    font-family: "FontAwesome";
    font-size: bootstrap.$font-size-xs;
    margin-left: .25rem;
  }
  > .view > .voting.-agree {
    color: #59baa3;
  }
  > .view > .voting.-disagree {
    color: #f0646d;
  }
  > .view > .voting.-neutral {
    color: global-variables.$color-brand-primary;
  }
  > .view > .body {
    font-size: .95rem;
  }
  > .view > .body.-mine {
    max-width: 95%;
    vertical-align: top;
  }
  > .view > .body > .screened {
    opacity: 0.4;
  }
  > .view > .body > .bodyline a,
  > .view > .body > .bodyline .mention {
    color: global-variables.$color-brand-primary;
  }

  > .view > .moremenu {
    position: absolute;
    top: 0;
    right: 0;
  }
  > .view > .moremenu > .dropdown > .btn {
    padding: 0 0.5rem;
    color: global-variables.$color-gray-500;
  }

  > .view > .reactions > .reaction {
    display: inline-block;
  }
  > .view > .reactions > .reaction + .reaction {
    margin-left: 1.25rem
  }
  > .view > .reactions > .reaction > .link {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-500;
  }
  > .view > .reactions > .reaction > .link.-active {
    font-weight: bold;
    color: global-variables.$color-brand-primary;
  }

  > .view > .reactions > .reaction > .upvotes {
    display: inline-block;
    font-size: bootstrap.$font-size-xs;
    margin-left: .125rem;
    color: global-variables.$color-gray-600;
    cursor: pointer;
  }

  > .view > .reactions > .reaction > .upvotes.-active {
    color: global-variables.$color-brand-primary;
  }

  // components
  > .view > .comment-filesource-listings {
    margin-bottom: .5rem;
  }

  > .form.collapse:not(.show) {
    display: none;
  }

  > .post-comment.-form:not(:first-child) {
    margin-top: .625rem;
    padding-top: 1rem;
  }
}
