@use '../../global-variables';
@use '../../bootstrap';

.front-app .post-form {
  overflow-x: hidden;

  > .post-meta {
    margin-bottom: 1rem;
  }

  > .submitbox + .post-wiki {
    margin-top: 1rem;
  }

  > .post-wiki + .submitbox {
    margin-top: 1rem;
  }

  > .submitbox {
    text-align: right;
  }

  > .filesourcesfield,
  > .pollfield,
  > .surveyfield {
    display: none;
    background-color: global-variables.$color-gray-200;
    padding: 1rem;
  }

  > .filesourcesfield > .header,
  > .pollfield > .header,
  > .surveyfield > .header {
    margin-bottom: 1rem;
    font-weight: bold;
    color: global-variables.$color-gray-600;
  }

  > .filesourcesfield.-active,
  > .pollfield.-active,
  > .surveyfield.-active {
    display: block;
  }

  > .filesourcesfield > .main > .images,
  > .filesourcesfield > .main > .docs {
    margin-bottom: .5rem;
  }

  > .filesourcesfield > .footer > .counter {
    font-size: bootstrap.$font-size-sm;
  }

  > .filesourcesfield > .footer > .template,
  > .surveyfield > .main > .template {
    display: none;
  }

  > .filesourcesfield > .helper {
    font-size: bootstrap.$font-size-sm;
    margin-top: 1rem;
  }

  > .folderfield > .link {
    cursor: pointer;
  }

  > .folderfield > .link:hover {
    text-decoration: underline;
  }

  > .surveyfield > .main > .form-group > .optionfields > .optionfield {
    margin-bottom: .25rem;
  }

  > .gadgetcontrol > .btn {
    display: none;
  }

  > .gadgetcontrol > .btn.-active {
    display: inline-block;
  }
}