@use '../../global-variables';
@use '../../bootstrap';
@use '../../mixin';
@use '../../mq';

.front-app .post-wiki {
  &:hover > .body:not(.-edit) {
    @include mixin.box-shadow;
  }
  > .body > .article {
    @include mixin.editor-content;
  }
  > .body {
    border: 1px solid global-variables.$color-gray-300;
    position: relative;
    max-height: 260px;
    overflow: hidden;
  }
  > .body.-full {
    max-height: initial;
  }
  > .body.-edit {
    border: none;
  }
  > .body > .inputgroup > .label {
    padding: 0 .5rem;
    height: 1.75rem;
    position: absolute;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    font-size: bootstrap.$font-size-sm;
    color: global-variables.$color-gray-400;
    line-height: 1.625rem;
    top: 0;
    bottom: 0;
    right: .5rem;
  }
  > .body > .inputgroup > .label > .toggle > .preview {
    color: global-variables.$color-gray-600;
  }
  > .body > .inputgroup {
    flex: 1;
    margin-bottom: 1rem;
    position: relative;
  }
  > .body > .inputgroup > .formtitle {
    @extend .form-control;
    @extend .form-control-lg;
    font-size: 1rem;
    border-radius: 2px;
    width: 100%;
    height: 2.434rem;
    padding-right: 3.5rem;
  }
  > .body > .inputgroup > .label > .content > .fa.fa-angle-down {
    font-size: .75rem;
    vertical-align: middle;
  }
  > .body > .inputgroup > .label > .dropdown-menu > .dropdown-item > .body {
    color: global-variables.$color-gray-400;
    margin-left: 1rem;
  }
  > .versioninfo {
    display: flex;
    font-size: bootstrap.$font-size-sm;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  > .versioninfo > .main {
    flex: 1;
    text-align: center;
    padding: 0 1rem;
  }
  > .versioninfo > .main > .versionlegend {
    @include mixin.editor-content;
    font-size: bootstrap.$font-size-sm;
  }
  > .body > .article {
    background-color: white;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.5);
    border-top: solid 1px global-variables.$color-gray-200;
    padding: 2rem;
  }
  > .body.-full > .article {
    padding-bottom: 4.5rem;
  }
  > .body > .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -70px 50px 0px rgba(255,255,255,0.9) !important;
    -webkit-box-shadow: inset 0px -70px 50px 0px rgba(255,255,255,0.9) !important;
    top: 0;
    left: 0;
  }
  > .body > .buttons {
    position: absolute;
    bottom: 14px;
    right: 32px;
    z-index: 2;
  }
  > .body > .buttons > .btn + .btn {
    margin-left: .25rem;
  }

  > .author-users {
    margin-top: .75rem;
  }

  @include mq.media('<=phone') {
    > .body > .article {
      padding: 1rem .75rem;
    }
  }

  &.-coc {
    margin: 1.5rem 3.75rem;
  }
  &.-channel-main {
    margin: 1.5rem 1.75rem;
  }
  &.-coc,
  &.-main {
    > .body {
      border: none;
    }
    > .body > .article {
      border: none;
      padding: 0;
    }
    > .author-users {
      display: none;
    }

    &,
    &:hover,
    > .body,
    &:hover > .body,
    > .body > .article,
    &:hover > .body > .article {
      box-shadow: none !important;
    }

    > .body > .buttons {
      position: static;
      margin-top: 3rem;
    }
  }
}
