@use "../../bootstrap";
@use "../../global-variables";

.front-app .post-meta {
  display: flex;
  align-items: center;
  > .userimage {
    flex: none;
    margin-right: .25rem;
  }
  > .userimage > .userimagebg {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    background-color: white;
  }
  > .desc {
    flex: 1;
  }
  > .desc > .user > .usernickname {
    font-weight: 600;
    font-size: bootstrap.$font-size-sm;
  }
  > .desc > .user > .memberrole {
    font-weight: normal;
    color: global-variables.$color-gray-600;
    font-size: bootstrap.$font-size-xs;
  }
  > .desc > .createdat {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-500;
    display: inline-block;
    vertical-align: middle;
  }
}