.front-app .post-comments {
  > .post-comment {
    margin-top: 1rem;
    padding-bottom: .625rem;
    overflow: visible;
  }
  > .post-comment:last-child {
    padding-bottom: 0;
    overflow: visible;
  }
  > .post-comment.-child:first-child {
    padding-top: 1rem;
    margin-top: .625rem;
    overflow: visible;
  }
}