@use '../../global-variables';
@use '../../mixin';
@use '../../bootstrap';


.front-app .supplementary-box {
  $default-padding: .75rem;

  user-select: none;
  border: 1px solid global-variables.$color-gray-300;
  font-size: bootstrap.$font-size-sm;
  background-color: global-variables.$color-gray-000;

  .header {
    display: flex;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: global-variables.$color-gray-900;
    cursor: pointer;
    padding: $default-padding;
  }
  .header > .title {
    flex: 1;
    font-weight: 600;
    @include mixin.word-wrap;
  }
  .header > .count {
    flex: none;
    font-size: bootstrap.$font-size-sm;
    color: global-variables.$color-gray-500;
  }
  .header > .toggler {
    flex: none;
    margin-left: .5rem;
    font-size: 1.25rem;
    color: global-variables.$color-gray-500;
  }
  .header > .toggler > .fa:before {
    width: 1rem;
    text-align: right;
    display: inline-block;
  }
  .header > .toggler > .fa.-show:before {
    content: '\f107';
  }
  .header > .toggler > .fa.-hide:before {
    content: '\f105';
  }
  > .lines {
    list-style: none;
    padding: $default-padding;
    padding-top: 0;
    border-top: 1px solid global-variables.$color-gray-300;
  }
  > .lines.-hide {
    display: none;
  }
  > .lines > .pinned-post-line {
    margin: .25rem 0;
  }
  > .lines > .organizer-member {
    margin-bottom: .25rem;
  }

  > .lines > .pinned-post-line,
  > .lines > .updated-comment-line {
    padding: 1rem 0;
  }

  > .lines > .pinned-post-line:last-child,
  > .lines > .updated-comment-line:last-child {
    padding-bottom: 0;
  }

  > .lines > .organizer-member {
    margin-top: 0.5rem;
  }

  > .lines > .organizer-member:first-child {
    margin-top: 1rem;
  }

  > .body {
    margin-top: .75rem;
    border-top: 1px solid global-variables.$color-gray-300;
    padding-top: .75rem;
  }
  > .body.-hide {
    display: none;
  }
  > .body > p:last-child {
    margin-bottom: 0;
  }
}