@use '../../global-variables';
@use '../../bootstrap';

.front-app .updated-comment-line {
  display: flex;
  border-bottom: 1px solid global-variables.$color-gray-200;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    > .icon,
    > .body > .title {
      color: global-variables.$color-brand-primary;
    }
  }
  > .body {
    flex: 1;
    overflow: hidden;
  }
  > .body > .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .body > .footer {
    font-size: bootstrap.$font-size-xs;
    color: global-variables.$color-gray-400;
  }
}