@use '../../mixin';

.front-app .upvoted-users {
  > .user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  > .user > .userimage {
    flex: none;
    vertical-align: bottom;
  }
  > .user > .userimagebg {
    flex: none;
    border: 1px solid white;
    background-color: white;
    @include mixin.background-image-round(1rem);
  }
}