- if post.bookmarked?(current_user)
  = link_to bookmark_path(post.bookmark_by(current_user), post_id: post.id), method: :delete, remote: true, data: { disable_with: '...' }.merge(({trigger: 'hover', action: 'parti-popover', content: "북마크"} if is_hoverable?) || {}) do
    %i.fa.fa-bookmark.text-primary
- else
  = link_to bookmarks_path('bookmark[post_id]': post), method: :post, remote: true, data: { disable_with: '...' }.merge(({trigger: 'hover', action: 'parti-popover', content: "북마크"} if is_hoverable?) || {}) do
    %i.fa.fa-bookmark-o
