.post-card.cursor-pointer{ 'data-action': 'parti-link', 'data-url': post_path(post) }
  - if post.issue.private_blocked?(current_user)
    .post-card__post
      %strong 비공개 빠띠 게시글입니다.
      - if post.issue.member_requested? current_user
        %br
        비공개 빠띠를 보시려면 먼저 가입승인 받아야합니다.
        %span
          %strong<> 오거나이저의 가입승인
          을 기다려주세요.

  - else
    .post-card__post
      .post-info
        = render 'users/post_byline', post: post
      .post-line.post-line
        .post-body
          .post-parsed-body
            - if post.wiki.present?
              = render 'wikis/card', local_assigns.merge(post: post)
            - else
              != smart_truncate_html(post_body_format(post.issue, post.specific_desc), length: 100, ellipsis: '...')
