- if post.issue.blank?
  - return
- if post.file_sources.only_image.empty? and post.link_source.blank? and !post.link_source.try(:has_image?)
  - return

.post-card.post-card-recent.cursor-pointer{ class: dom_id(post), 'data-action': "parti-link", 'data-url': smart_post_path_or_url(post) }
  .post-card__post
    - post = post
    - issue = post.issue
    .post-line.post-line[post]
      .post-body
        - image_url = if post.file_sources.only_image.any?
          - post.file_sources.only_image.first.attachment.md.url
        - elsif post.link_source.present?
          - post.link_source.image.md.url
        - else
          - asset_url 'default_link_source_image.png'
        .post-reference-line-file-content-wrapper--image<>
          %span.post-reference-line__file-content--image.single{ style: "background-image: url(#{image_url})" }<>

        .post-parsed-body
          = post.specific_desc_striped_tags(85)
      .post-card__meta
        = link_to smart_issue_home_path_or_url(post.issue) do
          = issue_tag(post.issue, show_group: true, group_classes: 'issue-group', group_short: true)


