- if post.present?
  - text = post.last_stroked_activity { |user| link_to(user_subject_word(user), smart_user_gallery_path(user)) }
  - if text.present?
    .post-card__last-stroked
      != text
      %span.date= date_f(post.last_stroked_at)
