- if post.present?
  - text = post.latest_stroked_activity(local_assigns[:latest_stroked_valid_time]) { |user| link_to("@#{user.nickname}", smart_user_gallery_path(user)) }
  - if text.present?
    .post-card__last-stroked
      != text
      %span.date= date_f(post.last_stroked_at)

