- not_need_header ||= local_assigns['not_need_header']
- posts = posts.to_a.reject { |post| post.blinded?(current_user) or post.private_blocked?(current_user) }
- if posts.try(:any?)
  - collapsed_posts_new_pinned = []
  - unread_posts = posts.select { |post| !post.read_by?(current_user) and post.can_be_reader?(current_user) }

  - if local_assigns[:compact]
    - uncollapsed_posts = unread_posts
    - collapsed_posts = posts - uncollapsed_posts
  - else
    - collapsed_posts = []
    - uncollapsed_posts = posts


  .post-card.summary.pinned
    - unless not_need_header
      .post-card__post.clearfix.js-show-all-pinned-post
        %h5.body.margin-zero.only-clickable.text-muted
          %i.fa.fa-caret-right.fa-fw-xs-left.js-show-all-pinned-post-icon
          공지 사항
          (#{posts.count})
    - uncollapsed_posts.each do |post|
      = render 'posts/post_pinned', local_assigns.merge(post: post)

    - collapsed_posts.each do |post|
      = render 'posts/post_pinned', local_assigns.merge(post: post, collapse: true)
