- not_need_header ||= local_assigns['not_need_header']
- posts = posts.to_a.reject { |post| post.blinded?(current_user) or post.private_blocked?(current_user) }
- if posts.try(:any?)
  - collapsed_posts_new_pinned = []
  - unbehold_posts = posts.select { |post| !post.behold_by?(current_user) and post.can_beholder?(current_user) }

  - if local_assigns[:compact]
    - uncollapsed_posts = unbehold_posts
    - collapsed_posts = posts - uncollapsed_posts
  - else
    - collapsed_posts = []
    - uncollapsed_posts = posts

  -# js-show-all-pinned-post-icon
  .post-card.summary.pinned
    - unless not_need_header
      .post-card__post.pinned-header.clearfix.js-show-all-pinned-post
        .body.margin-zero.only-clickable.text-muted.clearfix
          .pull-left
            = image_tag 'notice.png', class: 'title-icon'
            %span.title-text
              공지사항
              (#{posts.count})
          .pull-right
            .toggle-link.cursor-pointer.js-show-all-pinned-post-btn
              .js-show-all-pinned-post-btn-show
                열기
              .js-show-all-pinned-post-btn-hide.collapse
                닫기
    - uncollapsed_posts.each do |post|
      = render 'posts/post_pinned', local_assigns.merge(post: post, post_link_dom_target: local_assigns[:post_link_dom_target])

    - collapsed_posts.each do |post|
      = render 'posts/post_pinned', local_assigns.merge(post: post, collapse: true, post_link_dom_target: local_assigns[:post_link_dom_target])
