- if posts.present?
  - if local_assigns[:compact]
    - collapsed_posts, uncollapsed_posts = posts.to_a.reject { |p| p.blinded?(current_user) or p.private_blocked?(current_user) }.partition { |p| !p.issue.organized_by?(current_user) and p.read_by?(current_user) }
  - else
    - collapsed_posts = []
    - uncollapsed_posts = posts

  .post-card-with-comments.pinned
    .post-card-with-comments__header.clearfix.js-posts-pinned-and-read{ class: ('collapse' if uncollapsed_posts.empty?) }
      공지
    - uncollapsed_posts.each do |post|
      = render 'posts/post_pinned', local_assigns.merge(post: post)

    - if collapsed_posts.any?
      .post-card-with-comments__post.js-show-all-pinned-post-wrapper
        .show-all.js-show-all-pinned-post
          이미 확인한 공지 펼쳐보기
          (#{collapsed_posts.count})
          %i.fa.fa-chevron-down

    - collapsed_posts.each do |post|
      = render 'posts/post_pinned', local_assigns.merge(post: post, collapse: true)
