#new-posts{data: {action: 'parti-polling', 'polling-url': new_posts_count_url, 'polling-interval': 5 * 60 * 1000}}
  = link_to (@list_url || request.original_url) do
    .post-card.new-post
      새로운 소식
      %span.text-primary +
      %span.new-posts__count>
      개 보기
