- mode_icon = (mode == 'start' ? 'fa-arrow-down' : 'fa-arrow-up')
- need_to_auto_read = (mode == 'end' and local_assigns[:no_auto] != true)
.post-new-stroked.js-post-new-stroked{ class: "js-post-new-stroked-#{mode}" }
  = link_to read_all_issue_path(issue, first_post_last_stroked_at_timestamp: first_post_last_stroked_at_timestamp), remote: true, method: :post, class: "desc only-clickable js-post-new-stroked-link #{'js-post-new-stroked-read-all-post-auto' if need_to_auto_read}" do
    %i.fa{ class: mode_icon }
    %span.js-post-new-stroked-label{ 'data-post-new-stroked-label-read-all': '지금 읽은 업데이트' } 새 업데이트
    .close
      모두 읽음 표시
      %span &#215;