- if post.pinned?
  = link_to unpin_post_path(post), method: :delete, remote: true, data: { disable_with: '...' } do
    공지 내리기
- else
  = link_to pin_post_path(post), method: :post, remote: true, data: { disable_with: '...' } do
    공지 걸기
