.post__meta
  %span
    - if can? :update, post.specific
      = link_to '수정', [:edit, post.specific]
    - if can? :destroy, post.specific
      = link_to '삭제', post.specific, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
    - if local_assigns[:additional_buttons_partial].present?
      = render additional_buttons_partial, local_assigns

.post__share
  = render 'posts/share', post: post

