.content-tab-section
  %ul.nav.nav-tabs.nav-tabs-content-heading
    %li{ class: "#{('active' if params['sort'] == 'hottest' or params['sort'].nil?)}" }
      = link_to '인기글', {sort: 'hottest'}
    %li{ class: "#{('active' if params['sort'] == 'order_by_stroked_at')}" }
      = link_to '최신글', {sort: 'order_by_stroked_at'}
