.btn-group
  = link_to '인기글', {sort: 'hottest'}, class: "btn btn-default #{('active' if params['sort'] == 'hottest')}"
  = link_to '최신글', {sort: 'recent'}, class: "btn btn-default #{('active' if params['sort'] == 'recent' or params['sort'].nil?)}"
