.btn-group
  = link_to '인기글', {sort: 'hottest'}, class: "btn btn-default #{('active' if params['sort'] == 'hottest' or params['sort'].nil?)}"
  = link_to '최신글', {sort: 'recent'}, class: "btn btn-default #{('active' if params['sort'] == 'recent')}"
