%ul.list-inline
  %li= link_to '인기순', {sort: 'hottest'}, class: ('active' if params['sort'] == 'hottest' or params['sort'].nil?)
  %li= link_to '최신순', {sort: 'recent'}, class: ('active' if params['sort'] == 'recent')
