.bs-component.page-bg
  %section#post-form
    .container
      .page-wrapper
        %h3.page-wrapper__title
          #{Post.model_name.human} 결론 기록하기
        = render 'form_decision'
        %h5
          대상 게시글
        = render @post
