= render 'issues/issue_header', simple: true

%section#posts
  .container
    .row
      .col-xs-12.col-sm-8
        .posts
          = render @post, mode: 'detail', additional_buttons_partial: 'posts/modal_buttons'
      - unless is_small_screen?
        = render 'issues/aside'
