%section#references
  .container
    .posts-header
      %h4.posts-header__title
        자료
        %small 모든 빠띠의 자료입니다.
      .posts-sort-select
        = render 'posts/sort_select'
    .row.masonry-container{data: {last_id: @posts.last.try(:id), is_last: @is_last_page.to_s, 'masonry-grid-sizer': '.grid-sizer'}}
      - if @posts.empty?
        .col-xs-12
          .bg-default
            %i.fa.fa-info-circle
            해당되는 글이 없습니다.
      - else
        .grid-sizer.col-sm-4.col-xs-6
        = render 'links_and_files/page', show_issue: true
    .page_waypoint.text-center{'data-target': '.row.masonry-container', 'data-url': links_and_files_path(format: :js, sort: params[:sort])}
      .page_waypoint__loading
        %i.fa.fa-3x.fa-spinner.fa-pulse

