body.app-pages-about {
  .subtitle {
    color: $gray;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .storytitle {
    padding: 10px 16px;
    font-size: 16px;
  }
  .service-card {
    display: inline-block;
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    border: 1px solid $gray-lighter;

    .about-header{
      width: 100%;
      text-align: center;
      font-weight: 600;
    }
    .about-text {
      font-size: 24px;
      &.about-text-paid {
        font-weight: 200;
      }
    }
    .about-desc{
      margin: 10px 0px !important;
      text-align: center;
      color: $brand-primary;

      strong {
        color: $brand-danger;
      }
    }
    span.title{
      color: $gray;
    }
    p{
      padding: 5px;
    }

  }
  .service-info{
    line-height:25px;
    display: inline-block;
    text-align: left;
  }
  .social{
    font-size: 30px !important;
    color: $gray;
  }
  .about-image{
    margin-left: 30%;
    margin-right: 10%;
    width: 60%;
    @media (max-width: 420px) {
      width: 100%;
    }
  }
}
