.link-box {
  height: 100px;
  background-color: #fafafb;
  border: 1px solid #f1f1f1;
  display: table;
  margin-top: 15px;
  img {
    width: 150px;
    height: 100px;
    float: left;
  }
  p {
    color: #777;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
  }
}