section#articles {
  padding-top: 30px;
  .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .col-xs-12, .col-xs-6,
  .col-sm-3, .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .card {
    @include hover-grow();
  }
}

.article-card {
  @include hover-shadow();

  background-color: #fff;
  border-radius: 4px;
  height: 380px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 14px;
  .thumb {
    height: 150px;
  }
  .caption {
    padding: 20px;

    .date {
      color: $gray-light;
      font-size: $font-size-small;
    }
    .title {
      font-size: $font-size-large;
      font-weight: bold;
      margin-top: 5px;
    }
    .body {
      color: $text-muted;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
    .more {
      color: $text-muted;
      position: absolute;
      bottom: 0px;
      left: 0;
      font-size: $font-size-base;
      width: 100%;
      padding: 0 20px 20px 20px;
      div {
        background-image: image_url('icon_comment.png');
        background-position: bottom left;
        background-repeat: no-repeat;
        border-top: 1px solid $gray-lighter;
        padding-top: 20px;
        padding-left: 25px;
      }
    }
  }
}

.article-card.best, .article-card.popular {
  .thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .6);
      content: '';
    }
  }
  .caption {
    position: absolute;
    bottom: 0;
    padding-bottom: 70px;
    width: 100%;
    .date {
      color: #fff;
    }
    .title {
      color: #fff;
      font-size: $font-size-h3;
      &:hover {
        color: $brand-primary;
      }
    }
    .body {
      display: none;
    }
    .more div {
      background-image: image_url('icon_comment_white.png');
    }
    .more {
      color: #fff;
    }
  }
}

.link-box {
  width: 100%;
  height: 100px;
  background-color: #fafafb;
  border: 1px solid #f1f1f1;
  display: table;
  margin-top: 15px;
  &:hover {
    border-color: #bfa5eb;
  }
  img {
    width: 150px;
    height: 100px;
    float: left;
  }
  .thumb {
    width: 150px;
    height: 100px;
    float: left;
  }
  p {
    width: 100%;
    color: #777;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
  }
}

.article__body {
  &__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
  }
  &__video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .article-card {
    .caption {
      padding: 10px;
      .more {
        padding: 0 10px 10px 10px;
        div {
          background-size: 14px 14px;
          padding-top: 10px;
          padding-left: 18px;
       }
        font-size: 10px;
      }
    }
  }
}
