.aside-title {
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: $font-size-base;
}

.aside-title,
.aside-title a {
  color: $brand-primary-dark;

}
.aside-title a:hover {
  text-decoration: underline;
}

.parti-organizers {
  li {
    &:first-child {
      padding-top: 0;
    }
    padding-top: 4px;
  }
}

.aside_issue_btn {
  margin-bottom: 36px;
  .help-block a {
    color: $gray;
  }
}

.aside-relate-issues,
.aside-users {
  .more,
  .add-link {
    margin-left: 10px;
    color: $gray;
    font-size: $font-size-small;
    font-weight: normal;
    &:hover {
      color: $brand-primary;
    }
  }
}

#aside {
  & > section {
    margin-bottom: 30px;
  }
}
