.aside_title {
  color: $gray;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.aside_issue_btn {
  margin-bottom: 36px;
}

.aside-users {
  .more {
    margin-left: 10px;
    color: #777777;
    &:hover {
      color: $brand-primary;
    }
  }
}

#aside {
  & > section {
    margin-bottom: 30px;
  }
}
