.aside-title {
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: $font-size-base;
}

.aside-title,
.aside-title a {
  color: $brand-primary-dark;

}
.aside-title a:hover {
  text-decoration: underline;
}

.parti-organizers {
  li {
    &:first-child {
      padding-top: 0;
    }
    padding-top: 4px;
  }
}

.parti-folders {
  .item-folder {
    padding: 4px 0;
    &:first-child {
      padding-top: 0;
    }
    .folder-title,
    .folder-title a {
      color: $gray;
      &:hover {
        color: $base-brand-primary;
      }
    }
  }
  .folder-posts {
    margin-left: 17px;
    .item-post-wrapper {
      color: $gray;
      &:hover {
        color: $base-brand-primary;
      }
      .item-post {
        padding: 2px 0;
      }
      &.active {
        color: $base-brand-primary;
        font-weight: bold;
      }
    }
  }
}

.aside_issues {
  margin-top: 36px;
}
.aside_search {
  margin-top: 12px;
}
.aside_issue_btn {
  .help-block a {
    color: $gray;
  }
}

.aside-relate-issues,
.aside-users {
  .more,
  .add-link {
    margin-left: 10px;
    color: $gray;
    font-size: $font-size-small;
    font-weight: normal;
    &:hover {
      color: $brand-primary;
    }
  }
  .more {
    margin-left: 5px;
  }
}

#aside {
  & > section {
    margin-bottom: 30px;
  }
}
