/* bg */
.bg-default {
  color: $gray;
  background-color: $gray-lighter;
  padding: $alert-padding;
}
.no-background {
  background-color: transparent;
}
.bg-line {
  background-image: asset_url('line-primary.png');
  background-repeat: repeat-y;
  background-position: 25px;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.hover-text-primary:hover {
  color: $brand-primary
}
.margin-bottom-default {
  margin-bottom: 12px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* tabs */
#content-tab-section {
  .nav-tabs {
    border-color: #d2d2d2;
    li {
      margin: 0;
      a {
        font-weight: bold;
        padding: 5px 20px;
        border: none;
        &:hover {
          background-color: transparent;
        }
        .text-primary {
          color: #be97ff;
        }
      }
      &.active > a {
        color: $brand-primary;
        border-bottom: 2px solid $brand-primary;
        background: transparent;
      }
    }
    &__count {
      min-width: 23px;
      background: #232326;
      color: #fff;
      position: absolute;
      padding: 1px 8px 0px;
      left: 50px;
      top: -10px;
      text-align: center;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      white-space: nowrap;
    }
  }
  .message-tab {
    padding: 0;
    color: $gray;
    color: $gray;
    position: relative;
  }
}

@media (max-width: $screen-xs-max) {
  #content-tab-section .nav-tabs {
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;
    &.my-home-tabs {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    &.message-tab {
      padding-left: 20px;
    }
    li {
      margin: 0;
      text-align: center;
      a {
        h4 {
          font-size: 15px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.count-label-wrapper {
  font-size: $font-size-small;
  line-height: 1.8;
  position: relative;
  display: inline-block;
  &.small {
    font-size: 8px;
    font-weight: normal;
    @media (max-width: $screen-xs-max) {
      top: -5px;
    }
  }
}

.count-label {
  background-color: $brand-primary-dark;
  position: absolute;
  padding: 1px 8px 0px;
  color: #fff;
  top: -25px;
  left: -3px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  white-space: nowrap;
  @media (max-width: $screen-xs-max) {
    position: static;
    display: inline-block;
    padding: 1px 5px 0px;
    font-size: $font-size-small;
    .count-label-wrapper.small & {
      font-size: 8px;
      line-height: 1.2em;
    }
  }
}

/* pagination */

.pagination-wrapper {
  text-align: center;
  .pagination {
    margin-top: 30px;
    &>li {
      font-size: $font-size-small;
      color: $gray-dark;
      padding: 0 10px;
      &.active {
        color: $brand-primary;
        font-weight: bold;
      }
      &>a, &>span {
        float: none;
        background: transparent;
        border: none;
        color: $gray;
        padding: 0;
      }
      &>a:hover, &>a:focus, &>span:hover, &>span:focus {
        background: transparent;
        color: $brand-primary;
        font-weight: bold;
      }
      &.next>a, &.prev>a {
        border: 1px solid $gray-light;
        padding: 6px 10px;
        border-radius: $border-radius-base;
        background-color: white;
        width: 80px;
        display: inline-block;
      }
      &.next>a:hover, &.prev>a:hover {
        border: 1px solid $brand-primary;
      }
    }
  }
}

/* text */
.date-wrapper {
  text-align: right;
  color: $gray-a;
  font-size: 12px;
  span {
    vertical-align: top;
    line-height: 1.7em;
    padding-left: 3px;
  }
}

/* thumb */
.circle-20 {
  width: 20px;
  height: 20px;
  background-color: #fff;
}
.circle-25 {
  width: 25px;
  height: 25px;
  background-color: #fff;
}
.circle-30 {
  width: 30px !important;
  height: 30px !important;
  background-color: #fff;
}.circle-33 {
  width: 33px !important;
  height: 33px !important;
  background-color: #fff;
}
.circle-50 {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.circle-60 {
  width: 60px;
  height: 60px;
  background-color: #fff;
}
.circle-140 {
  width: 140px;
  height: 140px;
  background-color: #fff;
}
.thumb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* border */
.border-2-primary {
  border: 2px solid $brand-primary;
}


.devider {
  border-bottom: 1px solid #d2d2d2;
  line-height: 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  span {
    background-color: $background-color;
    color: $gray;
    padding: 0 10px;
  }
}

@media (max-width: $screen-xs-max) {
  .devider {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

br.mobile {
  display: none;
}

/* form */
label.required:after {
  content: " *";
}

.checkbox {
  margin-top: 0;
}


/* retina image */
.user-notice, .user-link {
  img {
    width: 16px;
    height: auto;
  }
}

.user-count {
  img {
    height: 16px !important;
  }
}

.footer-sns {
  img {
    width: 41px;
    height: auto;
  }
  img#{&}--yellow {
    width: 100px;
    height: auto;
  }
}

.valign {
  vertical-align: middle;
}

.label-as-badge {
  border-radius: 1em;
}

.badge-notify {
  position:relative;
  top: -20px;
  left: -35px;
}

.page-waypoint {
  margin-bottom: 10px;
  &-loading {
    color: $gray;
    display: none;
  }
}

@media (max-width: $screen-xs-max) {
  .aside_hottest_posts, .aside_issue, #aside hr {
    display: none;
  }

  /* footer */
  footer {
    padding: 0;
    margin-top: 60px;
    .footer-logo {
      padding-top: 15px;
      border-top: 1px solid #d9d9dd;
      &__txt {
        float: left;
        padding-left: 7px;
        font-size: 14px;
        padding-top: 6px;
        br {
          display: none;
        }
      }
    }
  }

  /* dashboard */
  .parti-intro {
    width: 100%;
    min-width: 100%;
    height: 340px;
    &__count {
      font-size: 30px;
      font-weight: 200;
      line-height: 1.4em;
      .count {
        margin-right: -7px;
      }
    }
    a#{&}__btn_about {
      font-weight: 300;
      padding: 8px 10px;
      margin-top: 1em;
      font-size: 1em;
    }
  }

  /* comment */

  .comment {
    margin-left: 10px;
    padding: 20px 10px 10px;
    &__link {
      margin-left: 10px;
    }
  }


  /* component */
  .bg-line {
    background-position: 9px;
  }
  .share-box {
    float: none;
  }
  .date-wrapper {
    img {
      zoom: 0.7;
    }
  }
  .pagination>li>a, .pagination>li>span {
    padding: 3px 9px;
  }
  br.mobile {
    display: block;
  }
  #btn-next-page {
    margin-left: 9px;
    margin-bottom: 60px;
  }

  /* login */
  .login-box {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    margin: 0 auto;
    &__txt {
      margin: 30px 0;
      font-size: $font-size-xlarge;
    }
    &__content {
      padding-top: 30px;
    }
  }
  #sign-up {
    width: 90%;
    margin: 40px auto;
    h1, h2 {
      font-size: $font-size-xlarge;
    }
    h4 {
      font-size: $font-size-medium;
    }
  }
  .sign-up {
    &__title {
      margin-bottom: 40px;
    }
    &__txt {
      margin-bottom: 40px;
    }
    &__form {
      width: 100%;
    }
  }

  /* page */
  .page-bg {
    padding: 20px 10px;
  }
  .page-wrapper {
    width: 100%;
  }

  /* about */

  .about-parti {
    width: 100%;
    min-width: 100%;
    height: 250px;
    background-image: asset_url('thumb_main_intro_mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    > img {
      display: none;
    }
    &__txt {
      position: static;
      margin: 0 auto;
      width: 90%;
      .title {
        font-size: 18px;
        margin: 40px auto;
        line-height: 1.3;
      }
      p {
        font-size: 14px;
      }
    }
    .bg-black {
      margin-top: 10px;
      display: inline-block;
      font-size: 14px;
      span {
        margin-left: 3px;
      }
    }
  }
  .about-parti-box {
    padding: 60px 0;
    .col-xs-6 {
      width: 100%;
      img {
        margin-top: 20px;
      }
    }
    h2 {
      font-size: 18px;
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  .about-parti--bottom {
    height: 400px;
    background-image: asset_url('thumb_about_bottom_mobile.png');
    .about-parti__txt  {
      position: static;
      margin: 0 auto;
      width: 90%;
    }
  }
  .about-parti__footer {
    display: none;
  }

  /* editor */
  .textarea-box {
    .icon-tooltip {
      left: 27% !important;
    }
  }


  /* modal */
  .post__body {
    margin-top: 0;
    margin-bottom: 0;
    .media {
      margin-top: 0;
    }
  }

  /* message */

  #messages-header-section {
    font-size: $font-size-medium;
  }

  /* user */
  #issue-users .col-xs-4{
    width: 100%;
  }
  #issues .col-xs-4{
    width: 100%;
    margin-bottom: 15px;
  }

  .user-card {
    width: 48%;
    margin-left: 4%;
    &__info {
      .col-xs-4 {
        font-size: 12px;
        width: 33.333333% !important;
      }
    }
    &:nth-child(3n+1) {
      margin-left: 4%;
    }
    &:nth-child(odd) {
      margin-left: 0%;
    };
  }

  .issue-header-section {
    height: 205px;
    .issue-title {
      font-size: 18px;
      font-weight: normal;
      max-height: 73px;
      overflow: hidden;
    }
    .issue-info-wrapper {
      padding-top: 0;
    }
    .issue-info {
      width: 100%;
      padding: 0;
      &--mobile {
        width: 55%;
        min-height: 130px;
        float: left;
        padding-left: 15px;
        .btn {
          padding: 6px 12px;
          top: auto;
          bottom: 0;
          left: 15px;
          right: auto;
          font-size: 12px;
        }
      }
    }
    .issue-logo .thumb {
      width: 130px;
      height: 130px;
    }
    .issue-count {
      padding: 10px 0;
      .comment-count, .user-count {
        a {
          font-size: 14px;
          .label {
            font-size: 11px;
            padding-top: 4px;
          }
        }
      }
      .user-count .label{
        padding: 5px 10px !important;
        margin-top: -3px;
      }
    }
    .issue-body p {
      height: auto;
      max-height: 53px;
      font-size: 12px;
      overflow: hidden;
    }
  }
  .issue-header-txt {
    text-align: center;
    padding-top: 20px;
    padding: 20px 10px 0;
    h3 {
      font-size: $font-size-medium;
    }
    h4 {
      font-size: 13px;
    }
  }

  #btn-continue {
    background-color: $brand-primary;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
  }

  #dashboard-header-section {
    .col-xs-2, .col-xs-10 {
      width: 100%;
    }
    .my-issue-count {
      margin-top: 20px;
      width: 100%;
      text-align: right;
    }
    .btn-issue {
      right: 15px;
      top: 0px;
      padding: 2px;
      height: auto;
    }
  }
}

.parties-filter {
  .parties-filter-select {
    text-align: right;
    @media (max-width: $screen-xs-max) {
      margin-top: 10px;
      position: relative;
      white-space: nowrap;
      text-align: left;
      nav {
        overflow: auto;
        padding-right: 40px;
      }
      .list-inline:after {
        position: absolute;
        top: 0;
        right: -1px;
        height: 16px;
        width: 50px;
        z-index: 1;
        pointer-events: none;
        background: -webkit-linear-gradient( right , $gray-lighter, rgba(248, 247, 238, 0));
        background: linear-gradient(to left, $gray-lighter, rgba(248, 247, 238, 0));
        visibility: visible;
        opacity: 1;
        content: ' ';
      }
    }
    vertical-align: bottom;
    ul {
      display: inline-block;
      margin: 0;
      li {
        padding: 0;
        a {
          color: $gray;
          &:hover,
          &.active {
            color: $brand-primary;
            text-decoration: underline;
          }
        }
      }
      li + li:before {
        content: '|';
        color: $gray-light;
        margin: 0 5px;
      }
    }
  }
}

// 폼에서 빠띠 선택
.parti-select {
  margin: 0;
  padding: 18px;
  border-bottom: 1px solid $gray-less-lighter;
  max-width: 100%;
  .bootstrap-select {
    .issue-line__title {
      display: table-cell;
      white-space: normal;
      word-break: keep-all;
      vertical-align: top;
    }
    .issue-line__thumb {
      display: table-cell;
    }
    .parti-thumb {
      vertical-align: top;
    }
    .dropdown-menu {
      -webkit-overflow-scrolling: touch;
    }
    .dropdown-toggle.btn-default {
      border: 1px solid $brand-primary;
      background-color: #fff !important;
      &:hover {
        background-color: #fff !important;
        transform: none;
        border: 1px solid $brand-primary !important;
      }
    }
    .dropdown-header {
      font-size: $font-size-base;
      font-weight: bold;
      color: $brand-primary;
    }
    .dropdown-menu.open {
      z-index: $zindex-parti-select-in-post-form;
    }
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    .issue-line__title, .issue-line__meta {
      color: #fff;
    }
  }
  .parti-option {
    margin: 3px 0;
    display: table;
  }
  .parti-thumb {
    width: 20px;
    height: 20px;
    border-radius: $border-radius-base;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
  }

  body.app-posts-move_to_issue_form & {
    padding: 18px 0;
    border-bottom: 0;
  }
}

.webui-popover-content p:last-child {
    margin-bottom: 0;
}

.nav > li.collapse {
  display: none;
}

section.contents-page {
  padding: 20px 0;
  @media (max-width: $screen-xs-max) {
    body.app-posts-show &,
    body.app-posts-images &,
    body.app-issues-slug_home & {
      padding-top: 0;
    }
    padding: 10px 0;
  }
  @media (max-width: $screen-xs-max) {
    & > .container > .row > .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.contents-header {
  @extend .clearfix;
  @extend .text-basic-wrap;
  &__title {
    &.vertical-shrinking {
      margin-bottom: 0;
    }
    small{
      a {
        color: $gray;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    &__title {
      letter-spacing:  $headings-letter-spacing;
      font-weight: $headings-font-weight;
      small{
        font-weight: $small-in-headings-font-weight;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    &.xs-horizontal-padding {
      padding-left: 15px;
      padding-right: 15px;
    }
    &__title {
      &.vertical-shrinking {
        margin-bottom: 0;
      }
    }
  }
}

select.icon-select option {
  font-family: 'FontAwesome';
}

.col-custom {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 15%;
  @media (max-width: $screen-xs-max) {
    width: 16.6%;
  }
}

.error-popover {
  z-index: $zindex-error-popover;
  color: $base-brand-primary;
}
