section#comments {
  padding: 20px 0;
}

.comments {
  padding-top: 25px;
}

.comment-blind-info {
  color: $gray-light;
}

.comment-hidden-users {
  padding-right: 10px;
  > .comment-hidden-user {
    width: 12px;
    display: inline-block;
    .user-image {
      width: 20px;
      height: 20px;
    }
  }
  > .comment-hidden-more-users {
    display: inline-block;
    margin-left: 7px;
    width: 4px;
  }
}

.comment-line {
  $comment-user-image-size: 30px;
  $comment-user-image-size-child: 20px;
  $comment-user-column-width: 40px;
  $comment-user-column-width-child: 30px;

  padding: $comment-line-space 0 0;
  position: relative;

  .comment-user {
    padding-top: (35px - $comment-user-image-size) / 2;
    float: left;
    width: $comment-user-column-width;
    &.comment-user-child {
      padding-top: (35px - $comment-user-image-size-child) / 2;
      width: $comment-user-column-width-child;
    }
  }
  .comment-content {
    margin-left: $comment-user-column-width;
    &.comment-content-child {
      margin-left: $comment-user-column-width-child;
    }
  }

  &.post-card__comment-form {
    padding-right: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .user-image {
    width: $comment-user-image-size;
    height: $comment-user-image-size;
    &.user-image-small {
      width: $comment-user-image-size-child;
      height: $comment-user-image-size-child;
    }
  }
  .nickname {
    font-weight: bold;
    color: $brand-primary-dark;
  }
  .body-wrapper--with-chevron_menu {
    margin-right: 18px;
    > .body {
      position: relative;
    }
  }
  .body-wrapper--with-unread-circle {
    > .body {
      position: relative;
    }
  }
  .body {
    background-color: $gray-lightest;
    border-radius: $font-size-base;
    color: $gray-darker;
    padding: 8px 12px;
    margin-bottom: 4px;
    display: inline-block;
    max-width: 100%;
    @include word-wrap();
    &--agree > span:before {
      content: '\f164  찬성 ';
      font-family: "FontAwesome";
      color: #59baa3;
    }
    &--disagree > span:before {
      content: '\f165  반대 ';
      font-family: "FontAwesome";
      color: #f0646d;
    }
    &--neutral > span:before {
      content: '중립 ';
      font-family: "FontAwesome";
      color: $brand-primary;
    }
    .comment-truncatable-body {
      .btn-more {
        color: $gray-light;
      }
    }

    transition: background-color 1000ms linear;
    &.body-comment-anchor-stress {
      background-color: lighten($base-brand-primary, 30%);
    }
  }
  .comment__mention {
    float: none;
    margin-left: 12px;
    color: $brand-primary;
  }
  .comment__chevron-buttons {
    position: absolute;
    top: 0.25em;
    right: -1.5em;
    button {
      color: $gray-a;
    }
    > .dropdown-menu {
      width: auto;
      min-width: 80px;
    }
  }
  .comment__unread-mark {
    display: inline-block;
    color: $gray-a;
  }
  .file-sources {
    margin: 6px 0;
    .file-source-image {
      display: inline-block;
      img {
        max-height: 50px;
        width: auto;
      }
    }
    .file-source-doc {
      .file-title {
        display: inline-block;
        color: $gray;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .file-sources,
  .footer {
    padding-left: 14px;
    white-space: normal;
    font-size: $font-size-small;
  }
  .date-wrapper {
    color: $gray;
    font-size: $font-size-small;
    margin-left: 12px;
  }
  .upvote {
    color: $brand-primary;
  }
  .upvote-liked {
    color: $brand-primary;
  }
  .upvote-count {
    display: inline-block;
    color: $brand-primary;
    &.delete-margin-left {
      margin-left: 0;
    }
    &.add-margin-left {
      margin-left: 12px;
    }
  }
  .link-edit, .link-destroy {
    &:hover {
      color: $brand-primary;
    }
  }
  .update-form {
    margin-bottom: 10px;
  }
  span.comment-body-line + span.comment-body-line:before {
    content: '\a\a';
    line-height: 1em;
    white-space: pre;
  }
}

.comment {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 26px;
  padding: 20px;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid #bfa5eb;
    -webkit-box-shadow: 4px 4px 4px 0 $gray-lighter;
    -moz-box-shadow:    4px 4px 4px 0 $gray-lighter;
    box-shadow:         4px 4px 4px 0 $gray-lighter;
    .issue-comments & {
      border-left: 1px solid #fff;
    }
    .comment__mention {
      color: $brand-primary;
    }
  }
  &__link {
    .img-circle {
      position: absolute;
      left: -15px;
      top: 15px;
    }
    .nickname {
      font-weight: bold;
      color: $brand-primary;
    }
  }
  &__mention {
    margin-left: 5px;
    color: $gray-light;
  }
  &__body {
    color: $gray;
    font-size: $font-size-base;
    word-break: break-all;
    padding-top: 10px;
    &--post {
      margin-top: 10px;
    }
    &--agree p:first-child:before {
      content: '\f087  찬성 ';
      font-family: "FontAwesome";
      color: #966fd6;
    }
    &--disagree p:first-child:before {
      content: '\f088  반대 ';
      font-family: "FontAwesome";
      color: #966fd6;
    }
  }
  &__upvotes {
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__footer {
    &--post {
      padding-top: 15px;
      border-top: 1px solid $gray-lighter;
    }
  }
}

.comment-form {
  padding-bottom: $comment-line-space;
  &__area {
    .form-control.comment-body {
      width: 100%;
      height: 35px;
      display: block;
      border-radius: 14px;
      &:focus, &:active {
        border: 1px solid $brand-primary;
      }
    }
  }
  &__control {
    .comment-form__btn--file-source,
    .comment-form__btn {
      cursor: pointer;
      margin-top: $comment-line-space * 0.5;
      float: right;
      display: inline-block;
    }
    .comment-form__btn {
      width: 80px;
      @media (max-width: $screen-xs-max) {
        width: 70px;
      }
    }
    .comment-form__btn--file-source {
      margin-right: 10px;
      color: $gray-a;
      i {
        line-height: 33px;
        color: $gray-a;
      }
      @media (max-width: $screen-xs-max) {
        font-size: $font-size-small;
      }
    }
  }
  &__file-source {
    @include form-file-sources();
    .form-groups {
      border-top: none;
    }
  }
}



