section#comments {
  padding: 20px 0;
}

.comments {
  padding-top: 25px;
}

.comment-blind-info {
  color: $gray-light;
}

.comment-line {
  padding: $comment-line-space 0 0;
  position: relative;

  .comment-user {
    padding-top: 4px;
    width: 40px;
    float: left;
  }
  .comment-content {
    margin-left: 40px;
  }

  &.post-card__comment-form {
    padding-right: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .user-image {
    width: 30px;
    height: 30px;
  }
  .nickname {
    font-weight: bold;
    color: $brand-primary-dark;
  }
  .body {
    background: white;
    border-radius: $font-size-base;
    color: $gray-darker;
    padding: 8px 12px;
    margin-bottom: 4px;
    @include word-wrap();
    &--agree > span:before {
      content: '\f164  찬성 ';
      font-family: "FontAwesome";
      color: #59baa3;
    }
    &--disagree > span:before {
      content: '\f165  반대 ';
      font-family: "FontAwesome";
      color: #f0646d;
    }
    &--neutral > span:before {
      content: '중립 ';
      font-family: "FontAwesome";
      color: $brand-primary;
    }
    .comment-truncatable-body {
      .btn-more {
        color: $gray-light;
      }
    }
  }
  .comment__mention {
    float: none;
    margin-left: 12px;
    color: $brand-primary;
  }
  .file-sources {
    margin: 6px 0;
    .file-source-image {
      display: inline-block;
      img {
        max-height: 50px;
        width: auto;
      }
    }
    .file-source-doc {
      .file-title {
        display: inline-block;
        color: $gray;
      }
    }
  }
  .file-sources,
  .footer {
    padding-left: 14px;
  }
  .date-wrapper {
    color: $gray-a;
    font-size: $font-size-base;
    margin-left: 12px;
  }
  .upvote {
    color: $brand-primary;
  }
  .upvote-liked {
    color: $brand-primary;
  }
  .upvote-count {
    display: inline-block;
    color: $brand-primary;
    &.delete-margin-left {
      margin-left: 0;
    }
    &.add-margin-left {
      margin-left: 12px;
    }
  }
  .link-edit, .link-destroy {
    margin-left: 12px;
    color: $gray-a;
    &:hover {
      color: $brand-primary;
    }
  }
  .update-form {
    margin-bottom: 10px;
  }
  span.comment-body-line + span.comment-body-line:before {
    content: '\a\a';
    line-height: 1em;
    white-space: pre;
  }
}

.comment {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 26px;
  padding: 20px;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid #bfa5eb;
    -webkit-box-shadow: 4px 4px 4px 0 $gray-lighter;
    -moz-box-shadow:    4px 4px 4px 0 $gray-lighter;
    box-shadow:         4px 4px 4px 0 $gray-lighter;
    .issue-comments & {
      border-left: 1px solid #fff;
    }
    .comment__mention {
      color: $brand-primary;
    }
  }
  &__link {
    .img-circle {
      position: absolute;
      left: -15px;
      top: 15px;
    }
    .nickname {
      font-weight: bold;
      color: $brand-primary;
    }
  }
  &__mention {
    margin-left: 5px;
    color: $gray-light;
  }
  &__body {
    color: $gray;
    font-size: $font-size-base;
    word-break: break-all;
    padding-top: 10px;
    &--post {
      margin-top: 10px;
    }
    &--agree p:first-child:before {
      content: '\f087  찬성 ';
      font-family: "FontAwesome";
      color: #966fd6;
    }
    &--disagree p:first-child:before {
      content: '\f088  반대 ';
      font-family: "FontAwesome";
      color: #966fd6;
    }
  }
  &__upvotes {
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__footer {
    &--post {
      padding-top: 15px;
      border-top: 1px solid $gray-lighter;
    }
  }
}

.comment-form {
  padding-bottom: $comment-line-space;
  &__area {
    .form-control.comment-body {
      width: 100%;
      height: 35px;
      display: block;
      &:focus, &:active {
        border: 1px solid $brand-primary;
      }
    }
  }
  &__control {
    .comment-form__btn--file-source,
    .comment-form__btn {
      cursor: pointer;
      margin-top: $comment-line-space * 0.5;
      float: right;
      display: inline-block;
    }
    .comment-form__btn {
      width: 80px;
      @media (max-width: $screen-xs-max) {
        width: 70px;
      }
    }
    .comment-form__btn--file-source {
      margin-right: 10px;
      i {
        line-height: 33px;
        color: $gray;
      }
    }
  }
  &__file-source {
    @include form-file-sources();
    .form-groups {
      border-top: none;
    }
  }
}



