section#comments {
  padding: 20px 0;
}

.comments {
  padding-top: 25px;
}
.comment {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 26px;
  padding: 20px;
  border: 1px solid #fff;
  &:hover {
    border-top: 1px solid #bfa5eb;
    border-right: 1px solid #bfa5eb;
    border-bottom: 1px solid #bfa5eb;
    border-left: 1px solid #fff;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(222, 221, 218, 1);
    -moz-box-shadow:    4px 4px 4px 0px rgba(222, 221, 218, 1);
    box-shadow:         4px 4px 4px 0px rgba(222, 221, 218, 1);
  }
  &__link {
    .img-circle {
      position: absolute;
      left: -15px;
      top: 15px;
    }
    .nickname {
      font-weight: bold;
      color: $brand-primary;
    }
  }
  &__btn {
    margin-top: -5px;
    margin-left: 10px;
  }
  &__body {
    color: #777;
    font-size: 15px;
  }
  &__upvotes {
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
    .fa-heart-o  {
      color: #aaaaaf;
    }
    .fa-heart {
      color: $brand-primary;
    }
  }
}

#new-comments {
  display: none;
}
