.decision-panel {
  font-size: $font-size-base;
  margin-top: 14px;
  padding: 12px;
  &-blank {
    padding: 6px 12px;
  }
  background-color: $gray-lightest;
  border: 0 solid $gray-lighter;
  border-radius: $border-radius-base;
  text-align: left;
  h6 {
    margin-top: 0;
    margin-bottom: 4px;
  }
  .control {
    color: $gray;
    font-weight: normal;
  }
  p {
    margin:0;
  }
  .help-text {
    font-size: $font-size-small;
  }
}
