.editors-tab {
  .btn-group.btn-group-justified {
    .btn {
      i {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

.editors-tab-panel {
  #post-form-widget.form-widget-container {
    display: block;
  }
  .submit-box {
    text-align: right;
  }
}

.unified-editor {
  padding-top: 2px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: $border-radius-base;
  @media (max-width: $screen-xs-max) {
    border-radius: 0;
  }
  &:hover {
    border: 1px solid $brand-primary-light;
    -webkit-box-shadow: 4px 4px 4px 0px #deddda;
    -moz-box-shadow: 4px 4px 4px 0px #deddda;
    box-shadow: 4px 4px 4px 0px #deddda;
  }
  &.notice {
    border: 1px solid $brand-primary;
  }
  &--join {
    padding: 15px;
  }

  &--hidden {
    display: none;
  }
  &-intro {
    padding: 20px 18px;
    cursor: pointer;

    .text-muted {
      .media-body {
        vertical-align: middle;
      }
    }

    .user-byline {
      float: left;
      line-height: 40px;
    }

    .placeholder {
      margin-left: 40px;
      line-height: 16px;
      border: 1px solid $brand-primary-light;
      padding: 12px 12px 11px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      cursor: text;
    }
  }

  .nav > li > a {
    padding: 4px;
    margin: 10px;
    @media (max-width: $screen-xs-max) {
      margin: 6px;
      > i {
        display: block;
        text-align: center;
      }
    }
    background-color: $gray-lightest;
    color: $gray;
    &:hover {
      background-color: $brand-primary;
      color: #fff;
    }
  }
  .nav {
    background-color: #fff;
    &.active {
      border-bottom: 1px solid $gray-light;
    }
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;

    li.active {
      &:after, &:before {
        bottom: 0%;
        margin-bottom: -1px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px;
        z-index: 1;
      }
      &:before {
        border-bottom-color: $gray-light;
        border-width: 8px;
        margin-left: -8px;
        z-index: 1;
      }
      & > a, & > a:hover, & > a:focus {
        color: $brand-primary-dark;
        background-color: transparent;
      }
    }
    li:first-child > a {
      margin-left: 0;
    }
  }

  .placeholder-label {
    padding: 14px 30px;
    color: #c0c0c2;
    cursor: pointer;
  }
}

.form-widget-container {
  display: none;
  padding: 18px 0;

  .user-info {
    @include post-byline();
    .media .user-image {
      margin-bottom: 0;
    }
  }

  .counter.exceeded {
      color: #f0646d;
  }

  .unified-editor & {
    display: block;
    .form-widget {
      padding: 0;
      &-content,
      &-references .help-block,
      &-references .form-groups,
      &-references .add-form-group-btn,
      &-btns {
        padding-right: 18px;
        padding-left: 18px;
      }
      &-references {
        .add-form-group-btn,
        .form-groups {
          background-color: $gray-more-lightest;
          padding-bottom: 12px;
        }
        .add-form-group-btn {
          color: $gray;
        }
        .post-file-field .form-groups {
          input[type=file] {
            display: none;
          }
        }
        .form-groups {
          padding-top: 12px;
          padding-bottom: 12px;
          border-top: 1px solid $gray-less-lighter;

          .form-group-images.js-any + .form-group-files.js-any {
            padding-top: 15px;
            border-top: 1px solid $gray-lighter;
          }
          .form-group-images .form-group {
            display: inline-block;
            margin-right: 3px;
            &.collapse {
              display: none;
            }
          }
          .form-group:last-child {
            margin-bottom: 0;
            &.form-group--inline {
              margin-bottom: 15px;
            }
          }
          label {
            font-weight: normal;
            color: $gray;
          }
          .form-group {
            position: relative;
            a.remove-upload-btn {
              color: white;
              background: $gray;
              padding: 0 5px;
              text-decoration:  none;
            }
          }
          .form-group-images a.remove-upload-btn {
            position: absolute;
            top: 0;
            right: 0;
          }
          .upload-doc,
          .upload-image {
            cursor: move;
          }
          .upload-image {
            img {
              height: 100px;
            }
          }
          .upload-doc {
            display: inline-block;
            &.collapse {
              display: none;
            }
            padding-right: 12px;
            .size {
              color: $gray-light;
            }
          }
        }
      }
      &-btns {
        @media (max-width: $screen-xs-max) {
          text-align: center;
        }
        padding-top: 18px;
        border-top: 1px solid $gray-less-lighter;
      }
      .post-reference-btns {
        margin-top: 14px;
        float: left;
        @media (max-width: $screen-xs-max) {
          float: none;
          margin-top: 0px;
          margin-bottom: 14px;
          font-size: $font-size-small;
        }
        .editor-btn {
          color: $gray;
          text-align: center;
          float: none;
        }
      }
      .post-survey-field {
        .form-group-duration {
          padding: 12px 14px 0;
          margin-top: 12px;
          border-top: 1px solid $gray-lighter;
        }
      }
      .submit-box {
        float: right;
        @media (max-width: $screen-xs-max) {
          display: block;
          float: none;
        }
      }
    }
  }
  .form-widget {
    hr {
      border-top: 1px solid $gray-lighter;
    }
  }
  .textarea-box textarea {
    border: none;
  }
  .btn-cancel {
    color: #777777;
    vertical-align: bottom;
    padding: 7px;
  }
}


.textarea-box {
  position: relative;
  .img-circle {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .icon-tooltip {
    position: absolute;
    left: 15%;
    margin-left: -14px;
    margin-top: 35px;
  }
  textarea.form-control {
    min-height: 100px;
    background-color: #fafafb;
    color: $gray;
  }
}

.editors-panel {
  margin-bottom: 25px;

  .submit-box {
    text-align: right;
  }

  .media {
    padding-bottom: 4px;
    .media-body {
      h3 {
        line-height: 25px;
      }
    }
    .btn-group {
      width: 225px;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
      .editor-btn {
        width: 50%;
      }
    }
  }
  .form-widget-container {
    margin-top: 3px;
  }
}


.editors-panel,
.unified-editor {
  .bootstrap-select > .dropdown-toggle, .bootstrap-select > .dropdown-toggle:hover, .bootstrap-select > .dropdown-toggle:focus, .bootstrap-select > .dropdown-toggle:active {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
  }
  .post-reference-btns {
    margin-top: 10px;
  }
}

@media (max-width: $screen-xs-max) {
  .editors-tab-panel {
    .submit-box {
      text-align: initial;
    }
    .textarea-box textarea {
      width: 80%;
      margin-left: 20%;
    }
    input[type=submit] {
      margin-left: 0;
      display: block;
      width: 100%;
    }
  }
  .editors-panel {
    .submit-box {
      text-align: initial;
    }
    .media-right {
      display: block;
      padding-left: 0;
      .editor-btn {
        width: 100%;
      }
    }
    input[type=submit] {
      margin-left: 0;
      display: block;
      width: 100%;
    }
  }
  .editors-tab {
    .btn-group.btn-group-justified {
      .btn {
        font-size: $font-size-base;
        line-height: 1.4;
        padding: 15px;
        img {
          height: 16px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

#post-form .post-edit-form {
  .form-control-tinymce {
    height: auto;
  }
  .form-widget-references {
    .add-form-group-btn,
    .form-groups {
      background-color: $gray-more-lightest;
      padding-bottom: 12px;
    }
    .add-form-group-btn {
      color: $gray;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .post-file-field {
      margin-bottom: 12px;
    }
    .post-file-field .form-groups {
      input[type=file] {
        display: none;
      }
    }
    .form-groups {
      padding: 12px;

      .form-group-images.js-any + .form-group-files.js-any {
        padding-top: 15px;
        border-top: 1px solid $gray-lighter;
      }
      .form-group-images .form-group {
        display: inline-block;
        &.collapse {
          display: none;
        }
        margin-right: 3px;
        max-width: 100%;
        overflow: hidden;
      }
      .form-group:last-child {
        margin-bottom: 0;
        &.form-group--inline {
          margin-bottom: 15px;
        }
      }
      label {
        font-weight: normal;
        color: $gray;
      }
      .form-group {
        position: relative;
        a.remove-upload-btn {
          color: white;
          background: $gray;
          padding: 0 5px;
          text-decoration:  none;
        }
      }
      .form-group-images a.remove-upload-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
      .upload-doc,
      .upload-image {
        cursor: move;
      }
      .upload-image {
        img {
          height: 100px;
        }
      }
      .upload-doc {
        display: inline-block;
        &.collapse {
          display: none;
        }
        padding-right: 12px;
        .size {
          color: $gray-light;
        }
      }
    }
  }
}


.form-widget {
  background-color: #fff;
  border-radius: $border-radius-base;
  padding: 30px 30px 15px;
  @media (max-width: $screen-xs-max) {
    padding: 30px 15px 15px;
  }
  position: relative;
  &__arrow {
    position: absolute;
    left: -19px;
    top: 25px;
  }
  .input-group {
    width: 100%;
  }
  input[type=text],
  input[type=file],
  textarea,
  .form-control-tinymce, {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #d2d2d2;
  }
  a {
    color: $gray;
    &:hover {
      color: $brand-primary;
    }
  }
  .btn-primary {
    min-width: 130px;
  }
  .btn-default {
    margin-left: 0;
  }
  hr {
    border-top: 4px solid $gray-light;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#post-form {
  .page-wrapper {
    width: 670px;
  }
  .well {
    background-color: #fff;
    border-color: $brand-primary;
    padding: 40px;
  }
  h5 {
    color: $gray;
    font-size: $font-size-medium;
  }
  .help-block a {
    color: $gray;
    font-weight: bold;
    text-decoration: underline;
  }
}

@media (max-width: $screen-xs-max) {
  .form-widget {
    margin-top: 0;
  }
  #post-form{
    .container {
      padding: 0;
    }
    .page-wrapper {
      width: 100%;
      &__title {
        margin-bottom: 30px;
      }
    }
    .well {
      padding: 15px;
    }
    .editor-btn {
      .btn-primary {
        width: 100px;
      }
    }
  }
}
