.editors-tab {
  .btn-group.btn-group-justified {
    .btn {
      i {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

.editors-tab-panel {
  #talk-form-widget.form-widget-container {
    display: block;
  }
  .submit-box {
    text-align: right;
  }
}

.form-widget-container {
  display: none;
  .select2-container--bootstrap {
    display: inline-block;
    text-align: left;
  }
  .form-widget hr {
    border-top: 1px solid #efefef;
  }
  .textarea-box textarea {
    width: 90%;
    margin-left: 10%;
    border: none;
  }
}


.textarea-box {
  position: relative;
  .img-circle {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .icon-tooltip {
    position: absolute;
    left: 15%;
    margin-left: -14px;
    margin-top: 35px;
  }
  textarea.form-control {
    width: 85%;
    min-height: 100px;
    margin-left: 15%;
    background-color: #fafafb;
    color: #777;
  }
}

.editors-panel {
  margin-bottom: 25px;

  .submit-box {
    text-align: right;
  }

  .media {
    padding-bottom: 4px;
    .media-body {
      h3 {
        line-height: 25px;
      }
    }
  }
  .form-widget-container {
    margin-top: 3px;
  }

  .editor-btn {
    width: 225px;
  }
}

@media (max-width: 768px) {
  .editors-tab-panel {
    .submit-box {
      text-align: initial;
    }
    .textarea-box textarea {
      width: 80%;
      margin-left: 20%;
    }
    .select2-container {
      width: 60% !important;
      margin-bottom: 10px;
    }
    input[type=submit] {
      margin-left: 0;
      display: block;
      width: 100%;
    }
  }
  .editors-panel {
    .submit-box {
      text-align: initial;
    }
    .media-right {
      display: block;
      padding-left: 0;
      .editor-btn {
        width: 100%;
      }
    }
    input[type=submit] {
      margin-left: 0;
      display: block;
      width: 100%;
    }
    .textarea-box textarea {
      width: 80%;
      margin-left: 20%;
    }
  }
  .editors-tab {
    .btn-group.btn-group-justified {
      .btn {
        font-size: $font-size-base;
        line-height: 1.4;
        padding: 15px;
        img {
          height: 16px;
          margin-bottom: 2px;
        }
      }
    }
  }
}
