body.app-issues-slug_folders:not(.app-issues-slug_folders-no-folder) {
  background-color: white;
  main,
  .bg-default {
    background-color: transparent;
  }

  &.draggable-slug-folder-dragging, &.draggable-slug-folder-dragging * {
    cursor: move !important;
  }

  &.draggable-slug-folder-dropping, &.draggable-slug-folder-dropping * {
    cursor: wait !important;
  }

  .draggable-slug-folder-dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }
}

section.page-folders {
  background-color: white;
  padding-top: 0;
  padding-bottom: 30px;
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}

.folder-selector {
  .dropdown-menu > li > a.child-folder {
    padding-left: 40px;
  }
}

.threaded-message {
  color: $gray-a;
  margin-top: 12px;
  margin-bottom: 12px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.threaded-folders {
  .child-item > .child-item-title {
    padding-left: 20px;
  }
  &.dropdown-menu {
    .child-item > a {
      padding-left: 30px;
    }
  }
  .fa-folder-open,
  .fa-folder {
    color: $gray;
  }
  .fa-folder-open {
    padding-left: 3px;
  }

  .threaded-folders-header {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    display: table;
    background-color: #fff;
    font-size: 13px;
    height: 27px;
    width: 100%;
    border-spacing: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .12), 0px -1px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    .header-cell {
      display: table-cell;
      line-height: 19px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 6px;
      &.title {
        padding: 0 16px;
      }
      &.updated-at {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAAD0lEQVQIW2NgsGAAAiABAAJyAHEQ6XFvAAAAAElFTkSuQmCC);
        background-repeat: repeat-y;
        background-position: left;
        background-size: 1px 1px;
        width: 150px;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
  }

  @include skeletons($gray-light);
  .skeletons{
    padding-top: 7px;
    padding-bottom: 7px;
    @media (max-width: $screen-xs-max) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    margin: 0;
    padding-left: 18px;
    .skeleton-title{
      height: 16px;
    }
  }


  .background {
    background-image: -webkit-linear-gradient(#fafafa 0,#fafafa 50%,#fff 50%,#fff 100%);
    background-image: linear-gradient(#fafafa 0,#fafafa 50%,#fff 50%,#fff 100%);
    background-size: 100% 60px;
    @media (max-width: $screen-xs-max) {
      background-size: 100% 80px;
    }
    min-height: 100%;
  }
  .folder-rows {
    .folder-item {
      display: table;
      width: 100%;
      outline: 0;
      height: 30px;
      line-height: 30px;
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
      }
      overflow: hidden;
      position: relative;
      .folder-item-title-container {
        display: table;
        width: 100%;
        .folder-item-title {
          display: table-cell;
          position: relative;
          .folder-item-title-content {
            display: inline-block;
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            padding-right: 1em;
          }
          .folder-item-title-rename-form {
            max-width: 95%;
            .folder-item-title-input {
              font-size: $font-size-base;
              height: 1.8em;
              min-width: 100px;
              max-width: 100%;
            }
          }
        }
      }
      .folder-item-icon {
        display: table-cell;
        width: 36px;
        text-align: right;
        padding-right: 4px;
      }
      .folder-item-updated-at {
        display: table-cell;
        width: 150px;
        color: $gray-a;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
    .folder-item.active {
      background-color: $brand-primary-lighter;
    }
  }
  .dragging_active {
    border: 1px solid $gray;
  }

  .folders-root > .folder-rows {
    > .parent-folder {
      padding-left: 0;
    }
    > .child-folder-items {
      > .child-item {
        padding-left: 16px;
      }
      // 하위
      > .folder-rows {
        > .parent-folder {
          padding-left: 16px;
        }
        > .child-folder-items {
          > .child-item {
            padding-left: 32px;
          }
        }
      }

      .child-item.draggable-slug-folder-dragged {
        padding-left: 0 !important;
      }
    }
  }
}
