.modal-dialog-folder-form {
  max-width: 600px;
}

section#folders {
  padding-top: 30px;
  @media (max-width: $screen-xs-max) {
    padding-top: 14px;
  }
  padding-bottom: 30px;
  .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .col-xs-12, .col-xs-6,
  .col-sm-3, .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
  }
}
