section#folders {
  padding-top: 30px;
  @media (max-width: $screen-xs-max) {
    padding-top: 14px;
  }
  padding-bottom: 30px;
  .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .col-xs-12, .col-xs-6,
  .col-sm-3, .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.folder-selector {
  .dropdown-menu > li > .child-folder {
    padding-left: 40px;
  }
}

.threaded-folders {
  .child-folder > .child-folder-title {
    padding-left: 20px;
  }
  &.dropdown-menu {
    .child-folder > a {
      padding-left: 30px;
    }
  }
  .fa-folder-open,
  .fa-folder {
    color: $gray;
  }
  .fa-folder-open {
    padding-left: 3px;
  }

  .headers {
    display: table;
    background-color: #fff;
    font-size: 13px;
    height: 27px;
    width: 100%;
    border-spacing: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,.12);
    position: relative;
    .header-cell {
      display: table-cell;
      line-height: 19px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 6px;
      &.title {
        padding: 0 16px;
      }
      &.updated-at {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAAD0lEQVQIW2NgsGAAAiABAAJyAHEQ6XFvAAAAAElFTkSuQmCC);
        background-repeat: repeat-y;
        background-position: left;
        background-size: 1px 1px;
        width: 150px;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
  }

  .background {
    background-image: -webkit-linear-gradient(#fafafa 0,#fafafa 50%,#fff 50%,#fff 100%);
    background-image: linear-gradient(#fafafa 0,#fafafa 50%,#fff 50%,#fff 100%);
    background-size: 100% 60px;
    min-height: 100%;
  }
  .folder-list-rows {
    .parent-folder,
    .child-folder,
    .grandchild-folder {
      display: table;
      width: 100%;
      height: 30px;
      outline: 0;
      font-size: 14px;
      line-height: 30px;
      overflow: hidden;
      position: relative;
      .icon {
        display: table-cell;
        width: 36px;
        text-align: right;
        padding-right: 4px;
      }
      .title {
        display: table-cell;
      }
      .updated-at {
        display: table-cell;
        width: 150px;
        color: $gray-a;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
    .child-folder {
      .icon {
        width: 54px;
      }
    }
    .grandchild-folder {
      .icon {
        width: 72px;
      }
    }
  }
}

