#groups-all {
  .group-title {
    color: white;
  }
  .issue-card-wrapper .issue-card {
    border: 1px solid $gray-lighter;
    &:hover {
      border: 1px solid $brand-primary-light;
    }
  }
}

.app-issues-home.in-group {
  .slick-list {
    .issue-card-wrapper .issue-card {
      margin: 0;
    }
  }

  section#home section#parties-all .parties-all-list {
    margin-top: 0;
  }
}

.group-heading {
  .partis-count {
    font-weight: 200;
    background-color: transparent;
    color: $gray;
    border: 1px solid $gray;
  }
}
body.in-group {
  @media (min-width: $screen-sm-min) {
    #group-key-visual-bg {
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @media (max-width: $screen-xs-max) {
    #group-key-visual {
      display: none;
    }
  }
}

.group-heading{
  h4{
    display:inline-block;
    margin:0px;
  }
  small{
    margin-left: 5px;
  }
  border-left:3px solid $brand-primary;
  padding: 5px 10px;
  font-weight: $headings-font-weight;
  letter-spacing: $headings-letter-spacing;
  .group-desc{
    margin-top:5px;
    color:$gray;
    font-size:12px;
    font-weight: $small-in-headings-font-weight;
  }
  .group-parties-section-title {
    .group-helptext {
      font-weight: 300;
    }
  }
}

.group-modal-dialog{
  width: 600px;
  margin: 30px auto;
}
