.group-heading {
  .partis-count {
    font-weight: 200;
    background-color: transparent;
    color: $gray;
    border: 1px solid $gray;
  }
}
body.in-group {
  .group-key-visual {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .group-key-visual-only-bg {
    height: 500px;
  }
  @media (max-width: $screen-xs-max) {
    .group-key-visual {
      display: none;
    }
  }
}

.group-heading{
  h4{
    display:inline-block;
    margin:0px;
  }
  small{
    margin-left: 5px;
  }
  border-left:3px solid $brand-primary;
  padding: 5px 10px;
  font-weight: $headings-font-weight;
  letter-spacing: $headings-letter-spacing;
  .group-desc{
    margin-top:5px;
    color:$gray;
    font-size:12px;
    font-weight: $small-in-headings-font-weight;
  }
  .group-parties-section-title {
    .group-helptext {
      font-weight: 300;
    }
  }
}

.groups-all-list {
  .group-card {
    border: 1px solid $gray-a;
    border-left: none;
    background-color: white;
    .group-heading .group-desc {
      font-weight: normal;
      font-size: $font-size-base;
    }
  }
}

/* 고급설정 접었다 펼치기 */
body.app-group--configurations-new,
body.app-group--configurations-create,
body.app-group--configurations-edit,
body.app-group--configurations-update {
  @include form-advanced-option();
}

body.app-group--configurations-new,
body.app-group--configurations-create,
body.app-group--configurations-edit,
body.app-group--configurations-update {
  .group-home-component-list {
    li .group-home-component-seq-no {
      width: 3em;
      line-height: 2em;
      font-size: 1em;
      display: inline-block;
      border: 1px solid $gray;
      color: $gray;
      padding: .2em .6em .3em;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
    }
    li.active {
      -webkit-animation: group-home-component-active 2s; /* Safari 4+ */
      -moz-animation:    group-home-component-active 2s; /* Fx 5+ */
      -o-animation:      group-home-component-active 2s; /* Opera 12+ */
      animation:         group-home-component-active 2s;
    }

    @-webkit-keyframes group-home-component-active {
      0%   { opacity: 0.5; }
      100% { opacity: 1; }
    }
    @-moz-keyframes group-home-component-active {
      0%   { opacity: 0.5; }
      100% { opacity: 1; }
    }
    @-o-keyframes group-home-component-active {
      0%   { opacity: 0.5; }
      100% { opacity: 1; }
    }
    @keyframes group-home-component-active {
      0%   { opacity: 0.5; }
      100% { opacity: 1; }
    }
  }
}

.group-modal-dialog{
  width: 600px;
  margin: 30px auto;
}


body.app-group--categories-index,
body.app-group--categories-edit {
  .list-categories {
    margin-bottom: 0;

    > li {
      .category-name > .menu-button {
        color: $gray-a;
        font-weight: normal;
        margin-left: 1rem;
      }
    }
    .empty-info {
      color: $gray-a;
    }
  }
  .btn-category-btn {
    width: 80px;
  }
  .issue-line {
    .category-control {
      margin-left: 1rem;
      @media (min-width: $screen-sm-min) {
        .dropdown-toggle {
          display: none;
        }
      }
      a.dropdown-toggle {
        color: $gray-a;
      }
    }
    &:hover .category-control .dropdown-toggle {
      display: inline;
    }

    .after-block {
      position: absolute;
      .category-control {
        position: relative;
        top: 2px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .group-card {
    .group-heading {
      .partis-count {
        margin-left: 0;
        margin-top: 3px;
      }
    }
  }
}
