#groups-all {
  .group-title {
    color: white;
  }
  .issue-card-wrapper .issue-card {
    border: 1px solid $gray-lighter;
    &:hover {
      border: 1px solid $brand-primary-light;
    }
  }
}

.app-issues-home.in-group {
  .slick-list {
    .issue-card-wrapper .issue-card {
      margin: 0;
    }
  }

  section#home section#parties-all .parties-all-list {
    margin-top: 0;
  }
}

.group-heading {
  .partis-count {
    font-weight: 200;
    background-color: transparent;
    color: $gray;
    border: 1px solid $gray;
  }
}
body.in-group {
  #site-header {
    .navbar-fixed-top {
      background-color: $brand-primary;
    }
  }
  @media (min-width: $screen-sm-min) {
    #group-key-visual-bg {
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #site-header {
      .navbar-fixed-top {
        border-bottom: 1px solid $brand-primary-darker;
      }

      .container {
        position: relative;
        height: 100%;
      }

      .navbar-header {
        .navbar-brand {
          font-weight: 600;
          color: white;
        }
      }

      .nav > li > a {
        color: $gray-lighter;
        font-weight: normal;
        &.group-title {
          padding-left: 0;
          color: white;
        }
        &.active,
        &:hover {
          color: white;
        }
        h4 {
          font-weight: 400;
          margin: 1px 0 0 0;
        }
      }

      .navbar-nav > li.member-parties .dropdown-toggle, .navbar-nav > li.parti-tags .dropdown-toggle, .navbar-nav > li.all-posts .dropdown-toggle {
        background: none;
        &:hover {
          color: white;
        }
      }
      .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background: none;
      }

      .navbar-bottom {
        position: absolute;
        width: 90%;
        bottom: 0;
        left: 7px;
      }
    }

    &.in-parti {
      padding-top: 50px;

      #site-header {
        .navbar-fixed-top {
          height: 50px;
        }
      }

      .navbar-bottom {
        display: none;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    #group-key-visual {
      display: none;
    }
  }
}

.group-heading{
  h4{
    display:inline-block;
    margin:0px;
  }
  small{
    margin-left: 5px;
  }
  border-left:3px solid $brand-primary;
  padding: 5px 10px;
  font-weight: $headings-font-weight;
  letter-spacing: $headings-letter-spacing;
  .group-desc{
    margin-top:5px;
    color:$gray;
    font-size:12px;
    font-weight: $small-in-headings-font-weight;
  }
  .group-parties-section-title {
    .group-helptext {
      font-weight: 300;
    }
  }
}


.group-modal-dialog{
  width: 600px;
  margin: 30px auto;
}
