#top-banner {
  text-align: center;
  font-size: 27px;
  font-weight: 100;
  color: $gray-lightest;
  padding: 25px 0px;
  padding-bottom: 20px;
  background-image: image_url('thumb_main_keyvisual.png');
  background-size: cover;

  .text-important {
    color: #FFDE00;
    font-weight: 900;
  }
  .top-banner-btn {
    @include btn-push($brand-primary-dark, #ffde00, $brand-primary-dark, #ffde00);
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: $brand-primary-dark;
    background-color: #ffde00;
    &:hover, &:active, &:focus {
      background-color: #ffde00;
    }
  }
}

@media (max-width: 768px) {
  #top-banner {
    background-image: image_url('thumb_main_keyvisual.png');
    background-size: cover;
    background-position: center;
    font-size: 1em;
    padding-top: 22px;
    padding-bottom: 14px;
    .col-xs-8 {
      text-align: left;
    }
    .col-xs-4 {
      text-align: right;
    }
    .text-parti {
      display: inline;
      margin-bottom: 20px;
    }
  }
}

section#facebook-like {
  padding-top: 10px;
}

section#home {
  padding: 30px 0;

  h3.title {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 12px;
    padding-bottom: 8px;

    .carousel-nav {
      float: right;
      .btn {
        line-height: 1em;
        font-size: $font-size-small;
      }
    }
  }

  section#recommend-parties {
    min-height: 200px;
    overflow: hidden;
    position: relative;

    .owl-carousel {
      margin-top: 0;
      li {
        height: 210px;
        background-size: cover;
        @media (max-width: 768px) {
          height: 175px;
        }
      }
      .owl-nav {
        position: absolute;
        top: 25%;
        width: 100%;

        .owl-prev,
        .owl-next {
          background: none;
          color: #fff;
          text-shadow: 0px 0px 20px rgba(0,0,0,0.9);
        }
        .owl-prev {
          position: absolute;
          left: 0;
        }
        .owl-next {
          position: absolute;
          right: 0;
        }
        .owl-prev:before,
        .owl-next:before {
          font-family: FontAwesome;
          font-size: 2em;
        }

        .owl-prev:before { content: "\f053"; }
        .owl-next:before { content: "\f054"; }
      }
      .owl-dot span {
        background-color: #c0c0c2;
      }
      .owl-dot.active span {
        background-color: $brand-primary;
      }
    }
    .issue-card {
      height: 340px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $brand-primary-light;
      }
      border-radius: $border-radius-base;
      &__thumb {
        height: 210px;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center;
      }
      &__title {
        margin-bottom: -8px;
        display: table;
        width: 100%;
        height: 50px;
        text-align: center;
        color: $gray-darker;
        font-size: $font-size-large;
        font-weight: bold;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      &__body {
        color: $gray;
        height: 40px;
        overflow: hidden;
        text-align: center;
      }
    }
  }

  section#campaign-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
  }

  section#recommend-articles {
    margin-bottom: 40px;
  }

  section#recommend-talks {
    margin-bottom: 40px;
  }

  section#recommend-opinions {
    .opinion-card {
      width: 99%;
    }
  }

  ul.owl-carousel {
    &.owl-loading {
      height: 500px;
    }
    padding-left: 0;
    list-style: none;
    li {
      overflow: hidden;
      width: 100%;
      display: inline-block;
    }
    .owl-controls {
      display: none;
    }
  }

  section#parties-all {
    margin-top: 30px;
    form {
      .input-group .form-control:not(:first-child):not(:last-child) {
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;

      }
      .input-group-keyword input.form-control {
        font-size: 1em;
      }
      .btn-group-default {
        border-color: $btn-default-border;
        background: $brand-primary;
        color: #fff;
      }
    }

    .parties-all-list {
      margin-top: 15px;
      .row {
        margin-left: -5px;
        margin-right: -5px;
        .col-sm-4 {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }


    .parties-all-loading {
      text-align: center;
      margin-top: 50px;
      display: none;
    }
  }
}
