section#facebook-like {
  min-height: 46px;
  @media (max-width: $screen-xs-max) {
    min-height: 40px;
  }
  padding: 10px 0;
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe {
    width: 100% !important;
    overflow: hidden;
  }
}

section#home {
  h3.title {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 12px;
    padding-bottom: 8px;

    .carousel-nav {
      float: right;
      .btn {
        line-height: 1em;
        font-size: $font-size-base;
      }
    }
  }

  section#recommend-posts {
    margin-bottom: 40px;
  }

  section#parties-all {
    form {
      .input-group .form-control:not(:first-child):not(:last-child) {
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;

      }
      .input-group-keyword input.form-control {
        font-size: 1em;
      }
      .btn-group-default {
        border-color: $btn-default-border;
        background: $brand-primary;
        color: #fff;
      }
    }

    .parties-filter {
      @media (min-width: $screen-sm-min) {
        display: table;
        width: 100%;
        .parties-sort-select,
        .parties-search-form  {
          display: table-cell;
        }
        .parties-search-form {
          width: 40%;
        }
      }
      .parties-sort-select {
        @media (max-width: $screen-xs-max) {
          margin-top: 10px;
          &--group {
            position: relative;
            white-space: nowrap;
            nav {
              overflow: auto;
              margin-left: 6px;
              padding-right: 40px;
            }
          }
          .list-inline:after {
            position: absolute;
            top: 0;
            right: -1px;
            height: 16px;
            width: 50px;
            z-index: 1;
            pointer-events: none;
            background: -webkit-linear-gradient( right , $gray-lighter, rgba(248, 247, 238, 0));
            background: linear-gradient(to left, $gray-lighter, rgba(248, 247, 238, 0));
            visibility: visible;
            opacity: 1;
            content: ' ';
          }
        }
        @media (min-width: $screen-sm-min) {
          text-align: right;
        }
        vertical-align: bottom;
        ul {
          display: inline-block;
          margin: 0;
          li {
            padding: 0;
            a {
              color: $gray;
              &:hover,
              &.active {
                color: $brand-primary;
                text-decoration: underline;
              }
            }
          }
          li + li:before {
            content: '|';
            color: $gray-light;
            margin: 0 5px;
          }
        }
      }
      .parties-search-form {
        vertical-align: middle;
        form {
          input[type='search'],
          button {
            height: 35px;
          }
          button {
            padding: 5px 16px;
          }
          .add-clear-x {
            z-index: 1000;
          }
        }
      }
    }

    .parties-all-list {
      @media (min-width: $screen-sm-min) {
        margin-top: 15px;
      }
      @media (max-width: $screen-xs-max){
        .col-xs-6:nth-child(2n) {
          padding-right: 15px;
          padding-left: 7.5px;
        }
        .col-xs-6:nth-child(2n+1) {
          padding-left: 15px;
          padding-right: 7.5px;
        }
      }
    }


    .parties-all-loading {
      text-align: center;
      margin-top: 50px;
      display: none;
      @media (max-width: $screen-xs-max){
        min-height: 800px;
      }
    }
  }
}
