section#facebook-like {
  padding: 10px 0;
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe {
    width: 100% !important;
    overflow: hidden;
  }
}

section#key-visuals {
  min-height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;

  ul.owl-carousel {
    margin-top: 0;
    padding: 0;
    list-style: none;

    .owl-nav {
      position: absolute;
      top: 25%;
      width: 100%;

      .owl-prev,
      .owl-next {
        background: none;
        color: #fff;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.9);
      }
      .owl-prev {
        position: absolute;
        left: 0;
      }
      .owl-next {
        position: absolute;
        right: 0;
      }
      .owl-prev:before,
      .owl-next:before {
        font-family: FontAwesome;
        font-size: 2em;
      }

      .owl-prev:before { content: "\f053"; }
      .owl-next:before { content: "\f054"; }
    }
    .owl-dot span {
      background-color: #c0c0c2;
    }
    .owl-dot.active span {
      background-color: $brand-primary;
    }
  }
  .issue-card {
    height: 340px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $brand-primary-light;
    }
    border-radius: $border-radius-base;
    &__thumb {
      height: 210px;
      margin-bottom: 20px;
      background-size: cover;
      background-position: center;
    }
    &__title {
      margin-bottom: -8px;
      display: table;
      width: 100%;
      height: 50px;
      text-align: center;
      color: $gray-darker;
      font-size: $font-size-large;
      font-weight: bold;
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__body {
      color: $gray;
      height: 40px;
      overflow: hidden;
      text-align: center;
    }
  }
}

section#home {
  h3.title {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 12px;
    padding-bottom: 8px;

    .carousel-nav {
      float: right;
      .btn {
        line-height: 1em;
        font-size: $font-size-small;
      }
    }
  }

  section#campaign-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
  }

  section#recommend-articles {
    margin-bottom: 40px;
  }

  section#recommend-talks {
    margin-bottom: 40px;
  }

  section#recommend-opinions {
    .opinion-card {
      width: 99%;
    }
  }

  ul.owl-carousel {
    &.owl-loading {
      height: 500px;
    }
    padding-left: 0;
    list-style: none;
    li {
      overflow: hidden;
      width: 100%;
      display: inline-block;
    }
    .owl-controls {
      display: none;
    }
  }

  section#parties-all {
    @media (min-width: 768px) {
      margin-top: 30px;
    }
    form {
      .input-group .form-control:not(:first-child):not(:last-child) {
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;

      }
      .input-group-keyword input.form-control {
        font-size: 1em;
      }
      .btn-group-default {
        border-color: $btn-default-border;
        background: $brand-primary;
        color: #fff;
      }
    }

    .parties-all-list {
      margin-top: 15px;
      .row {
        margin-left: -5px;
        margin-right: -5px;
        .col-sm-4 {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }


    .parties-all-loading {
      text-align: center;
      margin-top: 50px;
      display: none;
    }
  }
}
