.issue-header-actions {
  i {
    font-size: 18px;
  }
}

.issue {
  &__title {
    &--label a {
      color: #fff;
      font-size: $font-size-small;
      font-weight: normal;
      padding: 5px 8px;
      border-radius: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    &--article a {
      background-color: $brand-info;
    }
    &--opinion a {
      background-color: $brand-danger;
    }
  }

  &__logo {
    width: 100%;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.issue-header-section {
  height: 305px;
  .issue-info-wrapper {
    padding-top: 25px;
  }
  .issue-logo {
    float: left;
    .thumb {
      width: 175px;
      height: 175px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .issue-info {
    width: 765px;
    float: left;
    padding-left: 25px;
    position: relative;
    .btn {
      position: absolute;
      right: 0;
      top: -15px;
      font-size: 14px;
      padding: 15px;
      border-radius: 5px;
    }
    .btn-default {
      background: transparent;
      color: #c0c0c2;
    }
  }
  .issue-title {
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
  }
  .issue-count {
    border-top: 1px solid #3d3557;
    border-bottom: 1px solid #3d3557;
    padding: 15px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    .comment-count, .user-count {
      a {
        color: #fff;
        font-size: 18px;
        .label {
          color: #d2d2d2;
          font-size: 13px;
          display: inline-block;
          vertical-align: top;
          padding-top: 6px;
        }
      }
    }
    .user-count {
      .label {
        border: 1px solid $brand-primary;
        margin-left: 40px;
        padding: 5px 10px;
        margin-top: -2px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
      }
    }
  }
  .issue-body p {
    width: 100%;
    height: 43px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.5em;
    word-break: break-all;
  }
}
.issue-header-txt {
  text-align: center;
  padding-top: 40px;
  h3 {
    line-height: 1.4em;
  }
}
#btn-continue {
  background-color: #e0cdff;
  padding: 13px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 40px;
  display: inline-block;
}

.parties-all {
  padding-top: 35px;
  .parties-text {
    width: 100%;
    min-height: 245px;
    text-align: center;
    color: #777;
    font-size: 18px;
    padding-top: 100px;
  }
}

.issue-card-wrapper {
  min-height: 245px;
  margin-bottom: 75px;
  .issue-card {
    width: 19%;
    margin-left: 1.25%;
    float: left;
    border-bottom: 1px solid #dddbdc;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    &__thumb {
      width: 100%;
      height: 130px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
    &__meta {
      width: 100%;
      position: absolute;
      top: 100px;
      padding: 5px 0;
      background-color: rgba(0,0,0,0.9);
      text-align: center;
      color: #fff;
      b {
        font-size: 12px;
      }
      .comment-count {
        margin-left: 5px;
      }
      img {
        display: inline-block;
      }
    }
    &__title {
      width: 90%;
      height: 40px;
      overflow: hidden;
      color: $brand-primary;
      font-weight: bold;
      text-align: center;
      margin: 10px auto;
      display: block;
    }
    &__btn {
      .btn {
        width: 87%;
        margin: 0 auto 15px auto;
        display: block;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
      }
      a {
        width: 87%;
        margin: 0 auto 15px auto;
        display: block;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 5px 10px;
        font-size: 12px;
        text-align: center;
        line-height: 1.5;
        color: #777;
        border: 1px solid #d2d2d2;
        &:hover, &:focus, &:active, &:visited {
          color: #fff;
          background: #555;
        }
      }
      .btn-primary {
        color: #fff;
      }
    }
    &--more {
      background-color: #ffffff;
      text-align: center;
      a {
        height: 235px;
        display: block;
        padding-top: 80px;
        color: #757375;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    &--watch_more {
      background-color: #e5e5ea;
      border: none;
      text-align: center;
      display: table;
      a {
        height: 190px;
        display: block;
        display: table-cell;
        vertical-align: middle;
        img {
          width: initial;
          height: initial;
          margin: auto;
        }
        p {
          color: #7e7e7e;
          font-weight: 500;
        }
      }
    }
  }
  .issue-card:nth-child(5n+1), .issue-card:first-child {
    margin-left: 0;
  }
}
.issue-list--6 {
  .issue-card {
    width: 15%;
    margin-left: 2%;
  }
  .issue-card:nth-child(5n+1) {
    margin-left: 2%;
  }
  .issue-card:nth-child(6n+1) {
    margin-left: 0;
  }
}


.owl-carousel {
  min-height: auto;
  margin-top: 20px;
  margin-bottom: 0;
  .issue-card {
    width: 100%;
    border: none;
    margin-bottom: 0;
  }
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background-color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: $brand-primary;
}

.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  background: none;
  &:hover {
    background: none;
  }
}
