section#issues {
  padding-top: 20px;
  h3.title {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

section#issues-group-index {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: $screen-xs-max) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.issue-header-actions {
  i {
    font-size: $font-size-large;
  }
}

.parti-header-section {
  background: rgba(0,0,0,0.2);
  color: #fff;
  padding-top: 100px;
  padding-bottom: 60px;
  position: relative;

  > .container {
    position: relative;
  }

  .parti-black-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .bg-blur {
      opacity: 0.6;
    }
  }

  .parti-logo {
    margin-right: 10px;
    .thumb {
      width: 95px;
      height: 95px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;
    }
  }
  h2 {
    margin: 0;
    &.parti-title {
      margin-bottom: 5px;
      text-shadow: 1px 1px #333;
      small {
        color: white;
      }
    }
    a {
      text-shadow: none;
    }
  }
  .parti-body {
    color: $gray-lighter;
    text-shadow: 1px 1px #333;
  }
  .parti-buttons {
    margin-top: 15px;
    .parti-organizer-button,
    .parti-member-button {
      margin-top: 10px;
      padding-bottom: 3px;
      .btn {
        min-width: 110px;
        &.btn-primary {
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          &:hover {
            transform: none;
          }
        }
        &.btn-ghost {
          color: $gray-lighter;
          border: 1px solid $gray-lighter;
          &:hover {
            background: transparent;
            font-weight: bold;
          }
        }
      }
    }
    .parti-telegram-button {
      margin-left: 10px;
      a {
        font-weight: 100;
        color: #fff;
        &:hover {
          font-weight: 200;
        }
      }
      img {
        max-width: 20px;
      }

      @media (max-width: $screen-xs-max) {
        display: block;
        margin-left: 0;
        margin-top: 12px;
      }
    }
    .parti-admin-buttons {
      .btn {
        color: $gray-lighter;
        border: 1px solid $gray-lighter;
        &:hover {
          background: transparent;
          font-weight: bold;
        }
      }
    }
  }
  .parti-info {
    margin-bottom: 10px;
    text-shadow: 1px 1px #333;
    .parti-users-label,
    .parti-users-count {
      font-size: $font-size-base;
      font-weight: 100;
      color: #fff;
    }
  }
  .share-box .social {
    display: inline-block;
  }
  .parti-menu {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    .row {
      border-color: #d2d2d2;
      text-align: center;
      padding: 0;
      margin: 0;
      div[class*='col-'] {
        position: relative;
        padding: 0;
        a {
          display: block;
          color: #fff;
          border: none;
          width: 100%;
          height: 40px;
          &:hover {
            background-color: $brand-primary;
          }
          .text-primary {
            color: #be97ff;
          }
        }
        &.active > a {
          background-color: $brand-primary;
        }
        h5 {
          line-height: 40px;
          margin: 0;
        }
        .count {
          font-size: 10px;
        }
      }
    }
  }

  &--simple {
    padding-top: 12px;
    padding-bottom: 12px;

    .parti-title {
      a, small {
        color: #fff;
      }
    }
    > .container > .media {
      > .media-left {
        vertical-align: middle;
        .parti-logo {
          margin-right: 0;
          .thumb {
            width: 36px;
            height: 36px;
          }
        }
      }
      > .media-body {
        .parti-buttons {
          margin-left: 12px;
          display: inline;
        }
      }
    }
  }
}

.webui-popover {
  .organizer-info,
  .reject-member {
    font-size: $font-size-small;
  }
}

.issue-header-section {
  height: 305px;
  .issue-info-wrapper {
    padding-top: 25px;
  }
  .issue-logo {
    float: left;
  }
  .issue-info {
    width: 765px;
    float: left;
    padding-left: 25px;
    position: relative;
    .btn {
      position: absolute;
      right: 0;
      top: -15px;
      font-size: 14px;
      padding: 15px;
      border-radius: 5px;
    }
    .btn-default {
      background: transparent;
      color: $gray-light;
    }
  }
  .issue-title {
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
  }
  .issue-count {
    border-top: 1px solid #3d3557;
    border-bottom: 1px solid #3d3557;
    padding: 15px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    .comment-count, .user-count {
      a {
        color: #fff;
        font-size: $font-size-large;
        .label {
          color: #d2d2d2;
          font-size: 13px;
          display: inline-block;
          vertical-align: top;
          padding-top: 6px;
        }
      }
    }
    .user-count {
      .label {
        border: 1px solid $brand-primary;
        margin-left: 40px;
        padding: 5px 10px;
        margin-top: -2px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
      }
    }
  }
  .issue-body p {
    width: 100%;
    height: 43px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.5em;
    word-break: break-all;
    margin-bottom: 20px;
  }
}
.issue-header-txt {
  text-align: center;
  padding-top: 40px;
  h3 {
    line-height: 1.4em;
    color: #c6a3ff;
  }
  h4 {
    line-height: 1.4em;
  }
}
#btn-after-select-parties,
#btn-go-select-parties {
  padding: 13px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 25px;
  margin-right: 25px;
  color: #fff;
  float: right;
  @media (max-width: $screen-xs-max) {
    margin-top: 20px;
    margin-right: 0;
  }

  &.disabled {
    opacity: 0.2;
  }
}

.issue-card-wrapper {
  .issue-card {
    width: 100%;
    background-color: #fff;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $brand-primary-light;
    }
    border-radius: $border-radius-base;
    -webkit-border-radius: $border-radius-base;
    -moz-border-radius: $border-radius-base;
    margin: 15px 0;

    .issue-card__content {
      padding: 10px;
      height: 147px;
      @media (max-width: $screen-xs-max) {
        height:100px !important;
      }
    }
    .issue-card__group,
    .issue-card__join {
      text-align: center;
      padding: 5px;
      display: inline-block;
      border-radius: $border-radius-base;
      border: 1px solid $brand-primary;
      font-size: $font-size-small;
    }
    .issue-card__group {
      position: absolute;
      top: 30px;
      left: 30px;
      border: none;
      background-color: transparent;
      padding: 5px;
      color: rgba(250, 250, 250, 0.9);
      font-size: $font-size-base;
      text-shadow: 1px 1px 3px rgba(0,0,0,.9);
      font-weight: 400;
      @media(max-width: $screen-xs-max) {
        position: static;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
    .issue-card__join {
      position: absolute;
      top: 30px;
      right: 30px;
      @media(max-width: $screen-xs-max) {
        position: static;
        margin-top: 5px;
        margin-left: 5px;
      }
      background-color: rgba($brand-primary, 0.85);
      color: #fff;
      &:hover {
        background-color: $brand-primary;
      }
    }
    .issue-card__thumb {
      width: 100%;
      height: 0px;
      padding-bottom: 100%;
      background-color: $gray-lightest;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: $border-radius-base/2;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &.loading {
        text-align: center;
        p {
          position: absolute;
          top: 100px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
        }
      }
    }
    .issue-card__title {
      height: 40px;
      font-size: $font-size-base;
      color: $gray-darker;
      display: table;
      table-layout: fixed;
      width: 100%;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      margin: 10px auto;
      &__text-wrapper {
        display: table-cell;
        vertical-align: middle;
      }
      &__text {
        max-height: 50px;
        word-break: keep-all;
        overflow-wrap: break-word;
      }
    }
    .issue-card__body {
      margin-bottom: 10px;
      height: 40px;
      color: $gray;
      text-align: center;
      word-break: keep-all;
      overflow: hidden;
    }
    .issue-card__meta {
      position: static;
      background: none;
      text-align: center;
      color: $gray;
      font-size: $font-size-small;
      span {
        padding: 0 6px;
        & > small {
          position: relative;
          white-space: nowrap;
          right: 2px;
          top: -2px;
          font-size: 75%;
          color: $brand-primary;
          font-weight: bold;
        }
        @media (max-width: $screen-xs-max) {
          padding: 0 2px;
        }
      }
      .comment-count {
        margin: 0;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 10px;
      }
    }
    @media (max-width: $screen-xs-max) {
      min-height: 200px;
      .issue-card__thumb {
        height: 140px;
      }
    }
  }
  .issue-card:nth-child(5n+1), .issue-card:first-child {
    margin-left: 0;
  }
  .issue-card.issue-card--intro {
    cursor: pointer;
    position: relative;
    .issue-card-cover {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #444;
      opacity: .3;
    }
    .issue-card__thumb .issue-card__thumb__btn {
      background-image: asset_url('btn_intro_check_normal.png');
      width: 48px;
      height: 48px;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 80px;
    }
    &:hover {
      @media (min-width: $screen-sm-min) {
        .issue-card-cover {
          display: block;
        }
      }
      .issue-card__thumb .issue-card__thumb__btn {
        background-image: asset_url('btn_intro_check_hover.png');
      }
    }
    &.issue-card--member {
      border: 1px solid $brand-primary-light;
      .issue-card-cover {
        background-color: $brand-primary;
        display: block;
      }
      .issue-card__thumb .issue-card__thumb__btn {
        background-image: asset_url('btn_intro_check_active.png');
      }
    }
  }

}
/* dashboard/intro body */
.app-dashboard-intro{
  background-color:#fff;
}

.parti-member-recommend--header {
  padding: 50px;
  color: $gray;
  background-color: $brand-light;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1029;
  opacity: 0.9;
  word-break: keep-all;

}

.parti-member-recommend--issues {
  padding-top: 230px;
  @media (max-width: $screen-xs-max){
    .col-xs-6:nth-child(2n) {
      padding-right: 15px;
      padding-left: 7.5px;
    }
    .col-xs-6:nth-child(2n+1) {
      padding-left: 15px;
      padding-right: 7.5px;
    }
  }
}

.parti-member-recommend--select-interest {
  padding-top: 230px;
  .parti-member-recommend-title {
    margin-left: 10px;
    word-break: keep-all;
  }
  .issue-tag-list {
    .issue-tag {
      margin: 6px 6px;
      background-color: $brand-primary-light;
      color: $brand-primary;
    }
    .selected-tag {
      background-color: $brand-primary-dark;
      color: #fff;
    }
  }
  @media (max-width: $screen-xs-max){
    padding-top: 190px;
  }
}

.parti-member-recommend--modal {
  color: $gray;
  font-size: 1.3em;
  line-height: 1.7em;
  h2 {
    line-height: 1.5em;
  }
  p {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}
.parti-member-recommend--modal ~ .modal-backdrop.fade.in {
  opacity: 1;
  background-color: #fff;
}

@media (max-width: $screen-xs-max) {
  .parti-member-recommend--header {
    padding: 20px;
  }
  .parti-member-recommend--issues {
    padding-top: 180px;
  }
  .parti-member-recommend--modal {
    h2 {
      font-size: $font-size-large;
    }
    p {
      font-size: $font-size-base;
    }
  }
  .parti-member-recommend--header{
    #btn-continue {
      float: none;
    }
    h2 {
      font-size: $font-size-large;
    }
  }
  .parti-header-section {
    height: auto;
    padding-top: 100px;

    .parti-logo {
      float: none;
      clear: both;
      margin: 0;
      .thumb {
        width: 73px;
        height: 73px;
        border-radius: $border-radius-base;
        margin: 0 auto;
      }
    }
    h2.parti-title {
      font-size: $font-size-h3;
      font-weight: 400;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }
    .parti-body {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      margin-bottom: 5px;
    }
    .parti-buttons {
      margin-top: 5px;
      display: block;
      margin-left: 0;
    }
    .parti-menu {
      background: rgba(0,0,0,0.2);
      width: 100%;
      border-bottom: 4px solid $brand-primary;
      & > .container {
        padding: 0;
      }
      .row {
        border-color: #d2d2d2;
        text-align: center;
        padding: 0;
        margin: 0;
        h5 {
          font-size: $font-size-base;
          font-weight: normal;
          line-height: 24px;
          padding-top: 3px;
          height: auto;
          font-weight: 100;
          a {
            height: auto;
          }
        }
        .count-label {
          position: static;
          display: inline-block;
          padding: 1px 5px 0px;
          font-size: $font-size-small;
          font-weight: 100;
        }
      }
    }
    &--simple {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.aside_issue {
  .aside-issues {
    margin-bottom: 20px;
  }
  .parti-organizers {
    .user-byline {
      font-size: $font-size-large;
      .user-image {
        width: 30px;
        height: 30px;
      }
    }
  }
  .aside-users {
    .user-byline {
      .user-image {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.issue-line {
  width: 100%;
  margin-bottom: 0;
  border: 1px solid transparent;
  padding: 3px 0;
  cursor: pointer;
  .media {
    margin-top: 0;
    display: table;
  }
  a {
    overflow: auto;
    padding: 0 !important;
    &:hover .issue-card__title {
      color: $brand-primary;
    }
  }
  .btn-xs.btn-join {
    font-size: 10px;
    height: 1.5em;
    vertical-align: text-top;
    padding: 1px 3px 0 !important;
    line-height: 15px;
  }
  .btn-join-sign {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 15px;
  }
  &__thumb {
    width: 20px;
    height: 20px;
    border-radius: $border-radius-base;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    display: inline-block;
    float: left;
    margin-right: 5px;
  }
  .issue-line-body-wraper {
    word-break: keep-all;
    word-wrap: break-word;
    .after-block {
      font-size: $font-size-small;
      position: relative;
      .join-button {
        display: inline-block;
        width: 60px;
        height: 1em;
      }
    }
  }
  &__title {
    color: $gray;
    font-size: $font-size-base;
    margin-right: 5px;
    &:hover {
      color: $brand-primary;
    }
  }
  &__meta {
    color: $brand-primary;
    font-size: $font-size-small;
    font-weight: bold;
    .users-count,
    .posts-count,
    .comments-count {
      display: inline-block;
      white-space: nowrap;
    }
  }
  &__btn {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    margin-top: 15px;
    display: block;
    a {
      color: $gray-light;
      border: 1px solid #d2d2d2;
    }
    &:hover, &:focus {
      a {
        color: #fff;
        background: #555;
      }
    }
  }
}

section#issue-bottom-banner {
  .bottom-banner {
    width: 100%;
    border-top: 1px solid $brand-primary-dark;

    @media (min-width: $screen-sm-min) {
      text-align: center;
    }
    padding: 10px 0;
    background-color: $brand-primary;

    .description {
      position: relative;
      color: #fff;
      font-size: 1.2em;
      font-weight: 200;
      padding: 5px;
      @media (min-width: $screen-sm-min) {
        font-size: $font-size-large;
        font-weight: 100;
      }
    }
    .bottom-banner-btn {
      @media (max-width: $screen-xs-max) {
        margin-top: 10px
      }
      @include btn-push($brand-primary-dark, #ffde00, $brand-primary-dark, #ffde00);
      margin-left: 15px;
      border-radius: 8px;
      font-weight: bold;
      color: $brand-primary-dark;
      background-color: #ffde00;
      &:hover, &:active, &:focus {
        background-color: #ffde00;
      }
    }
  }
}

section#parti-organizing {
  padding-top: 80px;
  padding-bottom: 40px;

  .key-visual {
    width: 100%;
  }
  h1 {
    color: $brand-primary;
    margin-bottom: 30px;
    line-height: 42px;
  }
  .description {
    color: $gray;
  }
  .parti-guide {
    vertical-align: bottom;
    color: $gray;
    text-decoration: underline;
  }
  .btn-start-organizing {
    margin-top: 24px;
  }
  .accordion-heading a.accordion-toggle {
    display: inline-block;
  }
  .parti-organizesubmit {
    text-align: center;
    margin-bottom: 4px;
  }
  #parti-organizemodal {

    .panel-heading .accordion-toggle:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }
    .panel-heading .accordion-toggle.collapsed:after {
        content: "\e080";
    }
    .modal-dialog {
      width: 70%;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
    .modal-title {
      color: $brand-primary;
    }
    .modal-body {
      .help-block {
        margin-left: 10px;
        margin-right: 10px;
      }
      .panel-collapse {
        line-height: 24px;
        .panel-body {
          padding: 10px 32px;
        }
      }
      .panel-title {
        p {
          display: inline-block;
          margin-bottom: 0;
          @media (max-width: $screen-xs-max) {
            width: 86%;
            vertical-align: text-top;
          }
        }
      }
    }
    .fa-check-square-o {
      font-size: 40px;
      color: $brand-primary;
    }
    .parti-mail a {
      color: $brand-danger;
    }
  }
}
/* 고급설정 접었다 펼치기 */
body.app-issues-new, .bs-component{
  .advanced-option{
    margin:20px 0px;
  }
  .toggle-option{
    display:inline-block;
    width:80px;
    padding: 6px;
    border: 1px solid $gray-light;
    margin-bottom: 12px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    background-color: $gray-light;
    border-radius: $border-radius-base;
  }
}
.slick-arrow{
  width: 1em;
  height: 1em;
  font-size: 50px !important;
  color: lightgray;
  position: absolute;
  top: 35%;
  cursor: pointer;
  z-index: 99;

  .fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: initial;
  }
}
.slick-custom-prev{
  left: -10px;
  @media (max-width: $screen-xs-max){
    left: -5px;
  }
}
.slick-custom-next{
  right: -5px;
  @media (max-width: $screen-xs-max){
    right: -5px;
  }
}

section#landing-page{
  h4.group-heading{
    margin: 20px 0px;
  }
  .post-card{
    &__header{
      height: 55px;
      margin: 10px 0px;
      border-top: 1px solid #eeeeee;
      border-bottom: 0px;
    }
  }
  section#landing-header{
    background-color: #7b5fa8;
    padding: 100px 0px;
    h1{
      color: white;
      line-height: 50px;
      font-weight: 500;
      small{
        color: white;
        font-weight: 100;
      }
    }
  }
  .recent-post-card{
    border-radius: 0px;
    margin-bottom: 30px;
    .post-card{
      &__post{
        padding: 0px;
        .truncated-body{
          height: 100px;
          overflow: hidden;
        }
      }
    }
    .post-parsed-body{
      padding: 20px;
    }
    .post-reference-line{
      &__file-content--image{
        border: 0px;
        height: 200px;
      }
    }
  }
  .landing-discussion-card{
    border-radius: 0px;
    height: 232px;
    margin-bottom: 30px;
    @media (max-width: $screen-xs-max) {
      height: 100%
    }
    .post-card{
      &__header{
        padding: 0px;
        border-bottom: 0px;
        margin-bottom: 10px;
      }
      &__content, &__post{
        height: 100%;
        .voting-area{
          padding: 25px 0px;
          text-align: center;
        }
      }
    }
    .option .body{
      margin-left: 15px;
    }
  }
  section#banner{
    background: #75a6d8; /* Old browsers */
    background: -moz-linear-gradient(left, #2cb09c 0%, #877fba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2cb09c 0% ,#877fba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2cb09c 0%, #877fba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cb09c', endColorstr='#877fba',GradientType=1 ); /* IE6-9 */
    color: white;
    padding: 50px 0px;
    h3{
      line-height: 33px;
    }
    a{
      color: white;
      &:hover{
        color: $brand-primary-light;
      }
    }
    .tip-title{
      text-align: center;
      font-size: 18px;
      i{
        font-size: 36px;
        margin: 15px;
      }
    }
    margin: 20px 0px;
    button{
      border-radius: 0px;
      padding: 10px 20px;
      border: 0px;
      margin: 5px;
      font-size: 16px;
    }
    #join-btn{
      color: $brand-primary;
      &:hover{
        font-weight: bold;
      }
    }
  }
  section#wikis{
    .landing-wiki-card{
      background-color: white;
      height: 330px;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 30px;
      }
      .wiki-content{
        padding: 10px;
        overflow: hidden;
        height: 180px;
        font-size: 14px;
        background-color: #eeeeee;
        margin: 20px;
        border-radius: 5px;
      }
    }
  }

  section#footer{
    height: 60px;
    padding-top: 10px;
    @media (max-width: $screen-xs-max) {
      height: 100px;
    }
    li a{
      color: dimgray;
      &:hover{
        color: black;
      }
    }
  }
}
