section#issues {
  padding-top: 20px;
  h3.title {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.issue-header-actions {
  i {
    font-size: 18px;
  }
}

.issue {
  &__title {
    &--label a {
      color: #fff;
      font-size: $font-size-small;
      font-weight: normal;
      padding: 5px 8px;
      border-radius: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    &--article a {
      background-color: $brand-info;
    }
    &--opinion a {
      background-color: $brand-danger;
    }
  }

  &__logo {
    width: 100%;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
}

.parti-header-section {
  position: relative;
  background-color: $brand-primary-darker;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 420px;
  padding: 40px 0;

  .parti-logo {
    float: left;
    margin-right: 30px;
    .thumb {
      width: 210px;
      height: 210px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;
    }
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 1);
  }
  .parti-body {
    text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 1);
  }
  .parti-watch .btn {
    min-width: 85px;
  }
  .parti-info {
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 10, 20, .5);
    padding: 20px 0;

    .parti-makers {
      line-height: 34px;
      img {
        width: 30px;
        height: 30px;
      }

    }
    .parti-makers-label {
      font-size: $font-size-small;
      margin-right: 10px;
    }
    .parti-maker-icons {
      margin-right: 10px;
    }
    .share-box {
      float: right !important;
    }
  }
  .parti-menu {
    position: absolute;
    bottom: 0;
    background: $gray-dark;
    width: 100%;
    height: 60px;
    border-top: 1px solid $gray;
    border-bottom: 4px solid $brand-primary;
    .row {
      border-color: #d2d2d2;
      text-align: center;
      padding: 0;
      margin: 0;
      .col-xs-3 {
        position: relative;
        padding: 0;
        a {
          display: block;
          color: $gray-light;
          border: none;
          border-right: 1px solid $gray;
          width: 100%;
          height: 55px;
          &:hover {
            background-color: $gray-darker;;
          }
          .text-primary {
            color: #be97ff;
          }
        }
        &:last-child > a {
          border: none;
        }
        &.active > a {
          color: #fff;
          background: $brand-primary;
        }
        h4 {
          line-height: 55px;
          margin: 0;
        }
      }
      .count {
        min-width: 23px;
        background: #232326;
        color: #fff;
        position: absolute;
        padding: 1px 8px 0px;
        left: 50%;
        top: 10px;
        margin-left: 13px;
        text-align: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        white-space: nowrap;
      }
    }
  }
}

.issue-header-section {
  height: 305px;
  .issue-info-wrapper {
    padding-top: 25px;
  }
  .issue-logo {
    float: left;
  }
  .issue-info {
    width: 765px;
    float: left;
    padding-left: 25px;
    position: relative;
    .btn {
      position: absolute;
      right: 0;
      top: -15px;
      font-size: 14px;
      padding: 15px;
      border-radius: 5px;
    }
    .btn-default {
      background: transparent;
      color: #c0c0c2;
    }
  }
  .issue-title {
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
  }
  .issue-count {
    border-top: 1px solid #3d3557;
    border-bottom: 1px solid #3d3557;
    padding: 15px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    .comment-count, .user-count {
      a {
        color: #fff;
        font-size: 18px;
        .label {
          color: #d2d2d2;
          font-size: 13px;
          display: inline-block;
          vertical-align: top;
          padding-top: 6px;
        }
      }
    }
    .user-count {
      .label {
        border: 1px solid $brand-primary;
        margin-left: 40px;
        padding: 5px 10px;
        margin-top: -2px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
      }
    }
  }
  .issue-body p {
    width: 100%;
    height: 43px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.5em;
    word-break: break-all;
    margin-bottom: 20px;
  }
}
.issue-header-txt {
  text-align: center;
  padding-top: 40px;
  h3 {
    line-height: 1.4em;
    color: #c6a3ff;
  }
  h4 {
    line-height: 1.4em;
  }
}
#btn-continue {
  background-color: $brand-primary;
  padding: 13px 18px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 25px;
  margin-right: 25px;
  color: #fff;
  float: right;

  &.disabled {
    opacity: 0.2;
  }
}

.issue-card-wrapper {
  .issue-card {
    width: 100%;
    min-height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $brand-primary-light;
    }
    border-radius: $border-radius-base;
    -webkit-border-radius: $border-radius-base;
    -moz-border-radius: $border-radius-base;
    margin: 5px 0;

    .issue-card__thumb {
      width: 100%;
      height: 200px;
      border: 1px solid $gray-light;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: $border-radius-base;
      -webkit-border-radius: $border-radius-base;
      -moz-border-radius: $border-radius-base;
    }
    .issue-card__title {
      height: 50px;
      font-size: $font-size-large;
      color: $gray-darker;
      display: table;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      margin: 10px auto;
      &__text-wrapper {
        display: table-cell;
        vertical-align: middle;
      }
      &__text {
        max-height: 50px;
      }
    }
    .issue-card__body {
      margin-bottom: 10px;
      height: 40px;
      color: $gray;
      text-align: center;
      word-break: keep-all;
    }
    .issue-card__meta {
      position: static;
      background: none;
      text-align: center;
      color: $gray-dark;
      span {
        padding: 0 10px;
      }
      .comment-count {
        margin: 0;
      }
    }
    @media (max-width: 768px) {
      min-height: 200px;
      .issue-card__thumb {
        height: 140px;
      }
    }
  }
  .issue-card:nth-child(5n+1), .issue-card:first-child {
    margin-left: 0;
  }
  .issue-card.issue-card--intro {
    cursor: pointer;
    .issue-card__title {
      height: initial;
      margin: 30px auto;
    }
    .issue-card__body {
      color: $gray;
      padding: 0 10px;
      height: 110px;
      overflow: hidden;
    }
    .issue-card__thumb {
      padding: 28px;
      .issue-card__thumb__btn {
        width: 48px;
        height: 48px;
        background-image: asset_url('btn_intro_check_normal.png');
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .issue-card-base {
      position:relative;
      height: 340px;
    }
    .issue-card-cover {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #444;
      opacity: .3;
    }
    &:hover {
      .issue-card-cover {
        display: block;
      }
      .issue-card__thumb .issue-card__thumb__btn {
        background-image: asset_url('btn_intro_check_hover.png');
      }
    }
    &.issue-card--watched {
      .issue-card-cover {
        background-color: $brand-primary;
        display: block;
      }
      .issue-card__thumb .issue-card__thumb__btn {
        background-image: asset_url('btn_intro_check_active.png');
      }
    }
  }

}
.issue-list--6 {
  .issue-card {
    width: 15%;
    margin-left: 2%;
  }
  .issue-card:nth-child(5n+1) {
    margin-left: 2%;
  }
  .issue-card:nth-child(6n+1) {
    margin-left: 0;
  }
}

.parti-watch-recommend--header {
  padding: 50px;
  color: $gray;
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0.9;
}

.parti-watch-recommend--issues {
  padding-top: 230px;
}

.parti-watch-recommend--modal {
  color: $gray-lighter;
  font-size: 1.3em;
  line-height: 1.7em;
  h2 {
    line-height: 1.5em;
  }
  p {
    padding-top: 15px;
    padding-bottom: 25px;
  }
}
.parti-watch-recommend--modal ~ .modal-backdrop.fade.in {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .parti-watch-recommend--header {
    padding: 20px;
  }
  .parti-watch-recommend--issues {
    padding-top: 150px;
  }
  .parti-watch-recommend--modal {
    h2 {
      font-size: $font-size-large;
    }
    p {
      font-size: $font-size-base;
    }
  }
  .parti-watch-recommend--header{
    #btn-continue {
      float: none;
    }
    h2 {
      display: none;
    }
  }
  .parti-header-section {
    height: auto;
    padding-top: 20px;
    padding-bottom: 0;

    .parti-logo {
      float: none;
      clear: both;
      margin: 0;
      .thumb {
        width: 75px;
        height: 75px;
        border-radius: 4px;
        margin: 0 auto;
      }
    }
    h2 {
      font-size: $font-size-h3;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 1);
    }
    .parti-body {
      position: relative;
      text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 1);
      margin-bottom: 10px;
      text-align: center;
    }
    .parti-watch {
      margin-top: 10px;
    }
    .parti-info {
      position: static;
      background-color: transparent;
      .share-box {
        display: none;
      }
    }
    .parti-menu {
      position: static;
      background: $gray-dark;
      width: 100%;
      height: 60px;
      border-top: 1px solid $gray;
      border-bottom: 4px solid $brand-primary;
      .row {
        border-color: #d2d2d2;
        text-align: center;
        padding: 0;
        margin: 0;
        .col-sm-2 {
          .count-label {
            position: static;
            display: inline-block;
            padding: 1px 5px 0px;
            font-size: $font-size-small;
          }
          h4 {
            font-size: $font-size-base;
            font-weight: bold;
            line-height: 24px;
            padding-top: 3px;
          }
        }
      }
    }
  }
}

.aside_issue {
  .aside-issues {
    margin-bottom: 40px;
  }
  .issue-line {
    width: 100%;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid $gray-light;
    padding: 10px;
    a {
      overflow: auto;
      display: block;
      &:hover .issue-card__title {
        color: $brand-primary;
      }
    }
    &__thumb {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    &__title {
      color: $gray;
      font-size: $font-size-base;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 4px;
    }
    &__meta {
      color: $gray;
      font-size: $font-size-base;
      .user-count {
        margin-right: 10px;
      }
      i {
        font-size: $font-size-large;
      }
    }
    &__btn {
      width: 100%;
      height: 30px;
      text-align: center;
      font-size: 12px;
      line-height: 30px;
      margin-top: 15px;
      display: block;
      a {
        color: #777;
        border: 1px solid #d2d2d2;
      }
      &:hover, &:focus {
        a {
          color: #fff;
          background: #555;
        }
      }
    }
    &:hover {
      @include hover-shadow();
      border-top: 1px solid #fff !important;
      background-color: #fff;
    }
  }
}
