/* message 알림 */
.message {
  cursor: pointer;
  background-color: #fff;
  border-bottom:1px solid $gray-lighter;
  margin-top: 0;
  padding: 12px;
  &__link {
    display: inline-block;
    float: left;
    .profile {
      margin-right: 5px;
      float: left;
    }
    .nickname {
      height: 30px;;
      line-height: 30px;
      float: left;
      color: $brand-primary;
      font-weight: bold;
    }
  }
  &__parti {
    color: $gray;
    display: inline;
    a {
      color: $gray;
      &:hover{
        color: $link-hover-color;
      }
    }
  }
  &__date.date-wrapper {
    color: $gray;
    font-size: $font-size-base;
    display: inline-block;
  }
}
