.modal-dialog {
  margin: 10% auto;
}
.post__partial-content {
  padding: 0;
}

.modal__top {
  border-bottom: 1px solid #d2d2d2;
  padding: 20px;
  position: relative;
  font-size: 18px;
  .modal__btn {
    width: 70px;
    height: 70px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #d2d2d2;
    opacity: 1;
  }
}

.modal__content {
  padding: 40px;
  position: relative;
  h2 {
    font-weight: bold;
    color: #222;
    line-height: 1.4em;
    margin: 0;
    word-break: break-all;
  }
}

.modal__comment {
  background: #f5f5f9;
  border-top: 1px solid #d2d2d2;
  padding: 40px;
  .btn-new-comment {
    position: relative;
    padding: 10px 20px;
  }
  .comments--count {
    padding: 2px 8px;
    background: #222;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: -10px;
    left: 90px;
    border-radius: 10px;
  }
  .fa-heart {
    color: $brand-primary;
  }
  .fa-heart-o {
    color: #aaaaaf;
  }
}

.comment-list {
  margin-top: 10px;
}
.comment-list li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 0;
  border: none !important;
  &:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.post-inline__issue-label {
  .text-primary img {
    margin-left: 15px;
    margin-top: -5px;
  }
  .circle-25 {
    width: 25px !important;
    height: 25px !important;
  }
}


.post__body {
  margin-top: 20px;
  margin-bottom: 20px;
  .media {
    border: 1px solid #bfa5eb;
    margin-top: 40px;
  }
}
.article__body__img-container.article__body__img-container--lg {
  text-align: center;
  max-height: 450px;
  overflow: hidden;
  img {
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
  }
}

.article__body__img-container {
  text-align: center;
  img {
    width: auto;
    margin-top: 20px;
  }
}
.article__body__text-container {
  padding: 25px;
  color: #777777;
}
.article__body__link-container {
  background: #fafafb;
  border: 1px solid #f1f1f1;
  padding: 10px 20px;
}

.comment-form {
  margin-top: 20px;
  &__img {
    float: left;
    margin-top: 5px;
  }
  &__area {
    width: 80%;
    position: relative;
    float: left;
    img {
      position: absolute;
      top: 20px;
      left: 12px;
    }
    .form-control {
      width: 100%;
      height: 60px;
      border: 1px solid #966fd6;
      margin-left: 30px;
      display: inline-block;
    }
  }
  &__btn {
    float: right;
    padding: 19px 30px !important;
  }
}

.post__meta {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 15px;
  a {
    border: 1px solid #777;
    padding: 5px 9px;
    color: #777;
    font-size: 14px;
  }
}

.vote__tab {
  margin-bottom: 20px;
  .nav-tabs {
    text-align: center;
    border-color: #d2d2d2;
    li {
      float: none;
      display: inline-block;
      margin: 0 20px;
      &.active a , &:hover a, &:focus a, &:visited a {
        color: $brand-primary;
        background: transparent;
        border: none;
        border-bottom: 2px solid #966fd6;
      }
      a {
        font-size: 18px;
        border: none;
        padding: 10px 5px;
        color: #777;
        position: relative;
      .comments--count {
        top: 0px;
        left: 73px;
        }
      }
    }
  }
}
.opinion__body {
  .opinion__title {
    margin-bottom: 40px;
    &:hover {
      text-decoration: none;
    }
  }
  .vote__results {
    .col-xs-6 {
      padding: 0 3px;
    }
  }
}
.edit_article, .edit_talk {
 .form-group .btn-lg {
    padding: 6px 12px;
    font-size: 14px;
  }
}
.voters {
  .text-nowrap {
    display: inline-block;
    margin-bottom: 5px;
  }
}
