.modal-dialog {
  margin: 50px auto;
  width: 755px;
}

.article__body__img-container.article__body__img-container--lg {
  text-align: center;
  max-height: 450px;
  overflow: hidden;
  img {
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
  }
}

.article__body__img-container {
  text-align: center;
  img {
    width: auto;
    margin-top: 20px;
  }
}

.vote__tab {
  margin-bottom: 20px;
  .nav-tabs {
    text-align: center;
    border-color: #d2d2d2;
    li {
      float: none;
      display: inline-block;
      margin: 0 20px;
      &.active a , &:hover a, &:focus a, &:visited a {
        color: $brand-primary;
        background: transparent;
        border: none;
        border-bottom: 2px solid #966fd6;
      }
      a {
        font-size: 18px;
        border: none;
        padding: 10px 5px;
        color: #777;
        position: relative;
      .comments--count {
        top: 0px;
        left: 73px;
        }
      }
    }
  }
}

.edit_article, .edit_talk {
 .form-group .btn-lg {
    padding: 6px 12px;
    font-size: 14px;
  }
}
.voters {
  .text-nowrap {
    display: inline-block;
    margin-bottom: 5px;
  }
}

