.modal-dialog {
  margin: 50px auto;
  width: 755px;
}

.article__body__img-container.article__body__img-container--lg {
  text-align: center;
  max-height: 450px;
  overflow: hidden;
  img {
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
  }
}

.article__body__img-container {
  text-align: center;
  img {
    width: auto;
    margin-top: 20px;
  }
}

.edit_article, .edit_talk {
 .form-group .btn-lg {
    padding: 6px 12px;
    font-size: 14px;
  }
}
.voters {
  .text-nowrap {
    display: inline-block;
    margin-bottom: 5px;
  }
}

