/////////////////////////////////////////////
// renewal style
//

#site-header {
  $site-header-brand-image-width: 60px;
  $site-header-brand-image-width-xs: 60px;

  &.main-site-header {
    .navbar-brand {
      position: relative;
      top: -4px;
    }
  }
  // brand
  .navbar-header {
    float: left;
    .navbar-brand {
      img {
        width: $site-header-brand-image-width;
      }
      @media (max-width: $screen-xs-max) {
        img {
          width: $site-header-brand-image-width-xs;
          margin: 0 auto;
        }
      }
    }
    &.navbar-header-center {
      position: relative;
      width: 100%;
      margin-right: 0;
      margin-left: 0;

      .navbar-brand {
        position: absolute;
        left: 50%;
        padding-left: 0;
        line-height: 27px;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        @media (min-width: $screen-sm-max) {
          top: -4px;
        }
      }
    }
  }
  li.brand-dashbord a {
    img {
      width: $site-header-brand-image-width;
    }
  }

  // base menu styles
  .navbar-nav > li > a {
    padding-left:8px;
    padding-right:8px;
    &.active, &:hover {
      color: $brand-primary;
      font-weight: 400;
    }
  }

  // menu group positions
  .nav.navbar-nav {
    &.navbar-left {
      margin-left: -8px;
      float: left;
    }
    &.navbar-right {
      margin-right: -8px;
    }
    &.navbar-right-xs {
      @media (max-width: $screen-xs-max) {
        float: right;
        & > li {
          float: left;
        }
      }
    }
    & > li > a.btn-drawer-menu img {
      height: 20px;
    }
  }

  // dropdown styles
  .nav.navbar-nav {
    & > li.dropdown {
      & > ul.dropdown-menu {
        & > li {
          &.issue-line,
          &.dropdown-header,
          &.dropdown-filter {
            padding: 3px 20px;
            border-color: transparent;
          }
          &.dropdown-header {
            padding-top: 12px;
          }
        }
      }
      &.member-parties {
        & > ul.dropdown-menu {
          min-width: 300px;
        }
      }
      &.general-parties {
        & > ul.dropdown-menu {
          min-width: 240px;
          max-height: 400px;
          overflow: hidden;
          overflow-y: auto;
        }
      }
    }
  }

  // collapse styles
  .collapse-toggle {
    &:not(.collapsed) .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      border-top: none;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
  .collapse-parties {
    position: absolute;
    top: 56px;
    right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    width: 100%;
    background-color: $gray-lightest;
    border-bottom: 1px solid $gray-lighter;
    & > .nav.navbar-nav {
      & > .issue-line > .media {
        padding: 3px 20px;
        padding-left: 25px;
      }
      & > .parti-tag-line > a {
        padding: 5px 20px;
        padding-left: 25px;
        color: $gray;
      }
    }
  }

  // messages bell button

  .notification {
    .icon-bell-stack{
      position: relative;
      display: inline-block;
      width: 24px;
      vertical-align: top;
      color: $brand-primary;
      .fa-circle {
        font-size: 26px;
      }
    }
    .label.label-danger {
      position: relative;
      display: inline-block;
      height: 12px;
      vertical-align: text-top;
    }
    &.dropdown .dropdown-menu {
      width: 420px;
      max-height: 450px;
      padding-bottom: 0;
      padding-top: 0;
      overflow-y: scroll;
      .message {
        margin-bottom: 0;
        &:hover {
          background-color: $gray-lighter;
        }
      }
      .show-all {
        padding: 12px;
        background-color: $dropdown-link-hover-bg;
        &:hover,
        a:hover,
        a:focus {
          background-color: $gray-lighter;
        }
        a {
          padding: 0;
        }
      }
    }
  }

  body.in-group & nav .navbar-header-center .navbar-brand,
  body.in-group & nav > li > a:hover,
  body.in-group & nav > li > a {
    color: white;
  }

  body.in-group & nav .navbar-nav {
    > li.member-parties .dropdown-toggle:hover,
    > li.parti-tags .dropdown-toggle:hover,
    > li.all-posts .dropdown-toggle:hover {
      color: white;
    }
  }

  .drawer-list {
    box-shadow:0px 0px 15px dimgray;
    padding-bottom: 100px;
    width: 260px;
    background: #fff;
    border-right: 1px solid $gray-lighter;
    border-left: 1px solid #ddc8ff;
    position: fixed;
    left: -260px;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    overflow: scroll;
    @media(min-width:$screen-xs-max){
      margin-top:51px;
    }
    &__profile {
      width: 100%;
      background-color: #271e44;
      text-align: center;
      padding: 10px 0;
      .user-image, .default-profile {
        width: 60px;
        height: 60px;
        display: block;
        margin: 10px auto;
      }
      .default-profile{
        width:100px !important;
        padding-left:40px;
      }
      .text-nowrap {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
      }
      .btn-new-user {
        color: $gray;
        background-color: #fff;
        font-size: 14px;
        padding: 10px 15px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        display: inline-block;
        margin-top: 10px;
      }
    }
    &__messages {
      font-size: 24px;
      i.icon-dot-corner {
        color: #f0646d;
        font-size: 35px;
        top: 3px;
        left: -1px;
      }
    }
    &__menu {
      padding-top: 5px;
      li {
        padding-left: 20px;
        &.divider {
          border-bottom: 1px solid $brand-primary-light;
          &.large {
            margin-top: 15px;
          }
        }
        a {
          color: $gray-dark;
          padding: 5px 0;
          display: block;
        }
        .action-link{
          color: $brand-primary;
          font-weight:bold;
        }
        &.home-line {
          border-bottom: none;
          margin-top: 15px;
          a {
            padding: 0;
          }
        }
        &.issue-line {
          margin: 7px 0;
          border-bottom: none;
        }
        &.group-line,
        &.category-line {
          padding-top: 15px;
          border-bottom: none;
          border-top: 1px solid $gray-lightest;
          margin-top: 15px;
          &:first-child {
            margin-top: 0;
            border: none;
          }
        }
        &.category-line {
          color: $gray-light;
          border-top: 1px dotted #f3f3f7;
        }
      }
    }
    &__yellow {
      padding: 10px 20px;
      img {
        width: 100px;
        height: auto;
      }
    }
    &__licence {
      padding: 10px 40px;
    }
    &__close {
      font-size:24px;
      float:right;
      padding: 10px;
      cursor: pointer;
      background-color: #271e44;
    }
  }
}

