$side-menu-width: 256px;

#site-header {
  $site-header-brand-image-width: 60px;
  $site-header-brand-image-width-xs: 60px;

  @media (max-width: $screen-xs-max) {
    height: $header-menu-height-mobile;
  }

  body.view-with-ios-virtual-keyboard & {
    position: static;
    margin-bottom: 0;
  }

  &.root-site-header {
    .navbar-brand {
      position: relative;
      top: -4px;
    }
  }
  // brand
  .navbar-header {
    float: left;
    .navbar-brand {
      img {
        width: $site-header-brand-image-width;
      }
      @media (max-width: $screen-xs-max) {
        img {
          width: $site-header-brand-image-width-xs;
          margin: 0 auto;
        }
        body.light-theme &,
        body.light-theme & a {
          color: $gray-dark;
        }
        body.dark-theme &,
        body.dark-theme & a {
          color: white;
        }

        a {
          color: white;
          overflow: hidden;
          max-width: 100px;
          text-overflow: ellipsis;
          display: inline-block;
          text-align: center;
        }
      }
    }
    &.navbar-header-center {
      position: relative;
      width: 100%;
      margin-right: 0;
      margin-left: 0;

      .navbar-brand {
        position: absolute;
        left: 50%;
        padding-left: 0;
        line-height: 27px;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        &.navbar-brand-mobile {
          overflow: visible;
        }
        @media (min-width: $screen-sm-min) {
          top: -4px;
        }
        body.light-theme.in-indie & {
          color: $brand-primary;
        }
        .navbar-header-title {
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          max-width: 130px;
          overflow: hidden;
        }
      }
    }
  }
  li.brand-dashbord a {
    img {
      width: $site-header-brand-image-width;
    }
  }

  // base menu styles
  .navbar-nav > li > a {
    padding-left:8px;
    padding-right:8px;
    &.active, &:hover {
      color: $brand-primary;
      font-weight: 400;
    }
  }

  // menu group positions
  .nav.navbar-nav {
    &.navbar-left {
      margin-left: -8px;
      float: left;
    }
    &.navbar-right {
      margin-right: -8px;
    }
    &.navbar-right-xs {
      @media (max-width: $screen-xs-max) {
        float: right;
        & > li {
          float: left;
        }
      }
    }
    & > li > a.btn-header {
      color: $brand-primary;
      body.in-group.dark-theme & {
        color: white;
      }
      body.in-group.light-theme & {
        color: $gray-dark;
      }
      img {
        height: 20px;
      }
    }
  }

  // collapse styles
  .collapse-toggle {
    &:not(.collapsed) .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      border-top: none;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }

  // sign in
  .sign-up {
    @media (max-width: $screen-xs-max) {
      a {
        font-size: $font-size-base;
      }
      body.dark-theme & a {
        color: white;
      }
      body.light-theme & a {
        color: $gray-dark;
      }
    }
  }

  // history-back
  .history-back {
    position: absolute;
    left: -1em;
    overflow: visible;

    > i {
      font-size:  26px;
    }

    @media (max-width: $screen-xs-max) {
      body.dark-theme & i {
        color: white;
      }
      body.light-theme & i {
        color: $gray-dark;
      }
    }
  }

  // search
  .search-menu {
    > form {
      padding-top: 8px;
      .form-group-q {
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        .form-control-q {
          padding-right: 50px;
        }
        .btn-wrapper {
          position: absolute;
          top: 0;
          right: 8px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      > a {
        font-size: 20px;
        body.dark-theme & {
          color: white;
        }
        body.light-theme &{
          color: $brand-primary;
        }
      }

    }
  }

  // messages bell button

  .notification-setting,
  .notification-menu {
    @media (max-width: $screen-xs-max) {
      > a {
        font-size: 20px;
      }
      body.dark-theme & > a {
        color: white;
      }
      body.light-theme & > a {
        color: $gray-dark;
      }
    }
  }

  .nav > li.my-menu > a,
  .nav > .my-home-menu > a,
  .nav > .notification-menu > a {
    body.light-theme.in-group & {
      color: $gray-dark;
    }
    body.dark-theme.in-group & {
      color: white;
    }
  }

  .notification-menu {
    .icon-bell-stack{
      position: relative;
      display: inline-block;
      width: 24px;
      vertical-align: top;
      .fa-circle {
        font-size: 26px;
      }
    }
    .label.label-danger {
      position: relative;
      display: inline-block;
      height: 12px;
      vertical-align: text-top;
    }
    .active-bell {
      color: $brand-primary;
      body.light-theme.in-group & {
        color: $gray-dark;
      }
      body.dark-theme.in-group & {
        color: white;
      }
    }
    &.dropdown > .dropdown-menu {
      width: 420px;
      max-height: 450px;
      padding-bottom: 0;
      padding-top: 0;
      overflow-y: scroll;
      .message {
        margin-bottom: 0;
        &:hover {
          background-color: $gray-lighter;
        }
        &.unread {
          background-color: $brand-primary-lighter;
          &:hover {
            background-color: $brand-primary-light;
          }
        }
      }
      .show-all {
        padding: 12px;
        background-color: $dropdown-link-hover-bg;
        &:hover,
        a:hover,
        a:focus {
          background-color: $gray-lighter;
        }
        a {
          padding: 0;
        }
      }
      .loading {
        color: $gray;
        padding: 12px;
        background-color: $dropdown-link-hover-bg;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .notification-setting {
      position: relative;
      .notification-setting-dropdown-menu {
        position: absolute;
        background-color: white;
        border: 1px solid $gray-light;
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        min-width: 200px;
      }
    }
  }

  .profile-menu {
    a.dropdown-toggle {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

  body.in-group & > li > a:hover,
  body.in-group & > li > a {
    color: white;
  }

  body.in-group & .navbar-nav {
    > li.member-parties .dropdown-toggle:hover,
    > li.parti-tags .dropdown-toggle:hover,
    > li.all-posts .dropdown-toggle:hover {
      color: white;
    }
  }

  // mobile right menus
  @media (max-width: $screen-xs-max) {
    .nav.navbar-right {
      float: right;
      & > li {
        float: left;
      }
    }
  }
}

.check-real-email {
  color: white;
  background-color: $brand-primary;
  position: fixed;
  z-index: $zindex-check-real-email;
  padding: 30px;
  border-radius: $border-radius-base;
  top: 60px;
  right: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

// drawer

$drawer-default-space: 6px;
$drawer-default-space-mobile: 12px;

.drawer-list {
  &:not(.slideout-menu) {
    display: none;
  }
  width: 100%;
  display: block;
  box-shadow:0px 0px 15px dimgray;
  padding-bottom: 100px;
  background: #fff;
  border-right: 1px solid $gray-lighter;
  &__profile {
    width: 100%;
    background-color: $brand-primary;
    text-align: center;
    padding: 10px 0;
    .user-byline {
      height: auto;
    }
    .user-byline .user-image, .default-profile {
      width: 60px;
      height: 60px;
      display: block;
      margin: 10px auto;
      display: inline-block;
    }
    .nickname {
      color: white;
    }
    .text-nowrap {
      font-size: 18px;
      color: #fff;
      font-weight: bold;
    }
    .btn-new-user {
      color: $gray;
      background-color: #fff;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      display: inline-block;
      margin: 20px 0;
    }
  }
  &__messages {
    font-size: $font-size-xlarge;
    i.icon-dot-corner {
      color: #f0646d;
      font-size: 35px;
      top: 3px;
      left: -1px;
    }
  }
  &__menu {
    li {
      padding-left: 18px;
      a {
        color: $gray-dark;
        padding: 0;
      }
      .action-link{
        color: $brand-primary;
        font-weight:bold;
      }
      &.issue-line,
      &.group-line,
      &.menu-line {
        margin: 0;
        padding: $drawer-default-space/2 18px;
        @media (max-width: $screen-xs-max) {
          padding: $drawer-default-space-mobile/2 18px;
        }
      }
      &.menu-line {
        > a:not(.action-link) {
          padding: 0;
          color: $gray;
        }
        > a.active {
          color: $brand-primary;
        }
        > a.user-byline-no-image {
          line-height: 2em;
        }
        &.large-menu-line {
          margin-top: 24px;
        }
      }
      &.issue-line,
      &.group-line {
        a {
          color: $gray;
        }
        a:hover {
          color: $gray;
        }
      }
      .issue-line {
        .issue-line__title {
          margin-right: 0;
        }
        > .media > .media-left {
          padding-right: 0;
        }
      }
      &.group-issues-line {
        margin: 0;
        padding: $drawer-default-space 0;
        @media (max-width: $screen-xs-max) {
          padding: 0;
        }
        &:first-child {
          margin-top: 0;
        }
        .group-parties-section-title {
          word-break: keep-all;
          .group-title {
            color: $brand-primary;
            font-weight: 600;
          }
          color: $gray;
          &:hover {
            color: $gray-dark;
          }
        }
        .group-parties-section-title-wrapper {
          .parties-count,
          .posts-count {
            color: $brand-primary-dark;
            font-size: $font-size-small;
            white-space: nowrap;
          }
        }
        > .title {
          padding: $drawer-default-space/2 18px;
          @media (max-width: $screen-xs-max) {
            padding: $drawer-default-space-mobile/2 18px;
          }
          &:hover {
            background-color: $gray-lightest;
          }

          &.title-category {
            font-size: 12px;
            margin-top: 4px;
          }
        }
        .sub {
          margin-top: 0;
          .issue-more,
          .issue-less,
          .issue-line {
            padding: $drawer-default-space/2 18px;
            @media (max-width: $screen-xs-max) {
              padding: $drawer-default-space-mobile/2 18px;
            }
            border: none;
          }
          .issue-line:hover {
            background-color: $gray-lightest;
          }
          .issue-more,
          .issue-less {
            font-size: $font-size-small;
            color: $gray-a;
            a {
              color: $gray-a;
            }
          }
        }
      }
      &.head-line {
        padding: 12px 18px 0;
        .drawer-list-mobile & {
          background-color: white;
        }
        & + li.menu-line {
          margin-top: $drawer-default-space;
          @media (max-width: $screen-xs-max) {
            margin-top: $drawer-default-space-mobile;
          }
        }
        a {
          color: white;
        }
        &.parti-search-form {
          .form-group {
            position: relative;
            margin-bottom: 0;
          }
          input.form-control.form-control-drawer-filter {
            padding-right: 50px;
          }
          .add-clear-x {
            right: 2em !important;
          }
          .btn-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            i {
              color: $brand-primary;
            }
          }
        }
      }
      &.divider {
        height: 1px;
        margin: 24px 0;
        background-color: transparent;
        &-light {
          background-color: transparent;
        }
        &-small {
          margin: $drawer-default-space 0;
          @media (max-width: $screen-xs-max) {
            margin: $drawer-default-space-mobile 0;
          }
        }
      }
      &.logo {
        padding-top: $drawer-default-space*2;
        padding-bottom: $drawer-default-space*2;
        @media (max-width: $screen-xs-max) {
          padding-top: $drawer-default-space-mobile*2;
          padding-bottom: $drawer-default-space-mobile*2;
        }
        .slogan {
          font-size: $font-size-small;
          color: $gray-dark;
          font-weight: bold;
        }
      }
      &.parti-search-more {
        margin-top: 24px;
        border-top: 1px solid $gray-lighter;
        padding-top: 24px;
      }
    }
  }
  &__yellow {
    padding: 10px 20px;
    img {
      width: 100px;
      height: auto;
    }
  }
  &__licence {
    padding: 10px 40px;
  }
  &__close {
    font-size:24px;
    float:right;
    padding: 10px;
    cursor: pointer;
    background-color: #271e44;
  }

  .skeletons {
    margin: 1em 0;
    .skeleton-title {
      height: 1em;
      width: 50%;
      background-color: $gray-light;
    }
    .skeleton-item {
      height: 1em;
      background-color: $gray-light;
      margin: 3px 0;
    }
    .skeleton-title,
    .skeleton-item {
      animation-name: shimmer-animate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, $gray-lighter), color-stop(18%, $gray-less-lighter), color-stop(33%, $gray-lighter));
      background: -webkit-linear-gradient(left, $gray-lighter 8%, $gray-less-lighter 18%, $gray-lighter 33%);
      background: linear-gradient(to right, $gray-lighter 8%, $gray-less-lighter 18%, $gray-lighter 33%);
      -webkit-background-size: 800px 104px;
    }
  }
}

@keyframes shimmer-animate {
     0% {
     background-position: -468px 0
   }
   100% {
     background-position: 468px 0
   }
}

// mobile drawer

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: $side-menu-width;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.main-panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

.main-panel-open:before {
  position: absolute;
  top: (-$header-menu-height);
  @media (max-width: $screen-xs-max) {
    top: (-$header-menu-height-mobile);
    z-index: $zindex-xs-slideout-backdrop;
  }
  z-index: $zindex-slideout-backdrop;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
}

.main-panel-translate {
  border-left: 1px solid $gray-lighter;
}

#site-header:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

// drawer가 열릴 때 메인 영역을 회색 처리
#site-header.site-header-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  @media (max-width: $screen-xs-max) {
    z-index: $zindex-xs-slideout-backdrop;
  }
  z-index: $zindex-slideout-backdrop;
  height: 100vh;
}

// large screen drawer

.large-main-panel {
  .sidebar-wrapper {
    display: none;
    float: left;
    position: fixed;
    top: $header-menu-height + 2px;
    bottom: 0;
    right: 0;
    left: 0;
    width: $side-menu-width;
    min-height: 100vh;
    overflow-y: scroll;
    box-shadow:0px 5px 15px $gray-light;

    .drawer-list {
      display: block;
      min-height: 100vh;
      padding-bottom: 100px;
      background: #fff;
      position: absolute;
      top: 0;
    }
  }
  .content-wrapper {
    margin-left: 0;
    @media (min-width: $screen-sm-min) {
      min-width: 970px;
    }
  }

  &.sidebar-open,
  &.sidebar-open-in-advance {
    .sidebar-wrapper {
      display: block;
      @media (max-width: $screen-xs-max) {
        z-index: $zindex-xs-slideout-backdrop;
      }
      z-index: $zindex-slideout-backdrop;
    }
    .content-wrapper {
      margin-left: $side-menu-width;
    }
  }

  // sm사이즈까지는 미리 열어 놓지 않습니다
  @media (max-width: 1250px) {
    &.sidebar-open-in-advance {
      .sidebar-wrapper {
        display: none;
        z-index: 0;
      }
      .content-wrapper {
        margin-left: 0;
      }
    }
  }
}

body.in-group {
  #site-header.navbar-fixed-top {
    background-color: $brand-primary;
  }

  #site-header.navbar-fixed-top {
    .navbar-header {
      .navbar-brand {
        text-align: center;
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          width: 120px;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          width: 330px;
        }
        @media (min-width: $screen-lg-min) {
          width: 500px;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    #site-header.navbar-fixed-top {
      border-bottom: 1px solid $brand-primary-darker;

      .container {
        position: relative;
        height: 100%;
      }

      .navbar-header {
        .navbar-brand {
          font-weight: 600;
          color: white;
        }
      }

      .nav > li > a {
        color: $gray-lighter;
        font-weight: normal;
        &.group-title {
          padding-left: 0;
          color: white;
        }
        &.active,
        &:hover {
          color: white;
        }
        h4 {
          font-weight: 400;
          margin: 1px 0 0 0;
        }
      }
      &.navbar-default .navbar-nav > .open > a,
      &.navbar-default .navbar-nav > .open > a:hover,
      &.navbar-default .navbar-nav > .open > a:focus {
        background: none;
      }
      .navbar-nav > li.member-parties .dropdown-toggle,
      .navbar-nav > li.parti-tags .dropdown-toggle,
      .navbar-nav > li.all-posts .dropdown-toggle {
        background: none;
        &:hover {
          color: white;
        }
      }
      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus {
        background: none;
      }
    }
  }
}
