#site-header {
  $site-header-brand-image-width: 40px;

  // center brand
  .navbar-header {
    position: relative;
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: - 0.5 * $site-header-brand-image-width;
      padding-left: 0;
      img {
        width: $site-header-brand-image-width;
      }
    }
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border: none;
  }
  .navbar-nav {
    color: $brand-primary;
    & > li {
      & > a {
        padding-left: 8px;
        padding-right: 8px;
        margin: 0;
        color: $gray;
        font-weight: 500;
        font-size: $font-size-base;
        line-height: 20px;

        @media (max-width: $screen-xs-max) {
          padding: 13px 5px;
        }

        &:hover {
          color: $brand-primary;
        }

        &.btn:focus, &.btn:active:focus, &.btn:active.focus {
          outline: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        &.active {
          color: $brand-primary;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        .fa-home {
          font-size: 18px;
        }
      }
      &.menu-divider {
        height: 50px;
        padding: 15px 0;
        color: $gray-lighter;
        font-weight: 500;
        &:after {
          content: '|';
        }
      }

      &.user-info {
        .user-byline {
          color: $gray-darker;
          font-size: $font-size-small;
          padding-right: 5px;
        }
        a.dropdown-toggle {
          padding-top: 2px;
          padding-bottom: 2px;
          padding-right: 5px;
          border: none;
        }
      }
      &.watch-parties,
      &.parti-tags,
      &.all-posts {
        .dropdown-filter {
          padding-bottom: 10px;
          display: block;
        }
        .dropdown-header {
          padding-left: 5px;
          padding-right: 5px;
        }
        .dropdown-toggle {
          background-color: #fff;
          &:hover {
            color: $brand-primary;
          }
        }
        @media (max-width: $screen-xs-max) {
          &.open .dropdown-menu {
            position: absolute;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          }
        }
        .dropdown-menu {
          border-radius: $border-radius-base;
          padding: 10px;
          height: auto;
          max-height: 300px;
          min-width: 220px;
          overflow-x: hidden;
        }
        .issue-line {
          border: none;
          &__title {
            white-space: initial;
          }
        }
        .issue-line + .dropdown-header {
          padding-top: 20px;
        }
        .parti-tag-line {
          display: block;
          a {
            padding-left: 5px;
          }
        }
      }
      &.notification {
        .icon-bell-stack{
          position: relative;
          display: inline-block;
          width: 24px;
          vertical-align: top;
          .fa-circle {
            color: #966fd6;
            font-size: 26px;
          }
        }
        .fa-stack {
          top: -3px;
          width: 1.2em;
          height: 1.2em;
          .icon-dot-corner.fa-stack-1x{
            left: -6px;
            top: 0px;
          }
          .icon-dot-corner {
            color: red;
            font-size: 25px;
            margin-left: -5px;
          }
          .fa-stack-1x {
            left: -2px;
            top: -3px;
          }
        }
      }
      &.brand-dashbord {
        img {
          width: $site-header-brand-image-width;
        }
      }
    }
  }
}

#top-banner {
  text-align: center;
  font-size: 27px;
  font-weight: 100;
  color: $gray-lightest;
  padding: 25px 0px;
  padding-bottom: 20px;
  background-size: cover;

  .text-important {
    color: #FFDE00;
    font-weight: 900;
  }
  .top-banner-btn {
    @include btn-push($brand-primary-dark, #ffde00, $brand-primary-dark, #ffde00);
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: $brand-primary-dark;
    background-color: #ffde00;
    &:hover, &:active, &:focus {
      background-color: #ffde00;
    }
  }
}
#top-banner {
  background-image: image_url('thumb_main_keyvisual.png');
}

@media (max-width: $screen-xs-max) {
  #top-banner {
    font-weight: 500;
    background-size: cover;
    background-position: center;
    font-size: 1em;
    padding-top: 22px;
    padding-bottom: 14px;
    .col-xs-8 {
      text-align: left;
    }
    .col-xs-4 {
      text-align: right;
    }
    .top-banner-btn {
      padding: 10px;
    }
  }
  #top-banner {
    background-image: image_url('thumb_main_keyvisual.png');
  }
}

@media (max-width: $screen-xs-max) {
  /* header */
  #site-header {
    .navbar-header .navbar-brand img {
      width: 35px;
    }
    .navbar-default {
      padding: 0px;
    }
    .navbar-brand{
      padding-top: 10px;
    }
    .navbar-nav-menu {
      @media (max-width: $screen-xs-max) {
        font-size: 10px;
      }
      float: right;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
      }
      li a {
        &.btn-mobile-menu {
          padding-right: 0;
          img {
            zoom: 0.5;
          }
        }
      }
    }
  }
}



/////////////////////////////////////////////
// renewal style
//
#new-theme-site-header {
  $site-header-brand-image-width: 60px;
  $site-header-brand-image-width-xs: 60px;

  // brand
  .navbar-header {
    img {
      width: $site-header-brand-image-width;
    }
    @media (max-width: $screen-xs-max) {
      float: left;
      img {
        width: $site-header-brand-image-width-xs;
      }
    }
    &-center {
      position: relative;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      @media (max-width: $screen-xs-max) {
        margin-left: 0;
      }

      .navbar-brand {
        position: absolute;
        left: 50%;
        padding-left: 0;
        margin-left: - 0.5 * $site-header-brand-image-width;
        @media (max-width: $screen-xs-max) {
          height: 55px;
          margin-left: - 0.5 * $site-header-brand-image-width-xs;
        }
        @media (min-width: $screen-sm-max) {
          top: -4px;
        }
      }
    }
  }
  li.brand-dashbord a {
    img {
      width: $site-header-brand-image-width;
    }
  }

  // base menu styles
  .navbar-nav > li > a {
    padding-left:8px;
    padding-right:8px;
    &.active, &:hover {
      color: $brand-primary;
      font-weight: 400;
    }
  }

  // menu group positions
  .nav.navbar-nav {
    &.navbar-left {
      margin-left: -15px;
      float: left;
    }
    &.navbar-right-xs {
      @media (max-width: $screen-xs-max) {
        float: right;
        & > li {
          float: left;
        }
      }
    }
    & > li > a.btn-mobile-menu img {
      height: 20px;
    }
  }

  // dropdown styles
  .nav.navbar-nav {
    & > li.dropdown {
      & > ul.dropdown-menu {
        & > li {
          &.issue-line,
          &.dropdown-header,
          &.dropdown-filter {
            padding: 3px 20px;
            border-color: transparent;
          }
          &.dropdown-header {
            padding-top: 12px;
          }
        }
      }
      &.watch-parties {
        & > ul.dropdown-menu {
          min-width: 300px;
        }
      }
      &.general-parties {
        & > ul.dropdown-menu {
          min-width: 240px;
          max-height: 400px;
          overflow: hidden;
          overflow-y: auto;
        }
      }
    }
  }

  // collapse styles
  .collapse-toggle {
    &:not(.collapsed) .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      border-top: none;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }
  .collapse-parties {
    & > .nav.navbar-nav {
      & > .issue-line> .media {
        padding: 3px 20px;
        padding-left: 25px;
      }
      & > .parti-tag-line > a {
        padding: 5px 20px;
        padding-left: 25px;
        color: $gray;
      }
    }
  }

  // mobile sidemenu
  .mobile-list {
    border-right: 1px solid $gray-lighter;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }

  // messages bell button

  .icon-bell-stack{
    position: relative;
    display: inline-block;
    width: 24px;
    vertical-align: top;
    .fa-circle {
      color: #966fd6;
      font-size: 26px;
    }
  }
}
