section#notes {
  padding-top: 30px;
}

.note-card {
  @include hover-shadow();

  background-color: $brand-warning;
  border: 1px solid transparent;
  margin-bottom: 30px;
  min-height: 150px;
  padding: 20px;

  -webkit-box-shadow: 2px 2px 2px 0px $gray-lighter;
  -moz-box-shadow: 2px 2px 2px 0px $gray-lighter;
  box-shadow: 2px 2px 2px 0px $gray-lighter;

  .note-media-left--issue {
    padding-right: 38px;
    display: inline;
    .thumb--issue {
      border-radius: 4px;
      width: 30px;
      height: 30px;
      display: inline;
      position: absolute;
    }
  }


  &__body {
    margin: 20px 0;
  }

  &__user {
    display: inline;
  }

  &__meta {
    padding-top: 10px;

    .note-comment-wrapper {
      display: inline;
      color: $gray;

      &:hover {
        color: $gray;
      }
    }

    .date-wrapper {
      color: $gray;
      font-size: $font-size-base;
      text-align: left;
    }

    .comment-count {
      text-align: right;
    }
  }

  &.note-card-1 { background-color: lighten($brand-info, 10%); }
  &.note-card-2 { background-color: $brand-primary-light; }
  &.note-card-3 { background-color: lighten($brand-danger, 15%); }
}

.note-form {
  margin-bottom: 30px;
}

.note-line {
  cursor: pointer;
  .user-image {
    width: 20px;
    height: 20px;
  }
  .nickname {
    font-weight: bold;
    color: $brand-primary;
    margin-right: 5px;
  }
  .note-body {
    color: $text-muted;
  }
  .note-info {
    margin-bottom: 10px;
  }
  .comment__mention {
    float: none;
    margin-left: 0;
  }

}
