.page-bg {
  background-color: #f5f5f9;
  padding: 40px 100px;
}

.page-wrapper {
  width: 600px;
  margin: 0 auto;
  &__title {
    color: #333;
    border-bottom: 2px solid #d2d2d2;
    text-align: center;
    line-height: 2;
    margin-bottom: 50px;
  }
  &__txt {
    color: #333333;
    font-size: 12px;
    line-height: 1.6em;
    b {
      font-size: 15px;
      margin-bottom: 20px;
      display: block;
    }
    p {
      margin-bottom: 25px;
    }
    .indent {
      padding-left: 15px;
      margin-top: -25px;
    }
    strong {
      display: block;
    }
  }
}


/* about */
.about-wrapper {
  background-color: #f2f2f2;

  .about-parti-box {
    padding: 50px 0px 0px 0px;
    position: relative;
    color: $gray;

    .text-important {
      color: $brand-primary;
    }

    .btn-about {
      margin: 16px 0px -6px 0px;
      width: 162px !important;
      height: 52px !important;
    }

    .btn-about.yellow {
      color: $gray;
      background-color: #ffde00;
      &:hover, &:active, &:focus {
        background-color: #ffc900 !important;
        color: $gray-darker !important;
      }
    }

    h2 {
      font-weight: bold;
      color: #000;
      margin-bottom: 40px;
      margin-top: 0;
      font-size: 28px;
      line-height: 1.3;
    }

    p {
      font-size: $font-size-large;
      line-height: 1.4;
      padding-top: 14px;
      b {
        margin-right: -5px;
      }
    }

    .col-xs-6 {
      img {
        width: 100%;
      }
    }

    .col-xs-5#first {
      padding: 0px 0 0 1.2em;
      font-size: 34px;
      margin-top: 3em;
    }

    .col-xs-5#second {
      padding: 0px 0 0 1.2em;
      font-size: 34px;
      margin-top: 3em;
    }

    .col-xs-4 {
      font-size: 2.6em;
      padding-top: 150px;
      img {
        width: 100%;
      }
      p {
        padding-top: 2em;
      }
    }

    .col-xs-4#first {
      font-size: 2.6em;
      padding-top: 150px;
      img {
        width: 100%;
      }
      p {
        padding-top: 2em;
      }
    }

    .col-xs-4#second {
      font-size: 2.6em;
          padding-top: 0px;
      img {
        width: 100%;
        padding-right: 2em;
      }
      p {
        padding-top: 2em;
      }
    }

    .col-xs-8 {
      img {
        width: 100%;
        padding-top: 50px;
      }
    }
  }

  .about-parti-box.odd {
    background-color: #fff;

    .container#use-parti {
      text-align: center;

      .use-parti {
        font-size: 36px;
      }

      .img-wrapper {
        img {
          width: 75%;
          padding-top: 30px;
        }
      }
    }
  }

  .about-parti-box.even {
    background-color: $gray-lightest;

    .col-xs-7.text-right {
      img {
        padding-right: 4em;
        width: 100%;
        margin-bottom: 60px;
      }
    }
  }
}







@media (max-width: $screen-xs-max) {
  .about-wrapper {
    .about-parti-box {
      .col-xs-4 {
        margin-top: 20px;
        font-size: 12px;
        padding-top: 10px;
        padding-right: 12px;
      }
      .col-xs-4#first {
        margin-top: 6px;
        font-size: 12px;
        padding: 0px 12px 55px 0px;
      }
      .col-xs-4#second {
        margin-top: 0px;
        font-size: 12px;
        padding: 0px 12px 46px 0px;
      }
      .btn-about {
        margin: 10px 0px -6px 0px;
        width: 76px !important;
        height: 30px !important;
        font-size: 12px;
        padding-top: 2px;
      }
      p {
        font-size: 10px !important;
      }

      .col-xs-5#first {
        margin-top: 10px;
        font-size: 12px;
        padding-left: 34px;
      }
      .col-xs-5#second {
        margin-top: 6px;
        font-size: 12px;
        padding: 6px 0px 0px 0px;
      }

      .col-xs-8.text-right img {
        padding-top: 0px;
        padding-bottom: 46px;
      }
    }
    .about-parti-box.odd .container#use-parti{
      .use-parti {
        font-size: 24px;
      }
    }
    .about-parti-box.even
      .col-xs-7.text-right img {
        padding-right: 16px;
        width: 100%;
      }
  }
}


/* editor */

#talk-form {
  .page-wrapper {
    width: 670px;
  }
  .well {
    background-color: #fff;
    border-color: $brand-primary;
    padding: 40px 35px 25px;
  }
  h5 {
    color: $gray;
    font-size: 16px;
  }
  a {
    color: $gray;
    font-weight: bold;
    text-decoration: underline;
  }
  .btn-editor {
    margin-top: 25px;
    .btn-primary {
      padding: 10px 35px;
      width: 160px;
      text-align: center;
      border-radius: 50px;
      margin-left: 10px;
    }
    .btn-default {
      padding: 10px 9px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
    }
  }
  textarea {
    min-height: 150px;
    color: $gray;
  }
}





























