.poll-card {
  cursor: pointer;
  .post-modal & {
    cursor: initial;
  }
  &:hover {
    @include hover-shadow();
  }

  background-color: #fff;
  padding: 25px 20px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid $gray-less-lighter;
  border-radius: $border-radius-base;
  &--voted {
    background-color: $gray-more-lightest;
    border: 1px solid $gray-less-lighter;
    h4 a {
      color: $gray-darker;
    }
    &:hover {
      border: 1px solid $brand-primary;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: $font-size-large;
    color: $gray-dark;
    line-height: 1.4em;
    word-break: keep-all;
    a {
      color: $gray-darker;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  &__meta {
    margin-bottom: 10px;
  }
  &__issue {
    max-width: 60%;
    float: left;
    text-align: left;
    a {
      color: $gray-a;
      font-size: $font-size-small;
      text-overflow: ellipsis;
    }
  }
  &__group {
    display: inline-block;
    &:after {
      content: "/";
    }
  }
  &__date--with-issue {
    float: right;
    span {
      vertical-align: bottom;
    }
  }
  &:hover {
    border: 1px solid $brand-primary-light;
  }

  section#polls_or_surveys.polls--issue & .poll-card__meta {
    .poll-card__issue {
      display: none;
    }
    .poll-card__date--with-issue {
      line-height: initial;
    }
  }
  section#posts & .poll-card__meta,
  .post-modal & .poll-card__meta {
    display: none;
  }
}

.poll__body {
  border: 1px solid $brand-light;
  border-radius: $border-radius-base;

  &__text-container {
    padding: 20px;
    color: gray;
    text-align: center;
  }
}

.poll__vote-section {
  .btn {
    padding: 5px 10px;
    border-color: $brand-primary;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: $font-size-base;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(215, 213, 210, 0.8);
    -moz-box-shadow:    0px 2px 0px 0px rgba(215, 213, 210, 0.8);
    box-shadow:         0px 2px 0px 0px rgba(215, 213, 210, 0.8);
    margin: 0px 2px;
    min-width: 68px;

    span {
      font-weight: bold;
    }
  }
  .btn-default {
    color: $brand-primary;
    &:hover {
      background: whitesmoke;
    }
  }
  .btn-success-dark {
    background-color: $brand-success-dark;
    border-color: $brand-success-dark;
  }
  .btn-danger-dark {
    background-color: $brand-danger-dark;
    border-color: $brand-danger-dark;
  }
  .count {
    font-size: $font-size-large;
    font-weight: bold;
    margin: 3px 0 0;
    line-height: 1;
  }
  .vote__buttons--unsure {
    font-size: $font-size-base;
    text-decoration: underline;
    margin-top: 12px;
    a {
      color: $gray-a;
    }
  }
  .text-muted {
    margin-top: 14px;
  }
}
.text-muted {
  p {
    margin-bottom: 0;
  }
}

.vote__new {
  text-align: center;
  border: 1px solid #ebebec;
  background: #fff;
  margin-bottom: 20px;
  color: #222222;
  font-size: $font-size-large;
  .icon-box {
    margin-right: 5px;
  }
  .btn-vote {
    display: block;
    padding: 20px 0;
    &:hover, &.active {
      background: $brand-primary;
      color: #fff;
      b {
        color: #fff;
      }
    }
    img {
     margin-left: 40px;
     margin-right: 25px;
    }
  }
  b {
    color: $brand-primary;
  }
}

.vote__results {
  .btn-primary {
    .btn-icon img {
      margin-top: -21px;
    }
  }
  .vote__results__agree, .vote__results__neutral, .vote__results__disagree {
    display: inline-block;
  }
  .vote__results__voters {
    display: none;
    .post-body & {
      display: block;
    }
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.webui-popover-voting-result  {
  .voting-users {
    @extend .list-inline;
    .choice-title {
      font-weight: bold;
      margin-bottom: 12px;
    }
    .section {
      width: 250px;
      background-color: #f9f9f9;
      padding: 12px 24px;
      vertical-align: top;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
    .choice-title {
      text-align: center;
    }
    .agree .choice-title {
      color: $brand-success;
    }
    .neutral .choice-title {
      color: $brand-primary;
    }
    .disagree .choice-title {
      color: $brand-danger;
    }
    .section + .section {
      @media (min-width: $screen-sm-min) {
        margin-left: 12px;
      }
      @media (max-width: $screen-xs-max) {
        margin-top: 12px;
      }
    }
  }
}

.vote__results, .vote__buttons {
  img {
    width: 20px;
    height: auto;
  }
}

.vote__new {
  #poll-form-widget .form-widget {
    border-left: 1px solid #bfa5eb;
    margin: 0;
    .textarea-box textarea {
      width: 86%;
      margin-left: 14%;
    }
    .textarea-box .icon-tooltip {
      left: 14%;
    }
    .help-block {
      font-size: 14px;
      text-align: left;
    }
  }
}

.poll-social-card-section,
.survey-social-card-section,{
  background-size: cover;
  width: 1200px;
  height: 630px;
  padding: 0;
  margin: 0;
  display: table;
  position: relative;
  color: $brand-primary-dark;
  font-family: 'Noto Sans KR';

  .card {
    display: table-cell;
    vertical-align: middle;
    width: 1060px;

    .info {
      font-size: 30px;
      font-weight: 300;
      position: absolute;
      left: 70px;
      top: 55px;
    }

    .title {
      letter-spacing: -1px;
      word-break: keep-all;
      font-weight: 300;
      margin: 0 70px;
      &.short {
        text-align: center;
        font-size: 80px;
      }
      &.medium {
        font-size: 65px;
      }
      &.long {
        font-size: 55px;
      }
    }
  }
}

.poll {
  &__vote__info {
    color: $gray;
    font-size: $font-size-base;
    strong {
      color: $brand-primary;
      font-weight: bold;
    }
  }
  &__body {
    .poll__title {
      margin-bottom: 40px;
      &:hover {
        text-decoration: none;
      }
    }
    .vote__results {
      .col-xs-6 {
        padding: 0 3px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .post-card__post {
    .poll-card__date {
      display: none;
    }
    .poll__vote-section {
      .btn {
        min-width: 70px;
      }
    }
  }
}

.poll-card {
  &__title {
    margin: 15px 0;
    font-size: $font-size-medium;
  }
}

.vote__new {
  font-size: 14px;
  .btn-vote {
    padding: 10px;
    img {
      zoom: 0.5;
      margin-right: 10px;
      margin-left: 0;
    }
  }
  .vote__new-img {
    display: block;
    margin-top: 10px;
  }
}
