section#posts {
  padding: 20px 0;
}

.post-card {
  background-color: #fff;
  margin-bottom: 0;
  border-left: 1px solid #e6e6e7;
  border-right: 1px solid #e6e6e7;
  border-bottom: 1px solid #e6e6e7;
  padding: 20px;
  a {
    color: #777;
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
    &:hover {
      color: $brand-primary;
    }
  }
  &__count {
    margin-bottom: 5px;
  }
  &__date {
    color: #aaaaaf;
    font-size: 12px;
  }
}
.post-card:last-child {
  margin-bottom: 20px;
}