section#posts {
  padding: 20px 0;
}

.posts {
  padding-top: 25px;
}

.post {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  &:hover {
    border-color: #bfa5eb;
  }
  &__title {
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  &__info {
    .text-primary {
      padding-left: 3px;
    }
  }
  &__comment {
    b {
      color: #555;
      font-size: 12px;
    }
  }
  &__btn {
    .fa-trash-o {
      margin-left: 7px;
    }
  }
  &__share {
    text-align: right;
    margin-top: 20px;
    .share-box {
      float: none;
      display: inline-block;
      .share-item {
        border: 1px solid #d2d2d2;
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}

.post-card {
  background-color: #fff;
  margin-bottom: 0;
  border-left: 1px solid #e6e6e7;
  border-right: 1px solid #e6e6e7;
  border-bottom: 1px solid #e6e6e7;
  padding: 20px;
  a {
    color: #777;
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
    &:hover {
      color: $brand-primary;
    }
  }
  &__count {
    margin-bottom: 5px;
  }
  &__date {
    color: #aaaaaf;
    font-size: 12px;
  }
}
.post-card:last-child {
  margin-bottom: 20px;
}

.post-inline {
  background-color: #fafafb;
  border: 1px solid #f1f1f1;
  padding: 15px;
  position: relative;
  .img-circle {
    position: static;
  }
  a {
    color: #333333;
    line-height: 1.4em;
  }
  &__title {
    width: 93%;
    margin: 0;
    display: inline-block;
  }
  &--article,
  &--talk {
    cursor: pointer;
  }
}





















