section#references {
  padding-top: 30px;
  @media (max-width: $screen-xs-max) {
    padding-top: 14px;
  }
  padding-bottom: 30px;
  .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .col-xs-12, .col-xs-6,
  .col-sm-3, .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.reference-card {
  &:hover {
    @include hover-shadow();
  }

  background-color: #fff;
  border-radius: $border-radius-base;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 14px;
  border: 1px solid #f1f1f1;
  .thumb {
    height: 200px;
    &.left {
      margin-right: 0.5%;
    }
    &.right {
      margin-left: 0.5%;
    }
    &.left,
    &.right,
    &.single {
      margin-bottom: 1%;
    }

    &.left,
    &.right {
      display: inline-block;
      width: 49.5%;
      height: 150px;
    }
  }
  &__meta {
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .caption-images + &__meta,
  .thumb-link + &__meta,
  .caption-link + &__meta {
    margin-top: 10px;
  }
  &__issue {
    max-width: 60%;
    float: left;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gray-a;
    a {
      color: $gray-a;
      font-size: $font-size-small;
      text-overflow: ellipsis;
    }
  }
  &__date--with-issue {
    float: right;
    span {
      vertical-align: bottom;
    }
  }
  .caption-file {
    margin-bottom: 14px;
    padding-right: 14px;
    padding-left: 14px;
    .file-icon {
      width: 25%;
      padding: 5% 0;
      float: left;
      margin-right: 6px;
      border: 1px solid $brand-primary;
      color: $brand-primary;
      font-weight: 900;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
    }
    .file-name {
      font-size: $font-size-large;
      font-weight: 200;
      width: 70%;
      float: right;
      word-wrap: break-word;
    }
  }
  .caption-images {
    line-height: 0;
  }
  .caption {
    &.caption-link {
      border-bottom: 1px solid $gray-lighter;
      padding: 10px 0;
      background-color: $gray-lightest;
    }
    .link-source:hover {
      .title {
        color: $brand-primary;
      }
      .source-body {
        color: $gray-darker;
      }
    }
    .date,
    .title,
    .source-body,
    .body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .source-url,
    .more {
      color: $gray-a;
      font-size: $font-size-small;
      text-overflow: ellipsis;
      font-weight: normal;
    }
    .title {
      color: $gray-base;
      margin-top: 5px;
      &--file-source {
        word-break: keep-all;
        word-wrap: break-word;
      }
      word-break: keep-all;
      word-wrap: break-word;
    }
    .source-body {
      color: $text-muted;
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 200;
    }
    .body {
      padding-top: 14px;
      &:first-child {
        padding-top: 0;
      }
      padding-bottom: 25px;
      color: $text-muted;
      font-size: $font-size-base;
      line-height: $line-height-base;
      word-break: keep-all;
      word-wrap: break-word;
      .user-image {
        width: 20px;
        height: 20px;
      }
      .body-more {
        color: $gray-light;
      }
    }
    .info-body {
      margin: 14px;
    }
    .more {
      padding-top: 10px;
      .fa {
        padding-right: 5px;
      }
    }
  }
}

.reference-card.best,
.reference-card.popular {
  .thumb--reference {
      height: 400px;
      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        content: '';
      }
    }
  .caption {
    position: absolute;
    bottom: 0;
    .date,
    .title,
    .more,
    .more .comments-count,
    .more .link-to-more,
    .more .link-to-modal,
    .more .link-to-login {
      color: #fff !important;
      &:hover {
        color: #fff;
      }
    }
    .source-body,
    .body {
      display: none;
    }
  }
}

.link-box {
  width: 100%;
  height: 100px;
  background-color: #fafafb;
  border: 1px solid #f1f1f1;
  display: table;
  margin-top: 15px;
  &:hover {
    border-color: #bfa5eb;
  }
  img {
    width: 150px;
    height: 100px;
    float: left;
  }
  .thumb {
    width: 150px;
    height: 100px;
    float: left;
  }
  p {
    width: 100%;
    color: $gray;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
  }
}
.post-reference-line {
  margin-top: 12px;
  cursor: pointer;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-base;
  width: 100%;
  &.post-reference-line-link-source {
    margin-right: -18px;
    margin-left: -18px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    background: $gray-lightest;
    display: block;
    width: auto;
  }
  .post-reference-line-link-content {
    overflow: hidden;
    .media-body {
      padding: 24px 18px;
    }
    .media-right {
      width: 37%;
    }
    &--video {
      padding: 0px;
      .post-reference-line__site-name {
        padding: 10px;
        padding-top: 0;
      }
    }
    &__thumb {
      background-size: cover;
      background-position: center;
      border-left: 1px solid #efefef;
    }
    &__big-thumb {
      height: 150px;
      background-position: center;
      background-size: cover;
      border-bottom: 1px solid #efefef;
    }
  }
  &__file-content {
    padding: 12px;
    .media.media-flex {
      align-items: center;
    }
    .media-left {
      font-size: $font-size-base;
      color: $brand-primary;
    }
    .media-body {
      padding-right: 18px;
      color: $gray-dark;
      @media (max-width: $screen-xs-max) {
        font-weight: 400;
        font-size: $font-size-large;
      }
    }
    &__download {
      text-align: center;
      border: 1px solid $gray-lighter;
      border-radius: $border-radius-base;
      padding: 6px 7px;
      font-size: $font-size-small;
    }
    &__file-size {
      font-size: $font-size-base;
      color: $gray-light;
      white-space: nowrap;
    }
    &__file-image {
      a {
        img {
          max-height: 400px;
          max-width: 100%;
          @media (max-width: $screen-xs-max) {
            max-width: 100%
          }
        }
      }
    }
  }
  &-file-content-wrapper--image {
    width: 600px;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
  &__file-content--image {
    overflow: hidden;
    display: inline-block;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: $gray-lightest;
    cursor: pointer;
    border: 1px solid $gray-lighter;
  }
  &__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
  }
  &__video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__source-body {
    @media (max-width: $screen-xs-max) {
      font-size: $font-size-base;
    }
    color: $text-muted;
  }
  &__site-name,
  &__site-name a {
    font-size: 12px;
    margin-top: 5px;
    color: $gray-light;
  }
}

@media (max-width: $screen-xs-max) {
  .post-reference-line {
    &__file-content .media-right {
      width: 34%;
      text-align: center;
      display: inline-block;
      padding-left: 0px;
    }
  }
}
