section#references {
  padding-top: 30px;
  padding-bottom: 30px;
  .row {
    margin-left: -7px;
    margin-right: -7px;
  }
  .col-xs-12, .col-xs-6,
  .col-sm-3, .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.reference-card {
  &:hover {
    @include hover-shadow();
  }

  background-color: #fff;
  border-radius: $border-radius-base;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 14px;
  border: 1px solid #f1f1f1;
  .thumb {
    height: 200px;
  }
  &__group-and-issue {
    position: absolute;
    top: 20px;
    left: 20px;
    .thumb--issue {
      border-radius: $border-radius-base;
      width: 30px;
      height: 30px;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 3);
      display: inline-block;
    }
    .reference-card__group {
      background-color: rgba(150,111,214,0.9);
      color: #fff;
      border-radius: $border-radius-base;
      border: 2px solid rgb(150,111,214);
      padding: 3px;
      height: 30px;
      vertical-align: top;
      line-height: 20px;
      display: inline-block;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 3);
    }
  }
  .caption {
    padding-top: 14px;
    padding-bottom: 14px;
    .link-source:hover {
      .title {
        color: $brand-primary;
      }
      .source-body {
        color: $gray-darker;
      }
    }
    .date,
    .title,
    .source-body,
    .body,
    .more {
      padding-left: 14px;
      padding-right: 14px;
    }
    .date,
    .source-url {
      color: $gray-light;
    }
    .title {
      color: $gray-base;
      margin-top: 5px;
      &--file-source {
        word-break: break-all;
      }
    }
    .source-body {
      color: $text-muted;
      font-size: $font-size-base;
      line-height: $line-height-base;
      font-weight: 200;
    }
    .body {
      border-top: 2px solid $gray-lightest;
      padding-top: 14px;
      padding-bottom: 14px;
      color: $text-muted;
      font-size: $font-size-base;
      line-height: $line-height-base;
      .user-image {
        width: 20px;
        height: 20px;
      }
      .body-more {
        color: $gray-light;
      }
    }
    .more {
      color: $gray-light;
      .comments-count,
      .link-to-modal,
      .link-to-login {
        &:hover {
          color: $gray;
        }
      }
      .link-to-more {
        color: $brand-primary;
        &:hover {
          color: $brand-primary-dark;
        }
      }
      .fa {
        padding-right: 5px;
      }
    }
  }
}

.reference-card.best, .reference-card.popular {
  .caption {
    position: absolute;
    bottom: 0;
    .date,
    .title,
    .more,
    .more .comments-count,
    .more .link-to-more,
    .more .link-to-modal,
    .more .link-to-login {
      color: #fff !important;
      &:hover {
        color: #fff;
      }
    }
    .source-body,
    .body {
      display: none;
    }
  }
}

.link-box {
  width: 100%;
  height: 100px;
  background-color: #fafafb;
  border: 1px solid #f1f1f1;
  display: table;
  margin-top: 15px;
  &:hover {
    border-color: #bfa5eb;
  }
  img {
    width: 150px;
    height: 100px;
    float: left;
  }
  .thumb {
    width: 150px;
    height: 100px;
    float: left;
  }
  p {
    width: 100%;
    color: $gray;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
  }
}

.talk-reference-line {
  display: table;
  cursor: pointer;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-base;
  width: 100%;
  margin-top: 12px;
  &__content {
    display: table-cell;
    padding: 10px;
    &--video {
      padding: 0px;
      .talk-reference-line__site-name {
        padding: 10px;
        padding-top: 0;
      }
    }
  }
  &__video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
  }
  &__video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__source-body {
    @media (max-width: $screen-xs-max) {
      font-size: $font-size-base;
    }
    color: $text-muted;
  }
  &__thumb {
    display: table-cell;
    width: 150px;
    background-size: cover;
    background-position: center;
  }
  &__site-name,
  &__site-name a {
    font-size: 12px;
    margin-top: 5px;
    color: $gray-light;
  }
  &__body {
    padding-top: 14px;
    .user-image {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .talk-reference-line {
    &__thumb {
      width: 120px;
    }
  }
}
