.survey-options {
  text-align: left;
  $padding-side: 18px;
  margin-top: 4px;
  border: 1px solid $gray-lighter;
  border-radius: 4px;

  .survey-card &--body > .option {
    .checkbox-btn {
      width: 15%;
    }
    .body {
      width: 85%;
    }
    .feedbacks-count {
      display: none;
    }
  }
  .survey-card &--body--no-checkbox > .option {
    .checkbox-btn {
      display: none;
    }
    .body {
      width: 100%;
    }
    .feedbacks-count {
      display: none;
    }
  }
  &--body > .option {
    .checkbox-btn {
      width: 8%;
    }
    .body {
      width: 82%;
    }
    .feedbacks-count {
      width: 10%;
    }
  }
  &--body--no-checkbox > .option {
    .checkbox-btn {
      display: none;
    }
    .body {
      width: 90%;
    }
    .feedbacks-count {
      width: 10%;
    }
  }
  &--body {
    padding: $padding-side;
    > .option {
      .checkbox-btn {
        span.closed {
          color: $gray-lighter;
        }
        i {
          font-size: 1.5em;
          color: $gray-light;
          &.active {
            color: $brand-primary;
          }
        }
      }
      .body {
        padding: 2px 0;

        input {
          width: 100%;
        }
        .count,
        .mvp {
          color: $brand-primary;
          font-size: $font-size-small;
        }
      }
      .feedbacks-count {
        width: 10%;
        padding-left: 10px;
        a,
        input.btn.btn-link {
          color: $brand-primary;
          &:hover {
            font-weight: bold;
          }
          padding: 0;
        }
      }
      .checkbox-btn,
      .body,
      .feedbacks-count {
        min-height: 1px;
        position: relative;
        float: left;
      }
      .checkbox-btn,
      .feedbacks-count {
        line-height: 2.5em;
      }
      .chart {
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid $gray-lighter;
        margin-bottom: 8px;
        margin-top: 2px;
        height: 10px;
        &.active {
          border-color: $brand-primary;
        }

        .chart__bar {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          background-color: $brand-primary-light;
        }

        .chart__label {
          color: $gray;
          white-space: nowrap;
          padding: 0 6px;
        }
        &.active .chart__label {
          color: $gray-dark;
        }
      }

      .no-chart__label {
        padding: 4px 6px;
      }
    }
  }
  &--footer {
    padding-top: 12px;
    border-top: 1px solid $gray-lighter;
    margin-top: 12px;
  }
}

.survey-card {
  cursor: pointer;
  .post-modal & {
    cursor: initial;
  }
  &:hover {
    @include hover-shadow();
  }

  background-color: #fff;
  padding: 25px 20px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid $gray-less-lighter;
  border-radius: $border-radius-base;
  &--feedbacked {
    background-color: $gray-more-lightest;
    h4 a {
      color: $gray-darker;
    }
    &:hover {
      border: 1px solid $brand-primary;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: $font-size-medium;
    color: $gray-dark;
    line-height: 1.4em;
    word-break: keep-all;
    word-wrap: break-word;
    a {
      color: $gray-darker;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  &--feedbacked &__title {
    color: $gray;
  }
  &__meta {
    margin-bottom: 10px;
  }
  &__issue {
    max-width: 60%;
    float: left;
    text-align: left;
    a {
      color: #aaaaaf;
      font-size: $font-size-small;
      text-overflow: ellipsis;
    }
  }
  &__group {
    display: inline-block;
    &:after {
      content: '/'
    }
  }
  &__date--with-issue {
    float: right;
    span {
      vertical-align: bottom;
    }
  }
  &:hover {
    border: 1px solid $brand-primary-light;
  }

  section#post_or_surveys.surveys--issue & .survey-card__meta {
    .survey-card__issue {
      display: none;
    }
    .survey-card__date {
      line-height: initial;
    }
  }
}

