.sruvey-card {
  $padding-side: 18px;
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  &--body {
    padding: $padding-side;
    > .option {
      .checkbox-btn {
        width: 5%;
        span.closed {
          color: $gray-lighter;
        }
        i {
          font-size: 1.5em;
          color: $gray-lighter;
          &.active {
            color: $brand-primary;
          }
        }
      }
      .body {
        padding: 2px 0;
        width: 75%;
        input {
          width: 100%;
        }
      }
      .feedbacks-count {
        width: 20%;
        text-align: right;
        a,
        input.btn.btn-link {
          color: $brand-primary;
          &:hover {
            font-weight: bold;
          }
          padding: 0;
        }
      }
      .checkbox-btn,
      .body,
      .feedbacks-count {
        min-height: 1px;
        position: relative;
        float: left;
      }
      .checkbox-btn,
      .feedbacks-count {
        line-height: 2.5em;
      }
      .chart {
        border-radius: 4px;
        border: 1px solid $gray-lighter;
        &.active {
          border-color: $brand-primary;
        }

        .chart__bar {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          background-color: $brand-primary-light;
          padding: 3px 0;
        }

        .chart__label {
          color: $gray;
          white-space: nowrap;
          padding: 0 6px;
        }
        &.active .chart__label {
          color: $gray-dark;
        }
      }

      .no-chart__label {
        padding: 4px 6px;
      }
    }
  }
  &--footer {
    padding-top: 12px;
    border-top: 1px solid #eaeaeb;
    margin-top: 12px;
  }
}
