.survey-options {
  text-align: left;
  $padding-side: 18px;
  border: 1px solid $gray-lighter;
  border-radius: 4px;

  .survey-card &--body > .option {
    .checkbox-btn {
      width: 15%;
    }
    .body {
      width: 85%;
    }
    .feedbacks-count {
      display: none;
    }
  }
  .survey-card &--body--no-checkbox > .option {
    .checkbox-btn {
      display: none;
    }
    .body {
      width: 100%;
    }
    .feedbacks-count {
      display: none;
    }
  }
  &--body > .option {
    .checkbox-btn {
      width: 8%;
    }
    .body {
      width: 72%;
    }
    .feedbacks-count {
      width: 20%;
    }
  }
  &--body--no-checkbox > .option {
    .checkbox-btn {
      display: none;
    }
    .body {
      width: 80%;
    }
    .feedbacks-count {
      width: 20%;
    }
  }
  &--body {
    padding: $padding-side;
    > .option {
      .checkbox-btn {
        span.closed {
          color: $gray-lighter;
        }
        i {
          font-size: 1.5em;
          color: $gray-light;
          &.active {
            color: $brand-primary;
          }
        }
      }
      .body {
        padding: 2px 0;

        input {
          width: 100%;
        }
      }
      .feedbacks-count {
        width: 20%;
        text-align: right;
        a,
        input.btn.btn-link {
          color: $brand-primary;
          &:hover {
            font-weight: bold;
          }
          padding: 0;
        }
      }
      .checkbox-btn,
      .body,
      .feedbacks-count {
        min-height: 1px;
        position: relative;
        float: left;
      }
      .checkbox-btn,
      .feedbacks-count {
        line-height: 2.5em;
      }
      .chart {
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid $gray-lighter;
        margin-bottom: 16px;
        margin-top: 6px;
        &.active {
          border-color: $brand-primary;
        }

        .chart__bar {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          background-color: $brand-primary-light;
          .count {
            white-space: nowrap;
            padding-left: 6px;
            font-size: $font-size-small;
            color: $gray;
          }
        }

        .chart__label {
          color: $gray;
          white-space: nowrap;
          padding: 0 6px;
        }
        &.active .chart__label {
          color: $gray-dark;
        }
      }

      .no-chart__label {
        padding: 4px 6px;
      }
    }
  }
  &--footer {
    padding-top: 12px;
    border-top: 1px solid #eaeaeb;
    margin-top: 12px;
  }
}

.survey-card {
  cursor: pointer;
  .post-modal & {
    cursor: initial;
  }
  &:hover {
    @include hover-shadow();
  }

  background-color: #fff;
  padding: 25px 20px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid #f1f1f1;
  &--feedbacked {
    background-color: $gray-more-lightest;
    border: 1px solid $brand-primary-light;
    h4 a {
      color: $gray-darker;
    }
    &:hover {
      border: 1px solid $brand-primary;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: $font-size-large;
    color: $gray-dark;
    line-height: 1.4em;
    word-break: keep-all;
    a {
      color: $gray-darker;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  &__issue {
    text-align: left;
  }
  .thumb--issue {
    border-radius: $border-radius-base;
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  &__group {
    background-color: rgba(150,111,214,0.9);
    color: #fff;
    border-radius: $border-radius-base;
    border: 2px solid rgb(150,111,214);
    padding: 3px;
    height: 30px;
    vertical-align: top;
    line-height: 20px;
    display: inline-block;
  }
  &__date--with-issue {
    line-height: 35px;
    span {
      vertical-align: bottom;
    }
  }
  &:hover {
    border: 1px solid $brand-primary-light;
  }

  section#post_or_surveys.surveys--issue & .survey-card__meta {
    .survey-card__issue {
      display: none;
    }
    .survey-card__date--with-issue {
      line-height: initial;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .survey-card {
    &__date--with-issue {
      display: none;
    }
  }
}
