section#talks {
  padding-top: 30px;
}

.talk-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  .date {
    color: $gray-light;
    font-size: $font-size-small;
  }
  .media-heading.title {
    font-weight: bold;
    margin-top: 5px;
  }
  .comment-count {
    color: $text-muted;
    font-size: $font-size-small;
    white-space: nowrap;
    text-align: right;
    i {
      margin-right: 5px;
      font-size: $font-size-base;
    }
  }
  .comment-users {
    color: $text-muted;
    margin-top: 5px;
    text-align: right;
    white-space: nowrap;
    .user-byline {
      line-height: 20px;
      height: 20px;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .comment-media {
    border-top: 1px solid $gray-lighter;
    margin-top: 15px;
    padding-top: 15px;
    .media-left {
      white-space: nowrap;
      a img {
        width: 20px;
        height: 20px;
      }
    }
    h5.media-heading {
      margin-top: 5px;
      color: $text-muted;
      line-height: $line-height-computed;
    }
    .media-right {
      text-align: right;
    }
  }
  .comment-info {
    i.icon-best {
      font-size: 22px;
      margin-top: -7px;
      display: inline-block;
      color: $brand-danger;
    }
  }
}

.talk-section {
  .talk__body {
    margin: 30px 0;
    font-size: 16px;
  }
}

.talk-line {
  cursor: pointer;
  .user-image {
    width: 20px;
    height: 20px;
  }
  .nickname {
    font-weight: bold;
    color: $brand-primary;
    margin-right: 5px;
  }
  .date-wrapper {
    color: $gray-light;
  }
  .talk-comment-body {
    color: $text-muted;
  }
  .comment__mention {
    float: none;
    margin-left: 0;
  }
  &__upvotes {
    float: right;
    color: #555;
    font-weight: bold;
    margin-bottom: 15px;
    .fa-heart-o  {
      color: #aaaaaf;
    }
    .fa-heart {
      color: $brand-primary;
    }
  }
}

@media (max-width: 768px) {
  .talk-card {
    padding: 10px;
    .media-left {
      padding-right: 5px;
    }
    .talk-media {
      h4.media-heading.title {
        margin-bottom: 0;
      }
      .media-right {
        display: block;
        padding-left: 0;
        .comment-count {
          float: left;
          line-height: 30px;
          padding-left: 35px;
          text-align: left;
        }
        .comment-users {
          float: right;
        }
      }
    }
    .comment-media {
      padding-top: 10px;
      margin-top: 10px;
      .media-left {
        padding-left: 10px;
      }
      .media-right {
        display: block;
        padding-left: 35px;
        text-align: left;
      }
    }
  }
}
