.user {
  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
  &__nickname--mentioned {
    color: $brand-primary;
  }
}

#dashboard-header-section {
  padding: 20px 0;
  background-color: #271e44;
  .jumbotron {
    padding: 20px 0 0;
    color: #fff;
    p {
      font-size: $font-size-base;
    }
    .issues {
      img {
        width: 15px;
        height: 15px
      }
      .btn {
        border: 0;
        padding: 3px 5px;
        margin-bottom: 3px;
      }
    }
  }
}

#messages-header-section{
  padding: 20px 0;
  background-color: #271e44;
  font-size: 24px;
  color: #fff;
  .img-circle {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  span {
    font-weight: 100;
    margin-left: -3px;
  }
}

#user-header-section {
  padding: 20px 0;
  background-color: #271e44;
  .img-circle {
    width: 90px;
    height: 90px;
  }
  h2 {
    color: white;
    margin-top: 20px;
  }
}
.issue-header-section {
  padding: 20px 0;
  background-color: #271e44;
  color: #fff;
  .img-circle {
    width: 90px;
    height: 90px;
  }
  a {
    color: #fff;
  }
}

#login-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: $gray-lighter;
  z-index: 9999;
  opacity: .95;
}

#user-gallery {
  padding: 50px 0;
}

/* message 알림 */
.message {
  background-color: #fff;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 10px 20px;
  &__link {
    display: inline-block;
    float: left;
    .profile {
      margin-right: 5px;
      float: left;
    }
    .nickname {
      height: 30px;;
      line-height: 30px;
      float: left;
      color: $brand-primary;
      font-weight: bold;
    }
  }
  &__date {
    height: 30px;
  }
  &__messagable {
    margin-top: 10px;
  }
}

/* dashboard 상단 버튼 */
.post-form {
  position: relative;
  text-align: right;
  padding-top: 20px;
  &__thumb {
    position: absolute;
    left: 0;
    top: 32px;
  }
}
#editors-tab {
  width: 620px;
  background-color: #fff;
  padding: 15px 0;
  border: 1px solid #ebebec;
  position: relative;
  display: inline-block;
  .btn {
    width: 130px;
    float: left;
  }
  .editors-tab__arrow {
    position: absolute;
    left: -19px;
    margin-top: -10px;
    top: 50%;
  }
}
.form-widget {
  background-color: #fff;
  border: 1px solid $brand-primary;
  padding: 15px;
  margin-left: 79px;
  position: relative;
  &__arrow {
    position: absolute;
    left: -19px;
    top: 25px;
  }
  .input-group {
    width: 100%;
  }
  input[type=text] {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 2px solid #777;
    padding-left: 0;
  }
  a {
    color: #777;
    &:hover {
      color: $brand-primary;
    }
  }
  .btn-primary {
    min-width: 130px;
  }
}















