.user {
  &__image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -999px;
    overflow: hidden;
  }
  &__nickname--mentioned {
    color: $brand-primary;
  }
}

#dashboard-header-section {
  padding: 20px 0;
  background-color: #271e44;
  .jumbotron {
    padding: 20px 0 0;
    color: #fff;
    p {
      font-size: $font-size-base;
    }
    .issues {
      img {
        width: 15px;
        height: 15px
      }
      .btn {
        border: 0;
        padding: 3px 5px;
        margin-bottom: 3px;
      }
    }
  }
}

#messages-header-section{
  padding: 20px 0;
  background-color: #271e44;
  font-size: 24px;
  color: #fff;
  .img-circle {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  span {
    font-weight: 100;
    margin-left: -3px;
  }
}

#user-header-section {
  width: 100%;
  height: 305px;
  padding: 20px 0;
  background-color: #271e44;
  display: table;
  .img-circle {
    width: 90px;
    height: 90px;
  }
  h2 {
    color: white;
    margin-top: 20px;
  }
}

.profile-box {
  display: table-cell;
  vertical-align: middle;
}
.btn-profile {
  background: #171229;
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
  img {
    margin-right: 5px;
    margin-top: -3px;
  }
}

.issue-header-section {
  padding: 20px 0;
  background-color: #271e44;
  color: #fff;
  .img-circle {
    width: 90px;
    height: 90px;
  }
  a {
    color: #fff;
  }
}

#login-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: $gray-lighter;
  z-index: 9999;
  opacity: .95;
}

#user-gallery {
  padding: 20px 0;
}

/* message 알림 */
.message {
  background-color: #fff;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 10px 20px;
  &__link {
    display: inline-block;
    float: left;
    .profile {
      margin-right: 5px;
      float: left;
    }
    .nickname {
      height: 30px;;
      line-height: 30px;
      float: left;
      color: $brand-primary;
      font-weight: bold;
    }
  }
  &__date {
    height: 30px;
  }
  &__messagable {
    margin-top: 10px;
  }
}

/* dashboard 상단 버튼 */
.post-form {
  position: relative;
  text-align: right;
  padding-top: 20px;
  &__thumb {
    position: absolute;
    left: 0;
    top: 32px;
  }
}
.editors-tab {
  background-color: #fff;
  border-top: 1px solid #dddbdc;
  border-bottom: 1px solid #dddbdc;
  border-right: 1px solid #dddbdc;
  position: relative;
  margin-left: 26px;
  a {
    height: 100px;
    display: table;
    padding: 15px 0;
    text-align: center;
    color: $brand-primary;
    font-weight: bold;
    border-left: 1px solid #dddbdc;
    &:hover, &.active {
      color: #fff;
      background-color: $brand-primary;
    }
    span {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
    }
  }
  .boder-none {
    border: none;
    width: 224px;
  }
  .editors-tab__arrow {
    position: absolute;
    left: -19px;
    margin-top: -10px;
    top: 50%;
  }
}
.form-widget {
  background-color: #fff;
  border: 1px solid $brand-primary;
  padding: 15px;
  margin-left: 79px;
  position: relative;
  &__arrow {
    position: absolute;
    left: -19px;
    top: 25px;
  }
  .input-group {
    width: 100%;
  }
  input[type=text] {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 2px solid #777;
    padding-left: 0;
  }
  a {
    color: #777;
    &:hover {
      color: $brand-primary;
    }
  }
  .btn-primary {
    min-width: 130px;
  }
}

#sign-up {
  width: 600px;
  margin: 60px auto;
}
.sign-up {
  &__title {
    color: #333;
    border-bottom: 2px solid #d2d2d2;
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
  }
  &__txt {
    font-weight: bold;
    margin-bottom: 60px;
    color: #222;
  }
  &__form {
    width: 300px;
    margin: 0 auto;
    hr {
      border-top: 4px solid #d2d2d2;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .form-group {
      margin-bottom: 10px;
      input[type=email], input[type=text], input[type=password] {
        height: auto;
        border-color: #d2d2d2;
        color: #d2d2d2;
        font-size: 15px;
        padding: 10px 15px;
      }
    }
    .help-block {
      margin: 0;
    }
    .btn-primary {
      height: 40px;
      margin-top: 20px;
    }
  }
}
.remember_me {
  color: #777;
  font-weight: normal;
}

.btn-sns {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d2d2d2;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin-bottom: 10px;
  &:hover {
    color: $brand-primary;
  }
  img {
    margin-right: 5px;
  }
}

.shared_links {
  margin-top: 20px;
  a {
    color: #777;
    text-decoration: underline;
  }
}










