section#wikis-page {
  padding-top: 30px;
  padding-bottom: 30px;

  .body {
    border: 1px solid $gray-light;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    .histories {
      color: $gray;
      margin-bottom: 30px;
    }
    p#no-content {
      text-align: center;
      font-size: 18px;
      margin: 50px auto;
      color: $gray;
    }
    a {
      color: $brand-primary;
    }
    img {
      max-width: 100%;
    }
  }

  .new-wiki {
    text-align: right;
    margin-right: 10px;
    line-height: 2em;
  }
}

section.wiki-histories-page,
section.wiki-history-page {
  padding: 20px;
  @media (max-width: $screen-xs-max) {
    padding: 0 0 20px;
  }
  .wiki-content {
    background-color: #fff;
    border-radius: $border-radius-base;
    padding: 20px;
    word-break: keep-all;
    overflow-wrap: break-word;
    .diff-removed {
      background-color: lighten($brand-danger, 25%);
    }
    .diff-added {
      background-color: lighten($brand-success, 25%);
    }
    .diff-touched {
      background-color: lighten($brand-warning, 25%);
    }
  }
  .row-diff {
    margin-top: 20px;
    .post-card__last-stroked {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .wiki-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

section#wiki-histories {
  padding: 20px;
  @media (max-width: $screen-xs-max) {
    background-color: #fff;
  }
  .wiki-title {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 0;
    font-size: $font-size-xlarge;
    font-weight: bold;
  }
}


.wiki-line {
  .wiki-line-body {
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    position: relative;
    max-height: 300px;
    overflow: hidden;
    &-full {
      max-height: none;
    }
    .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px -40px 50px 0px rgba(236, 236, 236, 0.9);
      -webkit-box-shadow: inset 0px -40px 50px 0px rgba(236, 236, 236, 0.9);
      top: 0;
      left: 0;
    }
  }
  .wiki-title {
    font-size: $font-size-xlarge;
    font-weight: bold;
    color: $gray-dark;
    line-height: 1.4em;
    word-break: keep-all;
    overflow-wrap: break-word;
    border: 0;
    margin: 30px 0 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .wiki-body {
    min-height: 70px;
    img {
      max-width: 100%;
    }
  }
  .wiki-authors {
    margin-top: 6px;
    color: $gray-light;
    float: right;
  }
  .wiki-button {
    position: absolute;
    bottom: 14px;
    right: 14px;
  }
  .wiki-preview {
    padding: 12px;
  }
}

.wiki-card {
  margin-bottom: 15px;
  border-radius: $border-radius-base;
  padding: 25px 20px;
  background-color: #fff;
  .wiki-title{
    line-height: 25px;
  }
  .wiki-body {
    min-height: 70px;
    opacity: 0.4;
    img {
      width: 100%;
    }
  }
  &__meta {
    margin-bottom: 10px;
  }
  &__issue {
    max-width: 60%;
    float: left;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $gray-a;
    a {
      color: $gray-a;
      font-size: $font-size-small;
      text-overflow: ellipsis;
    }
  }
  &__group {
    display: inline-block;
  }
  &__date--with-issue {
    float: right;
    span {
      vertical-align: bottom;
    }
  }
}

.wiki-history {
  cursor: pointer;
  background-color: #fff;
  border-bottom:1px solid $gray-lighter;
  margin-top: 0;
  padding: 12px;
  &__link {
    display: inline-block;
    float: left;
    .profile {
      margin-right: 5px;
      float: left;
    }
    .nickname {
      height: 30px;;
      line-height: 30px;
      float: left;
      color: $brand-primary;
      font-weight: bold;
    }
  }
  &__parti {
    color: $gray;
    display: inline-block;
    a {
      color: $gray;
      &:hover{
        color: $link-hover-color;
      }
    }
  }
  &__date.date-wrapper {
    color: $gray;
    font-size: $font-size-base;
    display: inline-block;
  }
}

.wiki-form {
  margin-bottom: 20px;
  textarea {
    min-height: auto;
  }
  .post-card__buttons {
    line-height: 24px;
  }
  .wiki-title {
    @include word-wrap();
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    padding: 0;
    font-size: $font-size-xlarge;
    font-weight: bold;
    text-align: center;
    .label {
      font-size: $font-size-small;
      vertical-align: top;
    }
  }
  .wiki-content {
    &--read-only {
      background-color: #fff;
      border-radius: $border-radius-base;
      padding: 20px;
    }
  }
  .conflict-target-editor{
    padding: 20px;
    border: 3px solid rgba(89, 186, 163, 0.3);

  }
  .conflict-content{
    border: 3px solid rgba(240, 100, 109, 0.3);
  }
  hr.wiki-authors-hr {
    border: 0;
    height: 1px;
    background-color: $gray-lighter;
    margin: 14px 0 4px;
  }
  .wiki-authors {
    margin-top: 6px;
    color: $gray-light;
    float: right;
  }
  .post-card {
    margin-top: 12px;
    .post-card__footer {
      border-top: none
    }
  }

  .form-widget {
    @media (max-width: $screen-xs-max) {
      border-radius: 0;
    }
    a.auto_link{
      color: $brand-primary;
      &:hover{
        color: $brand-primary-light;
      }
    }
  }

  .wiki-issue {
    .media-left {
      vertical-align: middle;
    }
    .media-body {
      vertical-align: middle;
      line-height: 38px;
    }
  }

  #post_wiki_attributes_title {
    color: $gray-dark;
    height: 100%;
    margin-bottom: 12px;
    padding: 14px 12px 10px;
    font-size: $font-size-xlarge;
    font-weight: bold;
    text-align: center;
    border-radius: $border-radius-base;
    border: none;
    word-break: keep-all;
    overflow-wrap: break-word;
    -webkit-appearance: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &:focus {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }

  .parti-select {
    padding: 0;
    .bootstrap-select > .dropdown-toggle.bs-placeholder,
    .bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
    .bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
    .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
      background-color: #fff;
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

.wiki-form.wiki-form-new {
  .form-widget {
    padding-top: 10px;
  }
  #post_wiki_attributes_title {
    margin-top: 20px;
  }
  .wiki-issue-selector {
    padding-top: 20px;
  }
}

.wiki-form {
  .form-control-tinymce {
    min-height: 200px;
    border: none;
    border-radius: $border-radius-base;
    -webkit-appearance: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    -webkiet-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &:focus {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }
}
