section#wikis {
  padding-top: 30px;
}

section#wikis {
  .body {
    border: 1px solid $gray-light;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    .histories {
      color: $gray;
      margin-bottom: 30px;
    }
    p#no-content {
      text-align: center;
      font-size: 18px;
      margin: 50px auto;
      color: $gray;
    }
    a {
      color: $brand-primary;
    }
    img {
      max-width: 100%;
    }
  }

}

section#wiki-history {
  padding-bottom: 40px;
}

body.app-wikis.app-wikis-edit {
  background-color: #fff;
}

section#wiki-edit {
  background-color: #fff;
  border-top: 3px solid $brand-primary;
  .page-title {
    padding-top: 10px;
  }
  .btn-save-wiki {
    padding: 0 20px;
    width: auto;
    float: right;
    &:before {
      content: "저장";
      color: #fff;
    }
    &:hover {
      background-color: $brand-primary;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .link-to-wiki {
    float: right;
    border: none;
    margin-right: 15px;
    &:before {
      content: "취소";
    }
    &:hover {
      text-decoration: underline !important;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .editor-toolbar.fullscreen {
    border-radius: 0;
    top: 100px;
    white-space: initial;
    border: 1px solid #ddd;
    border-bottom: none;
    &:hover {
        opacity: 1;
    }
    @media (max-width: $screen-xs-max) {
      border-top: none;
      top: 90px;
      height: 90px;
    }
  }
  .editor-toolbar.fullscreen::after {
    background: none;
  }
  .CodeMirror.CodeMirror-fullscreen {
    top: 150px;
    margin-bottom: 20px;
    @media (max-width: $screen-xs-max) {
      top: 165px;
    }
  }
  .editor-toolbar,
  .CodeMirror.CodeMirror-fullscreen {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-md;
    }
    left: 50%;
    transform: translate(-50%, 0);
  }
  .form-submit {
    padding-top: 10px;
  }
}
