section#wikis,
section#wiki-edit {
  padding-top: 30px;
}

section#wikis {
  @media (max-width: 768px){
    padding-top: 0px;
  }
  .body {
    border: 1px solid $gray-light;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    .histories {
      color: $gray;
    }
    p#no-content {
      text-align: center;
      font-size: 18px;
      margin: 50px auto;
      color: $gray;
    }
    a {
      color: $brand-primary;
    }
    img {
      max-width: 100%;
    }
  }

}

section#wiki-history {
  padding-bottom: 40px;
}


section#wiki-edit {
  .redactor-toolbar li a.re-button.re-save {
    position: absolute;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $brand-primary;
    color: #fff;
    font-weight: 300;
  }
}
