@import "application";

.key-page{
  height: 350px;
  .messege-box{
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    width: 380px;
    margin-top: 100px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    font-weight: 200;
    color: #3e3e3e;
    span{
      font-weight: bold;
    }
  }
}
