@import "variables_xs";
@import "groups/organizer/variables_organizer";
@import "groups/organizer/organizer";

#site-header .navbar-header .navbar-brand img {
  width: 30px;
}

section#home {
  margin-top: 30px;
}

.key-page{
  .messege-box{
    width: 250px !important;
    margin-top: 60px !important;
  }
}
