@import "application";

#site-header {
  .navbar-fixed-top {
    background-image: image_url('groups/innovators_thumb_main_banner.png');
    background-color: $brand-primary;
  }
}

.key-page{
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: #385482;
  .banner{
    width: 300px;
    height: 150px;
    background-size: cover;
    text-align: center;
    padding: 40px;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  .desc{
    padding: 40px;
    line-height: 22px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }
}

