@import "variables_xs";
@import "groups/kdemo/variables_kdemo";
@import "groups/kdemo/kdemo";

.key-page{
  height: 40px;
  .mobile-link{
    color: white;
    text-align: right;
    padding: 10px 0px;
  }
}
.key-page .banner, .key-page .desc{
  display: none;
}
