%section#parti-organizing
  .container
    .row
      .col-sm-8.col-xs-12
        %h1
          시민작당
          %br
          광장에서 모의하당
        .description
          %p.lead
            지속가능한 다이어트를 원하는 사람들이 모여 당을 만들 수 있을까요?
            %br
            같은 골목에 사는 사람들이 모여 당을 만들 수 있을까요?
          %p.lead
            그 가능성을 상상하는 사람들이 광장에 모입니다.
            %br
            새로운 정치를 위한 우리의 작당이 시작됩니다.
            %br
            누구나 자신만의 의제로 자신의 정치를 할 수 있는 나만의 당 만들기!
            %br
            이를 통해 광장 너머 우리 삶 구석구석에도 촛불이 켜집니다.
          %p.lead
            "나만의 의제로 나만의 정당을!"
            %br
            %span
              %strong.text-primary<> 시민작당
              빠띠를
            만들고 함께 할 사람들을 초대해보세요.
            = link_to '빠띠란?', 'https://github.com/parti-xyz/catan-web/wiki/%EB%B9%A0%EB%9D%A0-%ED%99%9C%EC%9A%A9-%EA%B0%80%EC%9D%B4%EB%93%9C', target: "_blank", class: 'text-primary', style: 'font-weight: bold; text-decoration: underline;'
      .col-sm-4.hidden-xs
        = image_tag 'img_about_1.png', class: 'key-visual'
