.key-page
  .key-page-desc
    .key-page-title
      해결해보고 싶은 나만의 _______ 가 있나요?
      %br
      망설이지말고, 고!
    %button.btn.btn-warning{onclick:"window.open('https://medium.com/%EC%9E%91%EC%A7%80%EB%A7%8C-%EB%A9%8B%EC%A7%84-%EC%9D%BC-%EB%AF%B8%ED%8A%B8%EC%89%90%EC%96%B4/%EB%AF%B8%ED%8A%B8%EC%89%90%EC%96%B4%EC%9D%98-%ED%83%95%EB%B9%84%EC%8B%A4-%EA%B8%B0%EB%B3%B8%EB%B9%A0%EB%9D%A0-%EC%86%8C%EA%B0%9C-14ce93ad09f7')"}
      유쓰망고 마켓 사용법
    %span.visible-xs-block
    %button.btn.btn-facebook{onclick:"window.open('https://parti-xyz.gitbooks.io/issue-guide/content/')"}
      %i.fa.fa-facebook
      유쓰망고 페이스북
