// base
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/mixin";
@import "base/reset";

// layouts
@import 'layout';

// components
@import 'components/buttons';
@import 'components/icons';
@import 'components/navbar';
@import 'components/aside';
@import 'components/home';
@import 'components/issues';
@import 'components/posts';
@import 'components/post_modal';
@import 'components/references';
@import 'components/polls';
@import 'components/posts';
@import 'components/wikis';
@import 'components/comments';
@import 'components/users';
@import 'components/tags';
@import 'components/share_boxes';
@import 'components/modal';
@import 'components/editor';
@import 'components/page';
@import 'components/admin';
@import "components/shared";
@import "components/groups";
@import "components/messages";
@import "components/messenger";
@import "dev";

// pages
.popover-static .popover {
  position: relative;
  display: block;
  margin: 20px 0;
  z-index: 0;
}

// jquery.oembed video
@media only screen and (min-width: 480px){
  .oembedall-container iframe {
    height: 347px !important;
  }
}
