// base
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/mixin";
@import "base/reset";

// layouts
@import 'layout';

// components
@import 'components/buttons';
@import 'components/icons';
@import 'components/navbar';
@import 'components/aside';
@import 'components/home';
@import 'components/issues';
@import 'components/posts';
@import 'components/post_modal';
@import 'components/references';
@import 'components/polls';
@import 'components/wikis';
@import 'components/comments';
@import 'components/users';
@import 'components/share_boxes';
@import 'components/modal';
@import 'components/editor';
@import 'components/page';
@import 'components/admin';
@import "components/base";
@import "components/groups";
@import "components/messages";
@import "components/messenger";
@import "components/members";
@import "components/surveys";
@import "components/polls_or_surveys";
@import "components/commons";
@import "components/decisions";
@import "components/group_managements";
@import "components/landing_pages";
@import "components/dashboard";
@import "components/tinymce_custom";
@import "components/tinymce_body";
@import "components/folders";
@import "dev";

// pages
.popover-static .popover {
  position: relative;
  display: block;
  margin: 20px 0;
  z-index: 0;
}

// keep all
.text-basic-wrap {
  word-break: keep-all;
  overflow-wrap: break-word;
}

// webp
body.no-webp .webp {
  display: none !important;
}
