/* bg */
.bg-default {
  color: $gray;
  background-color: $gray-lighter;
  padding: $alert-padding;
}
.bg-line {
  background-image: asset_url('line-primary.png');
  background-repeat: repeat-y;
  background-position: 25px;
}

/* tabs */
#content-tab-section {
  .nav-tabs {
    border-color: #d2d2d2;
    padding-left: 60px;
    li {
      margin: 0 20px;
      a {
        color: $gray;
        padding: 0px 15px;
        border: none;
        &:hover {
          background-color: transparent;
        }
        .text-primary {
          color: #be97ff;
        }
      }
      &.active > a {
        color: $brand-primary;
        border-bottom: 2px solid $brand-primary;
        background: transparent;
      }
    }
    &__count {
      min-width: 23px;
      background: #232326;
      color: #fff;
      position: absolute;
      padding: 1px 8px 0px;
      left: 50px;
      top: -10px;
      text-align: center;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      white-space: nowrap;
    }
  }
  .message-tab {
    padding: 0;
    color: #777;
    position: relative;
  }
}

@media (max-width: 768px) {
  #content-tab-section .nav-tabs {
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;
    &.message-tab {
      padding-left: 20px;
    }
    li {
      margin: 0;
      text-align: center;
      a {
        h4 {
          font-size: 15px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
    .count-label {
      position: static;
      display: inline-block;
      padding: 1px 5px 0px;
      font-size: $font-size-small;
    }
  }
}

.count-label-wrapper {
  font-size: $font-size-small;
  line-height: 1.8;
  position: relative;
  display: inline-block;
}
.count-label {
  background-color: $gray-darker;
  position: absolute;
  padding: 1px 8px 0px;
  color: #fff;
  top: -25px;
  left: -3px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  white-space: nowrap;
}

/* pagination */

.pagination-wrapper {
  text-align: center;
  .pagination {
    margin-top: 30px;
    &>li {
      font-size: $font-size-small;
      color: $gray-dark;
      padding: 0 10px;
      &.active {
        color: $brand-primary;
        font-weight: bold;
      }
      &>a, &>span {
        float: none;
        background: transparent;
        border: none;
        color: $gray;
        padding: 0;
      }
      &>a:hover, &>a:focus, &>span:hover, &>span:focus {
        background: transparent;
        color: $brand-primary;
        font-weight: bold;
      }
      &.next>a, &.prev>a {
        border: 1px solid $gray-light;
        padding: 6px 10px;
        border-radius: 4px;
      }
      &.next>a:hover, &.prev>a:hover {
        border: 1px solid $brand-primary;
      }
    }
  }
}

/* text */
.fa-heart.text-primary {
  margin-right: 3px;
}
.date-wrapper {
  text-align: right;
  color: #aaaaaf;
  font-size: 12px;
  span {
    vertical-align: top;
    line-height: 1.7em;
    padding-left: 3px;
  }
}
.page-title {
  margin-bottom: 25px;
  h4 {
    color: #777;
  }
}

/* thumb */
.circle-25 {
  width: 25px;
  height: 25px;
  background-color: #fff;
}
.circle-30 {
  width: 30px !important;
  height: 30px !important;
  background-color: #fff;
}
.circle-50 {
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.circle-60 {
  width: 60px;
  height: 60px;
  background-color: #fff;
}
.circle-140 {
  width: 140px;
  height: 140px;
  background-color: #fff;
}
.thumb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* border */
.border-2-primary {
  border: 2px solid $brand-primary;
}


/* inline editor form */
.form-widget-container {
  display: none;
}

.devider {
  border-bottom: 1px solid #d2d2d2;
  line-height: 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  span {
    background-color: #f5f5f9;
    color: #777;
    padding: 0 10px;
  }
}
br.mobile {
  display: none;
}

/* form */
label.required:after {
  content: " *";
}

.checkbox {
  margin-top: 0;
}


/* retina image */
.user-notice, .user-link {
  img {
    width: 16px;
    height: auto;
  }
}
.vote__results, .vote__buttons {
  img {
    width: 20px;
    height: auto;
  }
}
.post-card__count, .post__comment, .comment-count {
  img
  {
    height: 16px !important;
  }
}
.user-count {
  img {
    height: 16px !important;
  }
}
.comment__mention, .comment__btn {
  img {
    width: 25px;
    height: auto;
  }
}
.post-card__date, .date-wrapper {
  img {
    height: 16px !important;
  }
}
.btn-new-comment {
  img {
    height: 16px !important;
  }
}
.footer-sns {
  img {
    width: 41px;
    height: auto;
  }
  img#{&}--yellow {
    width: 135px;
    height: auto;
  }
}

.valign {
  vertical-align: middle;
}

.label-as-badge {
  border-radius: 1em;
}

.badge-notify {
  position:relative;
  top: -20px;
  left: -35px;
}

.page_waypoint {
  margin-bottom: 10px;
  &__loading {
    color: $gray;
    display: none;
  }
}
