/* bg */
.bg-default {
  color: $gray;
  background-color: $gray-lighter;
  padding: $alert-padding;
}
.bg-line {
  background-image: asset_url('line-primary.png');
  background-repeat: repeat-y;
  background-position: 25px;
}

/* tabs */
#content-tab-section {
  .nav-tabs {
    border-color: #d2d2d2;
    padding-left: 60px;
    li {
      margin: 0 20px;
      a {
        color: $gray;
        padding: 0px 15px;
        border: none;
        &:hover {
          background-color: transparent;
        }
        .text-primary {
          color: #be97ff;
        }
      }
      &.active > a {
        color: $brand-primary;
        border-bottom: 2px solid $brand-primary;
        background: transparent;
      }
    }
    &__count {
      min-width: 23px;
      background: #232326;
      color: #fff;
      position: absolute;
      padding: 1px 8px 0px;
      left: 50px;
      top: -10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      white-space: nowrap;
    }
  }
  .message-tab {
    padding: 0;
    color: #777;
    position: relative;
    .nav-tabs__count {
      left: 35px;
    }
  }
}

/* text */
.fa-heart.text-primary {
  margin-right: 3px;
}
.date-wrapper {
  text-align: right;
  color: #aaaaaf;
  font-size: 12px;
  span {
    vertical-align: top;
    line-height: 1.7em;
    padding-left: 3px;
  }
}

/* thumb */
.circle-30 {
  width: 30px;
  height: 30px;
}
.circle-50 {
  width: 50px;
  height: 50px;
}
.circle-60 {
  width: 60px;
  height: 60px;
}

/* border */
.border-2-primary {
  border: 2px solid $brand-primary;
}

/* icon */
.btn-icon {
  width: 20px;
  height: 18px;
  overflow: hidden;
  display: inline-block;
  &--small {
    width: 16px;
    height: 17px;
  }
  &--big {
    width: 25px;
    height: 25px;
  }
}
.btn-icon--small:hover img {
  margin-top: -17px;
}
.btn-icon--big:hover img {
  margin-top: -25px;
}


/* button */
.btn-border {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-left: 10px;
  padding-top: 10px;
  &:hover img {
   margin-top: -21px;
  }
  span {
    vertical-align: top;
  }
}

/* inline editor form */
.form-widget-container {
  display: none;
}
