section#components {
  section#colors {
    div.col-xs-2 {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 60px;
      text-align: center;
    }
    .color-brand-primary {
      background-color: $brand-primary;
    }
    .color-brand-primary-darker {
      background-color: $brand-primary-darker;
      color: #fff;
    }
    .color-brand-primary-dark {
      background-color: $brand-primary-dark;
      color: #fff;
    }
    .color-brand-primary-light {
      background-color: $brand-primary-light;
    }
    .color-brand-primary-lighter {
      background-color: $brand-primary-lighter;
    }
    .color-brand-success {
      background-color: $brand-success;
    }
    .color-brand-info {
      background-color: $brand-info;
    }
    .color-brand-warning {
      background-color: $brand-warning;
    }
    .color-brand-danger {
      background-color: $brand-danger;
    }
    .color-gray-base {
      background-color: $gray-base;
      color: #fff;
    }
    .color-gray-darker {
      background-color: $gray-darker;
      color: #fff;
    }
    .color-gray-dark {
      background-color: $gray-dark;
      color: #fff;
    }
    .color-gray {
      background-color: $gray;
      color: #fff;
    }
    .color-gray-light {
      background-color: $gray-light;
    }
    .color-gray-lighter {
      background-color: $gray-lighter;
    }
  }

  section#typo {
    p.font-size-base {
      font-size: $font-size-base;
    }
    p.font-size-large {
      font-size: $font-size-large;
    }
    p.font-size-small {
      font-size: $font-size-small;
    }
  }
}