footer {
  height: $footer-height;
  width: 100%;
  height: auto;
  padding: 25px;
  .footer-logo {
    color: #757375;
    border-bottom: 1px solid #d9d9dd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &__img {
      width: 68px;
      height: auto;
      float: left;
    }
    &__txt {
     float: right;
     font-size: 12px;
     font-weight: bold;
    }
  }
  .footer-link {
    line-height: 2;
    border-bottom: 1px solid #d9d9dd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    a {
      color: #b1b0b1;
    }
  }
  .footer-sns {
    border-bottom: 1px solid #d9d9dd;
    padding-bottom: 15px;
    margin-bottom: 20px;
    a {
      margin-right: 5px;
    }
  }
}

@media(max-width:767px){
  body {
    margin-bottom: 125px;
  }
  footer#site-footer {
    height: $footer-height - 125;
    padding: 15px 0;
      .site-footer__links {
        line-height: 1.2;
        text-align: left;
        ul {
          padding: 10px 0;
          display: inline-block;
        }
      }
  }

}
