footer {
  height: $footer-height;
  width: 100%;
  height: auto;
  padding: 25px;
}
.footer-logo {
  border-bottom: 1px solid #d9d9dd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  &__img {
    width: 64px;
    height: auto;
    float: left;
  }
  &__txt {
    color: #757375;
    float: right;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -2px;
    right: 0px;
  }
}
.footer-link {
  line-height: 2;
  border-bottom: 1px solid #d9d9dd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  a {
    color: #b1b0b1;
  }
}
.footer-sns {
  border-bottom: 1px solid #d9d9dd;
  padding-bottom: 15px;
  margin-bottom: 20px;
  a {
    margin-right: 5px;
  }
}

/* parti-intro */
.parti-intro {
  width: 100%;
  height: 650px;
  background-image: asset_url('thumb_main_keyvisual.png');
  background-size: cover;
  background-position: center;
  .container {
    height: 100%;
    display: table;
  }
  .parti-intro-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  &__count {
    color: #fff;
    font-size: 100px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -0.02em;
    .count {
      color: #ffde00;
      font-weight: 900;
      margin-right: -17px;
      font-weight: bold;
    }
  }
  a#{&}__btn_about {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #ffde00;
    color: #5729ad;
    font-weight: 900;
    font-size: 1.5em;
    padding: 15px 30px;
    margin-top: 1em;
    &:hover {
      color: #5729ad;
      background: #fff000;
    }
  }
}
.recommend-parti-wrapper {
  width: 100%;
  height: 480px;
  background-image: asset_url('thumb_main_recommand.png');
  background-size: cover;
  background-position: center;
  border-top: 4px solid $brand-primary;
  padding: 20px 0;
  color: #fff;
  .panel {
    background: transparent;
    border: transparent;
    &:first-child {
      border-bottom: 1px solid #919193;
    }
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
    padding-bottom: 0;
  }
  .panel-heading {
    padding-top: 0px;
    a {
      display: block;
      position: relative;
      .icon {
        position: absolute;
        right: 0;
        top: 26px;
        width: 24px;
        height: 13px;
        overflow: hidden;
        img {
          margin-top: -17px;
          width: 24px;
          height: auto;
        }
      }
      &.collapsed {
        .icon {
          img {
            margin-top: 0;
          }
        }
      }
    }
  }
  .title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }
  .issue-logo {
    display: inline-block;
    width: 33px;
    height: 33px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
   vertical-align: top;
   margin-top: 17px;
  }
  .issue-title {
    display: inline-block;
    font-weight: bold;
  }
  .issue-body {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    padding-top: 17px;
  }
}
.recommend-parti-list {
  li {
    height: 230px;
    border-left: 1px solid #5d5c5f;
    position: relative;
    .post--box {
      cursor: pointer;
      .thumb {
        height: 130px;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        margin-bottom: 20px;
        cursor: pointer;
      }
      .body {
        font-size: 18px;
        max-height: 42px;
        overflow: hidden;
        word-break: break-all;
        line-height: 1.2;
      }
    }

    &:first-child {
      border-left: none;
    }

    .user {
      position: absolute;
      left: 15px;
      bottom: 0;
      a {
        img {
          margin-right: 5px;
        }
        color: $brand-primary;
        font-weight: bold;
      }
    }
  }
}
.banner-parti-wrapper {
  background-color: #fff;
  h3 {
    color: #858486;
    margin-bottom: 0;
    margin-top: 40px;
  }
  h2 {
    color: #5720b0;
    font-weight: bold;
    margin-top: 10px;
  }
  .btn-primary {
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 18px;
    padding: 15px 20px;
    font-weight: bold;
    border-color: $brand-primary;
  }
  .col-xs-5 {
    float: right;
  }
}
.join-parti-wrapper {
  width: 100%;
  height: 440px;
  background-image: asset_url('thumb_main_bottom.png');
  background-size: cover;
  background-position: right;
  border-top: 4px solid $brand-primary;
  .col-xs-9 {
    img, .txt {
      float: left;
      display: inline-block;
    }
    .txt {
      color: #3f3d42;
      font-size: 15px;
      line-height: 1.5em;
      margin-top: 60px;
      margin-left: 60px;
    }
  }
  .btn {
    background-color: #966fd6;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 10px;
    &:hover {
      background-color: #7947cb;
      border-color: #6735b9
    }
  }
}










