footer {
  height: $footer-height;
  width: 100%;
  height: auto;
  padding: 25px;
  background: $gray-light;
  border: 1px solid #bababb;
  .footer-logo {
    color: #fff;
    border-bottom: 1px solid #b1b0b1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &__img {
      width: 85px;
      height: auto;
      margin-bottom: 10px;
    }
  }
  .footer-link {
    line-height: 2;
    border-bottom: 1px solid #b1b0b1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    a {
      color: #fff;
    }
  }
  .footer-sns {
    border-bottom: 1px solid #b1b0b1;
    padding-bottom: 15px;
    margin-bottom: 20px;
    a {
      margin-right: 5px;
    }
  }
}

@media(max-width:767px){
  body {
    margin-bottom: 125px;
  }
  footer#site-footer {
    height: $footer-height - 125;
    padding: 15px 0;
      .site-footer__links {
        line-height: 1.2;
        text-align: left;
        ul {
          padding: 10px 0;
          display: inline-block;
        }
      }
  }

}
