// base
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "base";
@import "component";
@import "dev";

// vendors
@import "bootstrap.offcanvas";
@import "jquery.oembed";
@import "jssocials";
@import "owl.carousel";
@import "owl.theme.default";
@import "tabdrop";

// layouts
@import 'layout';

// components
@import 'components/navbar';
@import 'components/aside';
@import 'components/issues';
@import 'components/posts';
@import 'components/articles';
@import 'components/opinions';
@import 'components/talks';
@import 'components/comments';
@import 'components/users';
@import 'components/shares';
@import 'components/modal';
@import 'components/page';

// pages
.popover-static .popover {
  position: relative;
  display: block;
  margin: 20px 0;
  z-index: 0;
}

// jquery.oembed video
@media only screen and (min-width: 480px){
  .oembedall-container iframe {
    height: 347px !important;
  }
}

.form-control {
  color: $gray-darker;
}
