@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
  body, .container, #aside, .col-xs-9 {
    width: 100% !important;
    min-width: 100%;
  }
  .parti-intro {
    width: 100% !important;
    min-width: 100%;
    display: none;
  }
  .issue-calendar, .aside_hottest_posts, .aside_issue, #aside hr {
    display: none;
  }
  .fb_iframe_widget_fluid {
    display: none !important;
  }
  /* header */
  .navbar-default {
    padding: 10px;
  }
  .navbar-header .navbar-brand img {
    width: 65px;
  }
  /* footer */
  footer {
    padding: 0;
    margin-top: 60px;
    .footer-logo {
      padding-top: 15px;
      border-top: 1px solid #d9d9dd;
      &__txt {
        float: left;
        padding-left: 7px;
        font-size: 14px;
        padding-top: 6px;
        br {
          display: none;
        }
      }
    }
  }
  /* header */
  .btn-mobile-menu {
    margin-right: -15px;
    margin-top: 5px;
    img {
      zoom: 0.5;
    }
  }
}
.mobile-list {
  width: 260px;
  background: #fff;
  border-left: 1px solid #ddc8ff;
  position: absolute;
  right: -260px;
  top: 0;
  z-index: 9999;
  display: none;
  &__profile {
    width: 100%;
    height: 300px;
    background-color: #271e44;
    text-align: center;
    padding-top: 70px;
    .user-image, .default-profile {
      width: 60px;
      height: 60px;
      display: block;
      margin: 10px auto;
    }
    .text-nowrap {
      font-size: 18px;
      color: #fff;
      font-weight: bold;
    }
    .btn-new-user {
      color: #777;
      background-color: #fff;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      display: inline-block;
      margin-top: 10px;
    }
  }
  .mobile_bell {
    width: 43px;
    height: 43px;
    display: block;
    margin: 10px auto;
  }
  &__menu {
    padding-left: 40px;
    li {
      border-bottom: 1px solid #ddc8ff;
      a {
        color: #966fd6;
        padding: 10px 0;
        display: block;
      }
    }
  }
  &__close {
    position: absolute;
    left: -48px;
    width: 48px;
    height: 48px;
    background: #fff;
    padding: 10px;
    cursor: pointer;
  }
}

#content-tab-section .nav-tabs {
  padding-left: 0;
  margin-left: -15px;
  margin-right: -15px;
  &.message-tab {
    padding-left: 20px;
  }
  li {
    margin: 0 10px 0 0;
    text-align: center;
    a {
      h4 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .nav-tabs__count {
    min-width: 20px;
    position: static;
    display: inline-block;
    padding: 1px 5px 0px;
  }
}

.editors-tab {
  margin-left: 10px;
}

.editors-tab {
  a {
    height: 90px;
    padding: 0;
    img {
      display: block;
      zoom: 0.7;
      margin: 0 auto 5px auto;
    }
  }
  .boder-none {
    width: 33.33333333%;
  }
}







/* comment */

.comment {
  margin-left: 10px;
  padding: 20px 10px 10px;
  &__link {
    margin-left: 10px;
  }
}

/* post */
.post {
  padding: 10px;
  &__title {
    font-size: 16px;
  }
}

.post-inline {
  margin-bottom: 0;
  padding: 10px;
  &__title {
    width: 85%;
    font-size: 12px;
  }
  &__comment {
    img {
      zoom: 0.8;
    }
  }
}

/* component */
.bg-line {
  background-position: 9px;
}
.form-widget {
  margin-left: 10px;
  margin-top: -1px;
  padding: 20px 10px 5px;
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.share-box {
  float: none;
}
.date-wrapper {
  img {
    zoom: 0.7;
  }
}

/* login */
.login-box {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  &__txt {
    margin: 30px 0;
    font-size: 24px;
  }
}
#sign-up {
  width: 90%;
  margin: 40px auto;
  h1, h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
}
.sign-up {
  &__title {
    margin-bottom: 40px;
  }
  &__txt {
    margin-bottom: 40px;
  }
  &__form {
    width: 100%;
  }
}

/* page */
.page-bg {
  padding: 20px 10px;
}
.page-wrapper {
  width: 100%;
}

/* vote */
.card {
  width: 100%;
}
.opinion-card {
  padding: 10px;
  &__title {
    margin: 15px 0;
    font-size: 16px;
  }
}
.opinion__vote-section {
  .btn {
    min-width: 110px;
  }
}
.vote__new {
  font-size: 14px;
  .btn-vote {
    padding: 10px;
    img {
      zoom: 0.5;
      margin-right: 10px;
      margin-left: 0;
    }
  }
  .vote__new-img {
    display: block;
    margin-top: 10px;
  }
}

/* editor */
.textarea-box {
  .icon-tooltip {
    left: 27% !important;
  }
  textarea {
    width: 73% !important;
    margin-left: 27% !important;
  }
}

/* modal */

.modal__top {
  padding: 10px;
  font-size: 12px;
  .modal__btn {
    width: 50px;
    height: 50px;
    img {
      zoom: 0.8;
    }
  }
}
.modal__content {
  padding: 20px;
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.modal__comment {
  padding: 20px 10px;
  .btn-new-comment {
    padding: 7px 10px;
    font-size: 12px;
    img {
      zoom: 0.7;
    }
  }
  .comments--count {
    left: 70px;
    font-size: 10px;
    padding: 2px 6px 0px;
  }
}

.post__body {
  margin-top: 0;
  margin-bottom: 0;
  .media {
    margin-top: 0;
  }
}
.article__body__text-container {
  padding: 10px;
  font-size: 12px;
}
.article__body__link-container {
  padding: 10px;
  .text-primary {
    font-size: 12px;
    img {
      zoom: 0.8;
      margin-right: 5px
    }
  }
}
.comment-form__area {
  width: auto;
  float: none;
  padding-left: 23%;
  img {
    left: 18%;
  }
  .form-control {
    margin: 0;
  }
}
.comment-form__btn {
  padding: 10px 20px !important;
}


/* message */

#messages-header-section {
  font-size: 16px;
}







