- post = message.messagable
- if message.action.to_s == 'pin_post'
  #{link_to message.sender.nickname, smart_user_gallery_url(message.sender)}님이 게시글을 고정했습니다.
- elsif message.action.to_s == 'mention'
  #{link_to post.user.nickname, smart_user_gallery_url(post.user)}님이 게시글에서 나를 멘션했습니다.

