%span.category-control
  %span.dropdown.dropdown-xs-actionsheet.js-dropdown-xs-actionsheet
    %a.dropdown-toggle{ "href": "#", "data-toggle": "dropdown" }
      이동
      %i.fa.fa-ellipsis-v
    %ul.dropdown-menu
      - target_categories = current_group.categories.where.not(id: issue.category)
      - target_categories.each do |category|
        %li.move-button
          = link_to update_category_issue_path(issue, category_id: category.id), method: :put, remote: true, data: { 'disable-with': '이동 중...' } do
            = category.name
      - if issue.category.present?
        - if target_categories.any?
          %li.divider
        %li.remove-button
          = link_to destroy_category_issue_path(issue, category_id: issue.category.id), method: :delete, remote: true, data: { 'disable-with': '이동 중...' } do
            = issue.category.name
            카테고리에서 삭제
