- annoucement = message.messagable
- if 'create_announcement' == message.action.to_s
  = link_to front_post_path(annoucement.post) do
    %strong
      게시글 필독요청을 받았습니다.
    %span.text-muted.ml-1
      = date_f message.created_at
    %div=annoucement.post.specific_desc_striped_tags(100)
