- survey = message.messagable
- post = survey.post

= link_to front_post_path(post) do
  %strong
    #{post.user.nickname}님이 올린 설문의 결과가 나왔습니다.
  %small.text-muted.text.ml-1
    = date_f message.created_at
  %br
    = post.specific_desc_striped_tags(100)
