%section
.container
  %h3.text-center
    버터나이프크루 커뮤니티 가이드
    %br
    %small
      Code of Conduct

  .simple-box.mx-auto
    %p
      버터나이프크루 커뮤니티는 성평등한 사회로의 변화를 만들기 위해 모인 크루들에게 안전한 커뮤니티 공간입니다. 아래 가이드를 참고하여 모두를 위한 커뮤니티로 함께 만들어가요. 🙌

    %ul.ml-3.my-5

      %li.my-2
        버터나이프크루 커뮤니티에서는 나이, 외모, 성별, 학력, 장애여부, 지역에 따른 차별이 금지되어 있습니다. 이를 어길 경우 커뮤니티 운영진 또는 다른 동료들이 제지할 수 있습니다.

      %li.my-2
        버터나이프크루는 다양한 커뮤니티 활동에 적극적으로 참여합니다. 댓글 하나부터, 질문, 제안, 프로그램 참여 등 모든 참여를 환영하고 서로 적극적으로 반응합니다. 우리가 나누는 모든 대화가 우리를 변화시키고 성장시킬 것이라 믿습니다.

      %li.my-2
        버터나이프크루 커뮤니티의 긍정적인 환경을 조성하기 위해 크루들은 서로 다른 경험과 관점을 존중하고, 다른 커뮤니티 구성원에 대한 공감을 표현하며, 열린 마음으로 건설적인 피드백을 수용합니다.

      %li.my-2
        버터나이프크루 커뮤니티에서는 서로 높임말을 사용해주세요. 서로 잘 아는 사이더라도 연령, 직급, 연차와 상관없이 평등한 문화를 가꾸기 위해 높임말을 기본으로 사용합니다.

      %li.my-2
        버터나이프크루 커뮤니티는 완벽한 결과보다 과정을 함께 만들어가며 점진적으로 개선해 나갑니다. 개선해 나가는 과정에서는 버터나이프크루 누구나 제안하고 토론에 참여하여 함께 결정할 수 있습니다.

      %li.my-2
        버터나이프크루는 우리의 커뮤니티를 스스로 함께 만드는 구성원으로서 위의 약속을 함께 지킵니다.

    %p
      커뮤니티 가이드는 모든 크루와 함께 만듭니다. 의견이 있다면 아무말대잔치 채널에 올려주시거나 버터타이프크루 운영진 이메일 help@butterknifecrew.kr 로 보내주세요. 새로운 제안은 언제나 환영합니다.

    %p.my-5
      💁🏻커뮤니티 플랫폼에 관한 궁금한 점이나, 문제는 카카오 채널로 언제든 문의해주세요.
      %br
      (문의 가능 시간: 월~금 오전 10시 - 오후 5시)
      %br
      💬카카오톡 채널 '버터나이프크루' @butterknifecrew