%li.menu-line{ class: ('highlight' if (current_page?('/parties') and current_group.blank?)) }
  = link_to issues_url(subdomain: nil) do
    %i.fa.fa-compass.fa-fw
    그룹 탐색
- if !user_signed_in? or !current_user.member_issues.any?
  %li.menu-line.menu-line-divider.inactive
    인기 그룹
  - hot_issues = Issue.only_public_hottest(5).where.not(group_slug: current_group&.slug).to_a.group_by{ |issue| issue.group_slug }
  - if hot_issues.any?
    - hot_issues.each do |group_slug, issues|
      = render 'application/drawer_issues', target_group: Group.find_by(slug: group_slug)
- if user_signed_in?
  %li.menu-line{ class: ('highlight' if current_page?('/group/configuration/new')) }
    = link_to new_group_configuration_url(subdomain: nil) do
      %i.fa.fa-magic.fa-fw
      그룹 만들기