%li.menu-line#js-my-menu-drawer_issues.js-lazy-partal-load{ data: { url: my_menus_path } }
  - 3.times do
    .skeletons
      .menu-line.skeleton-title
      %ul.list-unstyled
        - 3.times do
          %li.skeleton-item{ style: "width: #{[70, 100, 80].sample}%;" }
