%li.head-line.parti-search-form.js-drawer-filter-item.js-drawer-filter-form
  = form_tag issues_url(subdomain: nil), method: :get, id: 'drawer-search' do
    .form-group
      %input.form-control.form-control-drawer-filter.js-drawer-filter{ name: "keyword", placeholder: "빠띠 찾기", type: "search", 'data-action': 'parti-clearable-search' }
      %span.btn-wrapper
        %button.btn.btn-link
          %i.fa.fa-search


%li.menu-line.parti-search-more.js-drawer-filter-item.js-drawer-filter-more.hidden
  = link_to '#', class: 'action-link', data: {action: 'parti-form-submit', 'form-target':'form#drawer-search' } do
    %i.fa.fa-search
    빠띠 더 찾아보기
    %i.fa.fa-arrow-right

