%li.head-line.parti-search-form
  = form_tag issues_url(subdomain: nil), method: :get do
    .form-group
      %input.form-control{ name: "keyword", placeholder: "빠띠 찾기", type: "search" }
      %span.btn-wrapper
        %button.btn.btn-link
          %i.fa.fa-search
