%li.head-line.parti-search-form#js-drawer-fixed-height.js-drawer-filter-item.js-drawer-filter-form
  - drawer_search_id = "drawer-search-#{SecureRandom.uuid}"
  .form-group
    %input.form-control.form-control-drawer-filter.js-drawer-filter.fontawesome-placeholder{ id: drawer_search_id, name: "keyword", type: "search", 'data-action': 'parti-clearable-search', autocomplete: "off", placeholder: raw('&#xf120; 내 그룹&middot;채널 바로가기') }

%li.menu-line.parti-search-more.js-drawer-filter-item.js-drawer-filter-more.hidden
  .action-link.js-parti-drawer-search.cursor-pointer{ 'data-url': issues_url(subdomain: nil), 'data-input-target': "##{drawer_search_id}" }
    %i.fa.fa-search.fa-fw
    전체에서 찾기
    %i.fa.fa-arrow-right

