%li.menu-line
  = link_to discover_url(subdomain: nil), 'aria-label': only_mobile_app(request, 'drawer-discover'), class: "#{'active' if current_page?('/discover')}" do
    %i.fa.fa-fort-awesome
    새로운 발견
%li.menu-line
  = link_to issues_url(subdomain: nil), class: "#{'active' if current_page?('/parties')}" do
    %i.fa.fa-search
    빠띠 찾기
