%section.visible-xs-block#group-home-submenu
  .container
    %nav
      %ul.list-inline
        %li{ class: ('active' if local_assigns[:active] == 'home') }
          = link_to '빠띠찾기', root_path
        %li{ class: ('active' if local_assigns[:active] == 'polls_or_surveys') }
          = link_to t('labels.polls_or_surveys'), polls_or_surveys_path
        %li{ class: ('active' if local_assigns[:active] == 'links_or_files') }
          = link_to t('labels.links_or_files'), links_or_files_path
