%section#messenger-balloon
  = link_to 'http://m.me/parti.xyz', target: '_blank', data: { trigger: 'hover', action: 'parti-popover', placement: "top-left", content: '궁금하거나 불편한 점이 있으세요?', style: 'inverse', target: 'messenger-balloon'} do
    = image_tag 'btn_messenger.png'
