%nav.navbar.navbar-default.navbar-fixed-top
  .container.clearfix
    .navbar-header.pull-left{ style: 'position: relative' }
      %a.navbar-brand{ href: root_path }
        %img{ alt: 'parti', src: asset_path('parti_logo_purple.png')}
    %a.btn-mobile-menu.pull-right{ href: '#'}
      = image_tag 'btn_mobile_menu.png'