#js-modal-placeholder.modal-placeholder
  .modal.fade{role: "dialog", tabindex: "-1"}
    .modal-dialog.collapse.js-modal-placeholder-action-dialog
    .modal-dialog.js-modal-placeholder-loading-dialog
      .modal-content
        .modal-body
          .text-center
            %i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw
        .js-modal-placeholder-origin-body
