- bell_icon = capture do
  - if current_user.push_notification_mode == :on
    %i.fa.fa-bell
  - elsif current_user.push_notification_mode == :no_sound
    %i.fa.fa-bell-slash
  - elsif current_user.push_notification_mode == :off
    %i.fa.fa-bell-slash
    %sup
      z
      %sup
        z

= link_to messages_url(subdomain: nil), class: "#{'active' if current_page?(controller: '/messages', action: :index)}" do
  %span.active-bell.js-active-bell{ class: ('collapse' if current_user.cached_important_messages_count <= 0) }
    = bell_icon
    %span.label.label-danger{ style: 'width: 10px; height: 10px; position: absolute; padding: 0; border-radius: 5px; right: 5px; top: 5px;'}
  %span.js-inactive-bell{ class: ('collapse' if current_user.cached_important_messages_count > 0) }
    = bell_icon
