%meta{:content => "빠띠 앱", :name => "smartbanner:title"}
%meta{:content => "팀과 커뮤니티를 위한 민주주의 플랫폼", :name => "smartbanner:author"}
%meta{:content => "FREE", :name => "smartbanner:price"}
%meta{:content => " - On the App Store", :name => "smartbanner:price-suffix-apple"}
%meta{:content => " - In Google Play", :name => "smartbanner:price-suffix-google"}
%meta{:content => image_url('icon-app.png'), :name => "smartbanner:icon-apple"}
%meta{:content => image_url('icon-app.png'), :name => "smartbanner:icon-google"}
%meta{:content => "보기", :name => "smartbanner:button"}
%meta{:content => "https://itunes.apple.com/kr/app/%EB%B9%A0%EB%9D%A0/id1362474504", :name => "smartbanner:button-url-apple"}
%meta{:content => "https://play.google.com/store/apps/details?id=xyz.parti.catan", :name => "smartbanner:button-url-google"}
%meta{:content => "android,ios", :name => "smartbanner:enabled-platforms"}
