%section#top-banner{class: ( current_group.present? ? 'gwangju' : 'all' )}
  .container
    - if is_small_screen?
      .row
        - unless current_group.present?
          .col-xs-8
            함께 만드는
            %br
            %span.text-important 온라인 광장
            빠띠
        - if current_group.present?
          .col-xs-8
            %span.text-important 민주주의 플랫폼
            %br
            광주빠띠
        .col-xs-4
          = link_to '빠띠란?', about_path, class: 'btn top-banner-btn'
    - else
      - unless current_group.present?
        %span
          함께 만드는
          %span.text-important 온라인 광장
          빠띠
      - if current_group.present?
        %span
          %span.text-important 민주주의 플랫폼
          광주빠띠
      = link_to '빠띠란?', about_path, class: 'btn top-banner-btn'
