%section#top-banner
  .container
    - if is_small_screen?
      .row
        .col-xs-8
          %span
            %span.text-important> 시민
            이 모여
          %span
            %span.text-important> 이슈
            를
          %br
          %span
            해결하는
            %span.text-parti
              %span.text-important 온라인 광장
              빠띠
        .col-xs-4
          = link_to '빠띠란?', about_path, class: 'btn top-banner-btn'
    - else
      %span.text-important> 시민
      이 모여
      %span
      %span.text-important> 이슈
      를 해결하는
      %span.text-parti
        %span.text-important 온라인 광장
        빠띠
      = link_to '빠띠란?', about_path, class: 'btn top-banner-btn'
