- if current_group.nil?
  %section#top-banner
    .container
      - if is_small_screen?
        .row
          .col-xs-8
            덕업일치를 위한
            %br
            %span.text-important 오픈 커뮤니티
            빠띠
          .col-xs-4
            = link_to '빠띠란?', 'http://partiunion.org/platforms/parti', target: '_blank', class: 'btn top-banner-btn'

      - else
        %span
          덕업일치를 위한
          %span.text-important 오픈 커뮤니티
          빠띠
        = link_to '빠띠란?', 'http://partiunion.org/platforms/parti', target: '_blank', class: 'btn top-banner-btn'
