%section#top-banner
  .container
    - if is_small_screen?
      .row
        .col-xs-8
          함께 만드는
          %br
          %span.text-important 온라인 광장
          빠띠
        .col-xs-4
          = link_to '빠띠란?', about_path, class: 'btn top-banner-btn'
    - else
      %span
        함께 만드는
        %span.text-important 온라인 광장
        빠띠
      = link_to '빠띠란?', about_path, class: 'btn top-banner-btn'
