.webui-popover-content
  - if @post.survey.hidden_option_voters?
    총 #{@post.survey.feedback_users.count} 명
  - else
    .upvoted-users{id: "#{dom_id(@post.survey)}-feedback-users"}
      - @post.survey.feedback_users.each do |user|
        .user{ data: { controller: 'content-popover', 'content-popover': { url: user_front_members_path(user), options: h({ container: '.front-app' }.to_json) } } }
          .userimagebg{ style: "background-image: url(#{user.image.sm.url})" }
          .usernickname= user.nickname
