- content_for :content do
  .front-app
    .global-sidebar#front-app-global-sidebar{ data: { controller: 'content-loader', 'content-loader-url': front_navbar_path, 'turbolinks-permanent': true } }
    .group-sidebar
      .group-menu
        .title
          = current_group.title
      .channel-listings#front-app-channel-listings{ data: { controller: 'content-loader', 'content-loader-url': front_channel_listings_path(issue_id: @current_issue), 'turbolinks-permanent': true } }
    .front-playground
      - if content_for?(:playground_header_content)
        .playground-header
          = yield(:playground_header_content)
      .playground-body
        = yield

= render template: 'layouts/bpplication'