.simplebar-layout{ data: { controller: 'simplebar' }, style: 'width: 100%; height: 100%' }
  .simplebar-wrapper
    .simplebar-height-auto-observer-wrapper
      .simplebar-height-auto-observer
    .simplebar-mask
      .simplebar-offset
        .simplebar-content-wrapper
          .simplebar-content
            = yield
    .simplebar-placeholder
  .simplebar-track.simplebar-horizontal
    .simplebar-scrollbar
  .simplebar-track.simplebar-vertical
    .simplebar-scrollbar
