- members.each do |member|
  - user = member.user
  = render 'users/user', user: user, issue: local_assigns[:issue], group: local_assigns[:group], description: member.description, chevron_buttons_partial: 'users/chevron_buttons'

