@use '../main-variables';

.main-app .main-header {
  > .group-menu {
    position: relative;
    width: main-variables.$right-sidebar-width;
    height: main-variables.$header-height;
    line-height: main-variables.$header-height;
    float: left;
  }
}